<section class="termssection secSpace pt-0">
    <div class="container">


        <div class="titleWrap text-center">
            <h1 class="mainTitle">TERMS AND CONDITIONS</h1>
        </div>
        <div class="filterSec">
                <h2 class="subtitle">TERMS AND CONDITIONS</h2>
                <div class="discription">
                    <p>
                        We bring here information about how we collect and use our customers’ personal data when they
                        access our website. BRF SA will never sell its customers’ data nor allow third parties to have
                        access to their data without proper authorization, as explained in this policy.
                    </p>
                </div>
                <h2 class="subtitle">Who we are?</h2>
                <div class="discription">
                    <p>
                        BRF SA, registered with CNPJ under number 01.838.723 / 0001-27, is a Brazilian multinational
                        company with an address in the city of São Paulo - SP, located at Rua Hungria, 1.400, Jardim
                        Europa, CEP 01455-000.
                        <br> <br>
                        The brands “BRF”, “BRASIL FOODS”, “PERDIGÃO”, “QUALY”, “CLAYBOM”, “DELINE”, “KIDELLI”, “GUD PET”
                        and others related to the products and services referred to on our website are registered
                        trademarks or pending registration by BRF SA or other group companies.
                    </p>
                </div>
                <h2 class="subtitle">What data do we collect?</h2>
                <div class="discription">
                    <p>
                        We collect technical data for accessing the site - date and time of access and IP number.
                        <br> <br>
                        We also obtain your personally identifiable information, contact details and communications
                        information with us through fields filled in by the user on the website - name, email, phone
                        numbers, address, date of birth, CPF and how you would like to be called, plus subject, message
                        and attachments in case of communications
                        <br> <br>
                        In addition to the information we access, our website also collects information about your
                        browsing behavior on the website through cookies (see below).
                    </p>
                </div>
                <h2 class="subtitle">How do we collect your data?</h2>
                <div class="discription">
                    <p>
                        Your personally identifiable and contact information is collected only when you contact us
                        through the website.
                        <br><br>
                        The other information is collected automatically by simple access and navigation on our website,
                        including through cookies (see below).
                    </p>
                </div>
                <h2 class="subtitle">For what purposes do we use your data?</h2>
                <div class="discription">
                    <p>
                        We collect your personally identifiable and contact information for the purpose of returning
                        your contact with us and establishing communication regarding your doubts and inquiries. This
                        data will be kept with us for as long as necessary to serve this purpose.
                        <br><br>
                        In addition, we keep your IP numbers, which identify your devices on the Internet, along with
                        the date, time and duration of your access, for a period of 6 months of collection, as required
                        by the Civil Marco de Internet (Law No. 12.965 / 2014).
                    </p>
                </div>
                <h2 class="subtitle">What cookies are used?</h2>
                <div class="discription">
                    <p>
                        When you access our website, your computer receives some “cookies”, that is, text files through
                        which some information is collected and stored automatically by us and the companies with which
                        we work.
                    </p>
                </div>
                <h2 class="subtitle">Our website uses cookies for the following purposes:</h2>
                <div class="discription">
                    <p>
                        Functionalities: we use our own cookies to collect data from your device and system in order to
                        keep you connected and so that the website is presented in the most appropriate and optimized
                        way for your viewing - these cookies are retrieved at each visit to the website and have a
                        period expiration of 7 days. Analytics: We use third-party cookies to analyze your behavior as a
                        user of our website, so that we can identify underused links, navigation difficulties,
                        unfriendly functions, among other problems for our customers’ experience on our website - these
                        cookies expire as defined by the responsible companies, and we only have access to data without
                        identification (i.e. anonymized), which is sufficient for our analysis. Advertisers: we use
                        third-party cookies to obtain information about your preferences according to your browsing on
                        our website, including pages accessed, websites where you came from and where you went to,
                        identifier numbers, browser type and operating system, model and type of used device and device
                        identifier numbers, so that we can understand the impact of our campaigns - these cookies expire
                        as defined by the companies in question, and we only have access to unidentified (i.e.
                        anonymized) data, but part of the individualized information about you is collected by companies
                        to deliver advertising, including on other websites, according to their behavioral standards
                        when browsing the web. Your browser can be configured to refuse to receive cookies and has
                        functions to remove them at any time. Check the options and tools available in the respective
                        menu.
                    </p>
                </div>
                <h2 class="subtitle">How do we store your data?</h2>
                <div class="discription">
                    <p>
                        Your data will be safe on the cloud servers of our website, operated by companies located in
                        Brazil and duly contracted by BRF SA
                        <br><br>
                        We take the necessary precautions to prevent the loss and leakage of your data and control
                        access to the information we have about you by using appropriate technical and management
                        measures for the sensitivity of the information we control.
                    </p>
                </div>
                <h2 class="subtitle">Who else has access to your data?</h2>
                <div class="discription">
                    <p>
                        In addition to BRF SA itself and other companies in its economic group to the extent necessary
                        to achieve the specific purposes of our website listed above, the following companies will have
                        access to your data when you browse our website:
                        <br><br>
                        Advertising and digital solutions company that operates and manages our website under our
                        instructions. Customer relationship management platforms through which we manage the interaction
                        with our users. Cookies - we use third-party cookies to analyze website usage and advertising,
                        in the form of the specific topic in this document.
                    </p>
                </div>
                <h2 class="subtitle">What are my rights regarding the collection and use of my data?</h2>
                <div class="discription">
                    <p>
                        BRF SA guarantees the following rights to users with respect to the collection and use of data
                        through our website:
                        <br><br>
                        Confirmation of the existence of treatment of your personal data by BRF SA; access to data held
                        by BRF SA; the correction of any incomplete, inaccurate or outdated data; the blocking, deletion
                        or anonymization of unnecessary, excessive or treated data that does not comply with the law;
                        portability of your personal data to another company, upon express request, subject to our
                        commercial and industrial secrets and official regulations on the subject; the elimination, when
                        required, of the personal data collected through your consent, in accordance with the applicable
                        legislation; information from public and private entities with whom your data was shared;
                        information about the possibility of not giving your consent and about the consequences of the
                        refusal, in cases where your data are collected and processed with consent; and revoking your
                        consent to collect and process data in these same cases. Your rights can be exercised directly
                        through the website's options panel, if you have a registration, or by contacting our service
                        channels below.
                    </p>
                </div>
                <h2 class="subtitle">How can our privacy practices change?</h2>
                <div class="discription">
                    <p>
                        Our policies and practices regarding privacy and data protection are constantly reviewed and
                        updated to conform to the highest national and international standards, which can be changed at
                        any time. Our privacy notices will be updated to reflect such changes and their latest versions
                        will be posted on this page.
                        <br><br>
                        This policy was last updated on June 3, 2020.
                    </p>
                </div>
                <h2 class="subtitle">How to contact us?</h2>
                <div class="discription">
                    <p>
                        For any questions about our privacy policy, the data we have about you, or any other request or
                        complaint regarding your privacy or your rights related to this website, please contact the
                        person in charge of data processing personal information of BRF SA through the following
                        channels:
                        <br><br>
                        Access the website: <a href="">https://www.sadia.com</a> : Contact us and select the option: Request LGPD and
                        fill in the electronic form.
                        <br><br>
                        Phone: 0800 702 8800
                    </p>
                </div>
            </div>
        </div>
</section>