
<section class="mainContent-wraper">
    <div class="container">

        <div class="row" id="sidebarFrame">
            <div class="col-md-4 col-lg-3 Colapse_area">
                {{> sections/recipes/side-filter-inner}}
            </div>

            <div class="col-md-8 col-lg-9 contArea">
                {{> sections/recipes/recipes-list}}
            </div>
        </div>

    </div>
</section>
