
<section class="">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                {{> sections/recipes/side-filter}}
            </div>

            <div class="col-md-8">
                {{> sections/recipes/recipes}}
            </div>
        </div>

    </div>
</section>
