
<section class="mainContent-wraper">
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-lg-3 leftarea">
                {{> sections/recipes/side-filter}}
            </div>

            <div class="col-md-8 col-lg-9 contArea">
                {{> sections/recipes/recipes}}
            </div>
        </div>

    </div>
</section>
