
<section class="prdctDetailwrap bgGrey">
    <div class="container">
        <div class="row">

            <div class="col-md-6 mobVis">
                <div class="prdctInfo-wrap">
                    <div class="titleWrap">
                        <h2 class="mainTitle">Featured Product</h2>
                        <div class="tags">
                            <p>Whole Chicken</p>
                        </div>
                        <div class="descp">
                            <p>
                                Transform a simple meal into a gastronomic experience with our high-quality products and easy recipes. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 prdctSlider"> 
                <div class="recp_detailImg">
                    <img src="./assets/images/recipes/detail.png" class="img-fluid sliderImg" alt="Image 1">
                </div>
            </div>
            

            <div class="col-md-6">
                <div class="prdctInfo-wrap">
                    <div class="titleWrap mobHide">
                        <div class="tags">
                            <p>Pakistani</p>
                        </div>
                        <div class="tags">
                            <p>Indian</p>
                        </div>

                        <h2 class="mainTitle">Sadia Biryani with Chicken Drumsticks</h2>

                        <div class="descp">
                            <p>
                                Transform a simple meal into a gastronomic experience with our high-quality products and easy recipes. 
                            </p>
                        </div>
                    </div>
                    
                    <div class="dtlsWraper">
                        <h4 class="subTitles">Preparation Methods</h4>
                        <div class="boxGrids row">
                            <div class="col-md-6 divSect">
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_1.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">Grilling</p>
                                </div>
                            </div>
                            <div class="col-md-6 divSect">
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_2.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">Boiling</p>
                                </div>
                            </div>
                            <div class="col-md-6 divSect">
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_3.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">Oven</p>
                                </div>
                            </div>
                            <div class="col-md-6 divSect">
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_4.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">Pan Fry</p>
                                </div>
                            </div>
                        </div>

                        <div class="boxGrids row">
                            <div class="col-md-6 divSect">
                                <h4 class="subTitles">Shelf Life</h4>
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_5.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">10 Days</p>
                                </div>
                            </div>
                            <div class="col-md-6 divSect">
                                <h4 class="subTitles">Storage</h4>
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_6.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">Fridge</p>
                                </div>
                            </div>
                        </div>

                        <h4 class="subTitles benifts-tit">Product Benefits</h4>
                        <ul class="benefits">
                            <li>
                                <span class="iconSpc"><img src="./assets/images/icons/benifitIc-1.svg" class="img-fluid" alt="icons"></span>
                                <p class="titles">Free from Hormones and Preservatives</p>
                            </li>
                            <li>
                                <span class="iconSpc"><img src="./assets/images/icons/benifitIc-2.svg" class="img-fluid" alt="icons"></span>
                                <p class="titles">Freshly Frozen to Preserve Nutrients</p>
                            </li>
                        </ul>

                        <div class="nutritionWtraper">
                            <h6 class="titles">Nutrition Facts</h6>
                            <div class="contSect">
                                <div class="descp qty">
                                    <p>Average Quantities per 100G</p>
                                </div>

                                <table class="tableStyle">
                                    <thead>
                                        <th>Total Calories</th>
                                        <th>203</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Total Fat</td>
                                            <td>15G</td>
                                        </tr>
                                        <tr>
                                            <td>Sodium</td>
                                            <td>393mg</td>
                                        </tr>
                                        <tr>
                                            <td>Total Carbohydrates</td>
                                            <td>0g</td>
                                        </tr>
                                        <tr>
                                            <td>Protein</td>
                                            <td>18g</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="descp mt-4 mb-1">
                                    <p>The % Daily Value (DV) Tells you how much a nutrient in a serving of food contributes to a daily diet 2000 calories a day is used for general nutrition advice</p>
                                </div>
                                <div class="descp info mt-4">
                                    <p>The Product Sheilf Life is 12 Months and adviced to be stored in tempreture -18C degrees</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

