
<section class="prdctDetailwrap bgGrey">
    <div class="container">
        <div class="row">

            <div class="col-md-6 mobVis">
                <div class="prdctInfo-wrap">
                    <div class="titleWrap">
                        <div class="tags">
                            <p>Pakistani</p>
                        </div>
                        <div class="tags">
                            <p>Indian</p>
                        </div>

                        <h1 class="mainTitle">
                            Sadia Biryani with<br> Chicken Drumsticks
                        </h1>

                        <div class="descp">
                            <p>
                                With <a href="#">Sadia Chicken Griller</a>, your meal will be a winner. Well-raised and fed, it’s cleaned and immediately frozen to preserve nutrients, vitamins and freshness. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 prdctSlider"> 
                <div class="recp_detailImg">
                    <img src="./assets/images/recipes/detail.png" class="img-fluid sliderImg" alt="Image 1">
                </div>
            </div>
            

            <div class="col-md-6">
                <div class="prdctInfo-wrap recipies">
                    <div class="titleWrap mobHide">
                        <div class="tags">
                            <p>Pakistani</p>
                        </div>
                        <div class="tags">
                            <p>Indian</p>
                        </div>

                        <h1 class="mainTitle">
                            Sadia Biryani with<br> Chicken Drumsticks
                        </h1>

                        <div class="descp">
                            <p>
                                With <a href="#">Sadia Chicken Griller</a>, your meal will be a winner. Well-raised and fed, it’s cleaned and immediately frozen to preserve nutrients, vitamins and freshness. 
                            </p>
                        </div>
                    </div>
                    
                    <div class="dtlsWraper">
                        <div class="boxGrids row">
                            <div class="col-md-4 divSect">
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/difficult.svg" class="img-fluid icons" alt="icons">
                                    </div>

                                    <div class="range-filter">
                                        <label class="titles">Difficulty</label>
                                        <div class="price-range-slider" id="price-range-sliders">                                        
                                            <div id="slider-ranges" class="range-bar"></div>
                                            <div class="range-labels d-none">
                                                <span class="names">Easy</span>
                                                <span class="names">Difficulty</span>
                                                <span class="names">Hard</span>
                                            </div> 
                                        </div>
                                    </div>
                                    
                                </div>    
                            </div>
                            <div class="col-md-4 divSect">
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_5.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">Cooking Time</p>
                                    <p class="subtitles">15 Minutes</p>
                                </div>
                            </div>
                            <div class="col-md-4 divSect">
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_1.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">Grilling</p>
                                </div>
                            </div>
                        </div>

                        <div class="nutritionWtraper">
                            <h3 class="titles">Ingredients you need</h3>
                            <div class="contSect">

                                <table class="tableStyle">
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Chicken Drumsticks</a></td>
                                            <td>500g</td>
                                        </tr>
                                        <tr>
                                            <td>Basmati Rice</td>
                                            <td>250g</td>
                                        </tr>
                                        <tr>
                                            <td>Cup Yogurt</td>
                                            <td>1½</td>
                                        </tr>
                                        <tr>
                                            <td>Onions, Thinly Sliced</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>Red Chili Powder</td>
                                            <td>1 TSP</td>
                                        </tr>
                                        <tr>
                                            <td>Lime Juice</td>
                                            <td>1 TSP</td>
                                        </tr>
                                        <tr>
                                            <td>Garlic Cloves, Finely Chopped</td>
                                            <td>2-3</td>
                                        </tr>
                                        <tr>
                                            <td>Fresh Ginger, Peeled and Finely Chopped</td>
                                            <td>2 cm</td>
                                        </tr>
                                        <tr>
                                            <td>Cup Fresh Coriander Leaves, Finely Chopped</td>
                                            <td>¼</td>
                                        </tr>
                                        <tr>
                                            <td>Cinnamon Stick</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>Small Green Cardamom Pods</td>
                                            <td>3-4</td>
                                        </tr>
                                        <tr>
                                            <td>Cloves</td>
                                            <td>4-5</td>
                                        </tr>
                                        <tr>
                                            <td>Saffron Strands</td>
                                            <td>20</td>
                                        </tr>
                                        <tr>
                                            <td>Cup Milk</td>
                                            <td>¼</td>
                                        </tr>
                                        <tr>
                                            <td>Ghee</td>
                                            <td>3-4 TSP</td>
                                        </tr>
                                        <tr>
                                            <td>Salt</td>
                                            <td>As Desired</td>
                                        </tr>
                                         <tr>
                                            <td>Crispy Onions for Garnish</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>Pomegranate Seeds</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="directions">
                            <h3 class="subTitles">Cooking directions</h3>
                            <div class="descp mt-4">
                                <p>This recipe guides you through marinating the chicken to infuse it with spices, cooking the rice to fluffy perfection, and layering everything together for a rich, flavourful chicken biryani. Whether you're a seasoned cook or a beginner, these simple steps will help you create a stunning and aromatic dish that will impress your family and friends. Let's cook it up!</p>
                            </div>
                            <ol class="custom-list">
                                <li>
                                    Heat the ghee in a pan and add the onions & fry until they are dark brown but not burned.
                                </li>
                                <li>
                                    Drain the crispy onions from the ghee and set aside.
                                </li>
                                <li>
                                    To marinate the chicken: Mix in a bowl the yogurt, lime juice, garlic, ginger, salt, chili powder, half of the cilantro, half of the fried onions, and the leftover ghee.
                                </li>
                                <li>
                                    Add <a href="#">Sadia Chicken Drumsticks</a>  to the bowl and mix well to fully the chicken with the marination.
                                </li>
                                <li>
                                    Set a large pan on low heat and cook the chicken for 20-25 minutes or until the chicken is tender.
                                </li>
                                <li>
                                    Remove cooked chicken form heat and set aside.
                                </li>
                                <li>
                                    Soak the saffron in milk and set aside.
                                </li>
                                <li>
                                    Soak the rice in boiled water with salt, cardamom, cloves, bay leaves, cinnamon stick and set aside.
                                </li>
                                <li>
                                    Grease the bottom of a deep pot with ghee then add the soaked rice. Pour the saffron milk then arrange the drumsticks on top.
                                </li>
                                <li>
                                    Put the pot on low heat. Cover and cook for 15-20 minutes.
                                </li>
                                <li>
                                    Press some rice into a small bowl and flip it on a serving plate. Remove the bowl and lay 2 drumsticks next to it.
                                </li>
                                <li>
                                    Garnish with crispy onion, fresh coriander, and pomegranate seeds.  <strong>Enjoy!</strong> 
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

