<div id="allsections">
    <section class="popular-section rptBoxs-des">
        <div class="titleWrap titleSpace" id="maintitle">
            <h3 class="mainTitle">Back to School</h3>
            <div class="btnSpc">
                <a href="#" class="btn btn-more">View All</a>
            </div>
        </div>

        <div class="listSpace">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/list-1.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Tikka Masala</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/list-2.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Sadia Biryani with Chicken Drumsticks</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/list-3.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Korean Fried Chicken</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{!-- Back to School End --}}


    <section id="mostsearched" class="popular-section rptBoxs-des">
        <div class="titleWrap titleSpace">
            <h3 class="mainTitle">Most Searched</h3>
            <div class="btnSpc">
                <a href="#" class="btn btn-more">View All</a>
            </div>
        </div>

        <div class="listSpace">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/list-4.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Nashville Chicken</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/list-5.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Chicken Fajita Quesadilla</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/list-6.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Pepper Beef Stir Fry</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{!-- Most Searched End --}}

    <section id="airfryer" class="popular-section rptBoxs-des">
        <div class="titleWrap titleSpace">
            <h3 class="mainTitle">Airfryer</h3>
            <div class="btnSpc">
                <a href="#" class="btn btn-more">View All</a>
            </div>
        </div>

        <div class="listSpace">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/list-7.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Cold Cut Sandwitches</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/list-8.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Honey BBQ Chicken</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/list-9.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>One Pot Chicken Biryani</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{!-- Airfryer End --}}
</div>
<div class="listSpace" id="listspace">
    <div class="row" id="defaultlistspace">

    </div>
    <div class="btnSpace text-center">
        <button data-api="https://sadialife-dev.azurewebsites.net/Umbraco/api/data/GetRecipes" data-limit="1"
            data-offset="0" id="listingShowMore" style="display: none;" class="btn btn-more">Show More</button>
    </div>
</div>