
<section class="sideFilter" id="toggleSection">

    <div class="topArea">
        <h6 class="filTxt">Filter by:</h6>
        
        <button class="btn resetBtn">
            Reset <img src="./assets/images/icons/reset.svg" class="img-fluid" alt="img">
        </button>
    </div>

    <div class="filterWrap catgSpc">
        <label class="subTitles">Meal Type</label>
        <div class="categ_filter filterWrap">
            <a href="#" class="btn filBtn">Breakfast</a>
            <a href="#" class="btn filBtn">Lunch</a>
            <a href="#" class="btn filBtn">Dinner</a>
        </div>
    </div>

    <div class="spDivs">
        <div class="range-filter">
            <label class="subTitles">Difficulty</label>
            <div class="price-range-slider" id="price-range-slider">
                <p class="range-value">
                    <input type="text" id="amount" readonly>
                </p>
                <div id="slider-range" class="range-bar"></div>
            </div>
        </div>

        {{!-- 
        <label class="subTitles">Preparation Time</label>
        <div class="range-labels">
            <span>Easy</span>
            <span>Medium</span>
            <span>Hard</span>
        </div> --}}
        <!-- Range Slider -->
        {{!-- <input type="range" class="form-range range-slider"  step="3" id="customRange"> --}}
    </div>

    <div class="form-group">
        <label class="subTitles">Cuisine</label>
        <select class="form-select">
            <option>Select Cuisine</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles">Product Ingredients</label>
        <select class="form-select">
            <option>Select Ingredient</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles">Dietary Needs</label>
        <select class="form-select">
            <option>Select Dietary Needs</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles">Occasion</label>
        <select class="form-select">
            <option>Select Occasion</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles">Season</label>
        <select class="form-select">
            <option>Select Season</option>
        </select>
    </div>

    <div class="cookBox">
        <div class="imgIcon">
            <img src="./assets/images/icons/cook.png" class="img-fluid" alt="img">
        </div>
        <div class="contPart">
            <h5>Let’s cook!</h5>
            <p>
                Tell us what’s in your pantry, we’ll help you find a recipe.
            </p>
        </div>
    </div>
    

   

</section>
