<section class="sideFilter">

    <div class="topArea">
        <h6 class="filTxt">Filter by:</h6>
    </div>

    <div class="filterWrap catgSpc">
        <label class="subTitles">Meal Type</label>
        <div class="categ_filter filterWrap">
            <a data-id="" class="btn filBtn">Breakfast</a>
            <a data-id="" class="btn filBtn">Lunch</a>
            <a data-id="" class="btn filBtn">Dinner</a>
            <a data-id="" class="btn filBtn">Lunch</a>
            <a data-id="" class="btn filBtn">Dinner</a>
            <a data-id="" class="btn filBtn">Breakfast</a>
            <a data-id="" class="btn filBtn">Lunch</a>
            <a data-id="" class="btn filBtn">Dinner</a>
            <a data-id="" class="btn filBtn">Lunch</a>
            <a data-id="" class="btn filBtn">Dinner</a>
            <a data-id="1543" class="btn filBtn">Breakfast</a>
            <a data-id="1544" class="btn filBtn">Lunch</a>
            <a data-id="1545" class="btn filBtn">Dinner</a>
            <a data-id="" class="btn filBtn">Lunch</a>
            <a data-id="" class="btn filBtn">Dinner</a>
        </div>
    </div>

    <div class="spDivs pb-0"> 
        <div class="form-group">
            <label class="subTitles">Difficulty</label>
            <select class="form-select" id="difficultySelect">
                <option value="">Select Difficulty</option>
                <option value="555">Easy</option>
                <option value="666">Medium</option>
                <option value="777">Hard</option>
            </select>
        </div>

        <div class="form-group">
            <label class="subTitles">Preparation Time</label>
            <select class="form-select" id="preparationSelect">
                <option value="">Select Time</option>
                <option value="5">5 Mins</option>
                <option value="30">30 Mins</option>
                <option value="60">60 Mins</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="subTitles">Cuisine</label>
        <select class="form-select" id="cuisineselect">
            <option value="">Select Cuisine</option>
            <option value="1515">International</option>
            <option value="1516">American</option>
            <option value="1517">Arabic</option>
            <option value="1518">Italian</option>
            <option value="1519">Mexican</option>
            <option value="1520">Chinese</option>
            <option value="1521">Indian</option>
            <option value="1522">Pakistani</option>
            <option value="1523">Korean</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles" for="dietary-needs">Dietary Needs</label>
        <select class="form-select" id="dietary-needs">
            <option value="">Select Dietary Needs</option>
            <option value="1527">Chicken</option>
            <option value="1528">Beef</option>
            <option value="1514">Vegetarian</option>
            <option value="1514">Vegan</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles" for="occasion">Occasion</label>
        <select class="form-select" id="occasion">
            <option value="">Select Occasion</option>
            <option value="1530">Ramadan</option>
            <option value="1531">Eid</option>
            <option value="1532">Back to School</option>
            <option value="1533">Diwali / Christmas</option>
            <option value="1534">TBC</option>
            <option value="1535">Special moments</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles" for="season">Preparation Style</label>
        <select class="form-select" id="preparation-style">
            <option value="">Select</option>
            <option value="1537">Ramadan</option>
            <option value="1538">Eid</option>
            <option value="1539">Back to School</option>
            <option value="1540">Diwali / Christmas</option>
            <option value="1541">TBC</option>
            <option value="1542">Special moments</option>
        </select>
    </div>

    <div class="btnSpace">
        <button class="btn resetBtn" id="resetButton">
            Reset <img src="./assets/images/icons/reset.svg" class="img-fluid" alt="img">
        </button>
        <button id="submit-button" data-api="https://brf-app-website-sadia-life-qas.azurewebsites.net/Umbraco/api/data/GetRecipes" data-offset="0" data-limit="3" class="btn resetBtn submit"> Apply</button>
    </div>

</section>