<section class="sideFilter">

    <div class="topArea">
        <h6 class="filTxt">Filter by:</h6>

        <button class="btn resetBtn" id="resettopbutton">
            Reset <img src="./assets/images/icons/reset.svg" class="img-fluid" alt="img">
        </button>
    </div>

    <div class="filterWrap catgSpc">
        <label class="subTitles">Meal Type</label>
        <div class="categ_filter filterWrap">
            <a data-id="1543" class="btn filBtn">Breakfast</a>
            <a data-id="1544" class="btn filBtn">Lunch</a>
            <a data-id="1545" class="btn filBtn">Dinner</a>
            <a data-id="1546" class="btn filBtn">Snacks</a>
        </div>
    </div>


    <div class="spDivs">
        <div class="range-filter no-dot">
            <label class="subTitles">Difficulty</label>
            <div class="price-range-slider" id="difficulty-range-sliders">
                <p class="range-value">
                    <input type="text" id="amount" readonly>
                </p>
                <div id="difficulty-range" class="range-bar"></div>
                <div class="range-labels">
                    <span data-id="1526" class="names">Easy</span>
                    <span data-id="1527" class="names">Medium</span>
                    <span data-id="1528" class="names">Hard</span>
                </div>
            </div>
        </div>

        <div class="range-filter no-dot">
            <label class="subTitles">Preparation Time</label>
            <div class="price-range-slider" id="preparation-range-slider">
                <div id="preparation-range" class="range-bar"></div>
                <div class="range-labels">
                    <span data-id="5" class="names">5 Mins</span>
                    <span data-id="30" class="names">30 Mins</span>
                    <span data-id="60" class="names">60 Mins</span>
                    <span data-id="90" class="names">90 Mins</span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="subTitles">Cuisine</label>
        <select class="form-select" id="cuisineselect">
            <option value="1514">Select Cuisine</option>
            <option value="1515">International</option>
            <option value="1516">American</option>
            <option value="1517">Arabic</option>
            <option value="1518">Italian</option>
            <option value="1519">Mexican</option>
            <option value="1520">Chinese</option>
            <option value="1521">Indian</option>
            <option value="1522">Pakistani</option>
            <option value="1523">Korean</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles" for="dietary-needs">Dietary Needs</label>
        <select class="form-select" id="dietary-needs">
            <option value="1526">Select Dietary Needs</option>
            <option value="1527">Chicken</option>
            <option value="1528">Beef</option>
            <option value="1514">Vegetarian</option>
            <option value="1514">Vegan</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles" for="occasion">Occasion</label>
        <select class="form-select" id="occasion">
            <option value="1529">Select Occasion</option>
            <option value="1530">Ramadan</option>
            <option value="1531">Eid</option>
            <option value="1532">Back to School</option>
            <option value="1533">Diwali / Christmas</option>
            <option value="1534">TBC</option>
            <option value="1535">Special moments</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles" for="season">Preparation Style</label>
        <select class="form-select" id="preparation-style">
            <option value="1536">Select</option>
            <option value="1537">Ramadan</option>
            <option value="1538">Eid</option>
            <option value="1539">Back to School</option>
            <option value="1540">Diwali / Christmas</option>
            <option value="1541">TBC</option>
            <option value="1542">Special moments</option>
        </select>
    </div>


    {{!-- <div class="cookBox">
        <div class="imgIcon">
            <img src="./assets/images/icons/cook.png" class="img-fluid" alt="img">
        </div>
        <div class="contPart">
            <h5>Let’s cook!</h5>
            <p>
                Tell us what’s in your pantry, we’ll help you find a recipe.
            </p>
        </div>
    </div> --}}

    <div class="btnSpace">
        <button class="btn resetBtn" id="resetButton">
            Reset <img src="./assets/images/icons/reset.svg" class="img-fluid" alt="img">
        </button>
        <button id="submit-button" data-api="https://sadialife-dev.azurewebsites.net/Umbraco/api/data/GetRecipes" data-offset="0" data-limit="3" class="btn resetBtn submit"> Submit</button>
    </div>



</section>