
<section class="sideFilter">
    <div class="container">

        <div class="">

        <label>Preparation Time</label>
        <!-- Displaying Current Value -->
        {{!-- <div class="text-center mt-3">
            <span id="rangeValue">50</span>
        </div> --}}

        <!-- Range Slider Container with Overlay for Fill -->
        {{!-- <div class="position-relative">
            <div class="range-slider-fill" id="sliderFill"></div> <!-- Overlay for fill -->
            <input type="range" class="form-range range-slider position-relative" min="0" max="100" step="1" id="customRange" style="z-index: 0;">
        </div> --}}

         <!-- Slider Labels -->
        {{!-- <div class="range-labels d-flex justify-content-between">
            <span>5 Mins</span>
            <span>30 Mins</span>
            <span>60 Mins</span>
        </div> --}}


        <div class="price-range-slider">
  
            <p class="range-value">
                <input type="text" id="amount" readonly>
            </p>
            <div id="slider-range" class="range-bar"></div>
  
        </div>

        
    </div>
         

{{!-- 
        <div class="range-labels">
            <span>Easy</span>
            <span>Medium</span>
            <span>Hard</span>
        </div> --}}
        <!-- Range Slider -->
        {{!-- <input type="range" class="form-range range-slider"  step="3" id="customRange"> --}}
   
    </div>
</section>
