
<section class="productFilter recpFilt">
    <div class="container">

        <div class="filterSec">
            <div class="filterWrap catgSpc">
                <div class="categ_filter">
                    <div class="filt-catSpc" id="filt-catSpc">
                        <button type="button" id="toggleButton" class="btn filToggle active">
                            <img class="icons filtIcon" src="./assets/images/icons/filter.svg" alt="filter">
                            <p>Filter</p>
                            <img class="icons arwIcon" src="./assets/images/icons/chevron-left.svg" alt="filter">
                        </button>
                    </div>

                    <a href="#" class="btn filBtn active">All</a>
                    <a href="#" class="btn filBtn">Airfryer</a>
                    <a href="#" class="btn filBtn">Quick & Easy</a>
                    <a href="#" class="btn filBtn">Regional</a>
                    <a href="#" class="btn filBtn">Instant pot</a>
                    <a href="#" class="btn filBtn">Top Searched</a>
                </div>

                <div class="filterSection postDiv">
                    <select class="form-select">
                        <option>Popular</option>
                        <option>New</option>
                    </select>

                    <!-- Search bar section Start -->
                    <div class="search-bar-container">
                        <form class="d-flex locatSearch">
                            <input id="searchInpts" class="form-control search-bar" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline serLoc" type="button">
                                <img src="./assets/images/icons/Search.svg" loading="lazy" alt="Search">
                            </button>
                            <button class="btn btn-outline cl_ser" type="button" style="display: none;"><img src="./assets/images/icons/s_close.svg" loading="lazy" alt="Search"></button> 
                        </form>
                    </div>
                    <!-- Search bar section End-->
                </div>
                  
            </div>
        </div>
        {{!-- FILTER-END --}}

    </div>
</section>
