
<section class="productFilter secSpace pt-0">
    <div class="container">

        <div class="filterSec">
            <div class="filterWrap catgSpc">
                <div class="categ_filter">
                    <a href="#" class="btn filBtn" data-toggle="portfilter">All</a>
                    <a href="#" class="btn filBtn" data-toggle="portfilter">Whole Chicken</a>
                    <a href="#" class="btn filBtn active" data-toggle="portfilter">Chicken Parts</a>
                    <a href="#" class="btn filBtn" data-toggle="portfilter">Breaded</a>
                    <a href="#" class="btn filBtn" data-toggle="portfilter">Burger Patties</a>
                    <a href="#" class="btn filBtn" data-toggle="portfilter">Vegetables</a>
                    <a href="#" class="btn filBtn" data-toggle="portfilter">Fires</a>
                    <a href="#" class="btn filBtn" data-toggle="portfilter">Franks & Shawerma</a>
                    <a href="#" class="btn filBtn" data-toggle="portfilter">Kids</a>
                </div>

                <select class="form-select">
                    <option>Popular</option>
                    <option>New</option>
                </select>
            </div>
        </div>
        {{!-- FILTER-END --}}

    </div>
</section>
