
{{!-- TITLE START --}}
<section class="campTitles hacksDtl-title">
    <div class="container">
        <div class="titleWrap text-center">
            <div class="mainTitle">
                <p>
                    How to shred the chicken<br>
                    with a hand mixer fast
                </p>
            </div>
        </div>
    </div>
</section>
{{!-- TITLE END --}}


{{!-- SECTION START --}}
<section class="campaignBxWraper hacksDtl">
    <div class="container">
        <div class="row align-items-center bxOuter">
            <div class="camp_bximg pr-0 col-md-6">
               <div class="img-box">
                    <img src="./assets/images/recipes/hacks-dtl1.png" loading="lazy" class="img-fluid bxImg" alt="img">
                </div>
            </div>
            <div class="contBoxs col-md-6">
                <div class="numCount">
                    <p>1/3</p>
                </div>
                <h3 class="subitle">This is the step title</h3>
                <p class="descp">
                    With Sadia Chicken Griller, your meal will be a winner. Well-raised and fed, it’s cleaned and immediately frozen to preserve nutrients, vitamins and freshness.
                </p>

            </div>
        </div>
    </div>
</section>
{{!-- SECTION END --}}


{{!-- SECTION START --}}
<section class="campaignBxWraper reverBx hacksDtl">
    <div class="container">
        <div class="row align-items-center bxOuter">
            <div class="contBoxs col-md-6">
                <div class="numCount">
                    <p>2/3</p>
                </div>
                <h3 class="subitle">This is the step title</h3>
                <p class="descp">
                    With Sadia Chicken Griller, your meal will be a winner. Well-raised and fed, it’s cleaned and immediately frozen to preserve nutrients, vitamins and freshness.
                </p>
            </div>
            <div class="camp_bximg pl-0 col-md-6">
                <div class="img-box">
                    <img src="./assets/images/recipes/hacks-dtl2.png" loading="lazy" class="img-fluid bxImg" alt="img">
                </div>
            </div>
            
        </div>
    </div>
</section>
{{!-- SECTION END --}}


{{!-- SECTION START --}}
<section class="campaignBxWraper hacksDtl">
    <div class="container">
        <div class="row align-items-center bxOuter">
            <div class="camp_bximg pr-0 col-md-6">
                <div class="img-box">
                    <img src="./assets/images/recipes/hacks-dtl3.png" loading="lazy" class="img-fluid bxImg" alt="img">
                </div>
            </div>
            <div class="contBoxs col-md-6">
                <div class="numCount">
                    <p>3/3</p>
                </div>
                <h3 class="subitle">This is the step title</h3>
                <p class="descp">
                    With Sadia Chicken Griller, your meal will be a winner. Well-raised and fed, it’s cleaned and immediately frozen to preserve nutrients, vitamins and freshness.
                </p>
            </div>
            
        </div>
    </div>
</section>
{{!-- SECTION END --}}