
<section class="popular-section rptBoxs-des cookingHacks">
    <div class="listSpace">    
        <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/cook1.png" loading="lazy" class="mainImg" alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Shred chicken with a hand mixer</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/cook2.png" loading="lazy" class="mainImg" alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Marinate it in yogurt to make it more tender</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/cook3.png" loading="lazy" class="mainImg" alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Spatchcock the chicken to decrease cooking time</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/cook4.png" loading="lazy" class="mainImg" alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Marinate it in yogurt to make it more tender</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/cook5.png" loading="lazy" class="mainImg" alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Shred chicken with a hand mixer</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/cook6.png" loading="lazy" class="mainImg" alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Spatchcock the chicken to decrease cooking time</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/cook7.png" loading="lazy" class="mainImg" alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Shred chicken with a hand mixer</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/cook8.png" loading="lazy" class="mainImg" alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Marinate it in yogurt to make it more tender</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/cook9.png" loading="lazy" class="mainImg" alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Season your chicken with a resealable bag</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
        <div class="btnSpc categList">
            <a href="#" class="btn btn-more">Show More</a>
        </div>
    </div>  
</section>


