<section class="cookingHacks secSpace relatedHacks-dtl">
    <div class="container">

         <div class="titleWrap text-center">
            <h2 class="mainTitle">Related Hacks</h2>
        </div>

        <!-- Add a wrapper with overflow-x for horizontal scrolling -->
        <div class="row horizontal-scroll">
            <div class="col-12">
                <div class="d-flex flex-nowrap">
                    <div class="card me-4">
                        <a href="#">
                            <div class="cardImg">
                                <img src="./assets/images/recipes/hacks_1.png" loading="lazy" class="mainImg" alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                   Season your chicken with a<br/> resealable bag
                                </h5>
                            </div>
                        </a>
                    </div>
                
                    <div class="card me-4">
                        <a href="#">
                            <div class="cardImg">
                                <img src="./assets/images/recipes/hacks_2.png" loading="lazy" class="mainImg" alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Shred chicken with a hand mixer
                                </h5>
                            </div>
                        </a>
                    </div>
                
                    <div class="card me-4">
                        <a href="#">
                            <div class="cardImg">
                                <img src="./assets/images/recipes/hacks_3.png" loading="lazy" class="mainImg" alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Marinate it in yogurt to make<br/> it more tender
                                </h5>
                            </div>
                        </a>
                    </div>

                    <div class="card me-4">
                        <a href="#">
                            <div class="cardImg">
                                <img src="./assets/images/recipes/cook6.png" loading="lazy" class="mainImg" alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Spatchcock the chicken to<br/> decrease cooking time
                                </h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="text-center mt-4">
            <a href="#" class="btn btn-more" id="viewMoreHack">View More Hacks</a>
        </div>
    </div>
</section>