
<section class="sideFilter">
    <div class="form-group">
        <label class="subTitles">Recipe</label>
        <select class="form-select">
            <option>Select Recipe</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles">Occasion</label>
        <select class="form-select">
            <option>Select Occasion</option>
            <option>Ramadan</option>
            <option>Eid</option>
            <option>Back to School</option>
            <option>Diwali / Christmas</option>
            <option>TBC</option>
            <option>Special moments</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles">Product</label>
        <select class="form-select">
            <option>Select Product</option>
        </select>
    </div>

    <div class="btnSpace">
        <button class="btn resetBtn">
            Reset <img src="./assets/images/icons/reset.svg" class="img-fluid" alt="img">
        </button>
        <button class="btn resetBtn submit"> Submit</button>
    </div>
</section>
