
<section class="sideFilter">


    <div class="form-group">
        <label class="subTitles">Recipe</label>
        <ul class="list-unstyled ct_dropdown"  id="recipeselect">
            <li class="init">Select Recipe</li>
            <li value="1199">Tikka Masala</li>
            <li value="1582">Garlic Butter Roasted Chicken With Green Beans</li>
            <li value="1583">Tender Chicken Breasts And Vegetables Pan</li>
            <li value="1584">Parmesan Chicken Tenders</li>
            <li value="1203">Pepper Beef Stir Fry</li>
            <li value="1511">Nashville Chicken</li>
            <li value="1515">Chicken Fajita Quesadilla</li>
            <li value="1521">Cold Cut Sandwitches</li>
            <li value="1594">Honey BBQ Chicken</li>
            <li value="1595">One Pot Chicken Biryani</li>
            <li value="1585">Lemon Chicken Thighs</li>
            <li value="1586">Fried Chicken Liver with Pomegranate</li>
            <li value="1587">BBQ Fried Wings with Mixed Vegetables</li>
            <li value="1588">Broasted Chicken Caesar Salad</li>
            <li value="1589">Chicken Nuggets with Mashed Potato and Mixed Vegetables</li>
            <li value="1590">Onion Beef Burger</li>
            <li value="1591">Stir Fry chicken franks and mixed vegetables with corn</li>
            <li value="1592">Crunchy Sticks Skewers</li>
            <li value="1593">Garlic Butter Roasted Chicken With Green Beans</li>
        </ul>
    </div>



    {{!-- <div class="form-group">
        <label class="subTitles">Recipe</label>
        <select class="form-select" id="recipeselect">
            <option>Select Recipe</option>
            <option value="1199">Tikka Masala</option>
            <option value="1582">Garlic Butter Roasted Chicken With Green Beans</option>
            <option value="1583">Tender Chicken Breasts And Vegetables Pan</option>
            <option value="1584">Parmesan Chicken Tenders</option>
            <option value="1203">Pepper Beef Stir Fry</option>
            <option value="1511">Nashville Chicken</option>
            <option value="1515">Chicken Fajita Quesadilla</option>
            <option value="1521">Cold Cut Sandwitches</option>
            <option value="1594">Honey BBQ Chicken</option>
            <option value="1595">One Pot Chicken Biryani</option>
            <option value="1585">Lemon Chicken Thighs</option>
            <option value="1586">Fried Chicken Liver with Pomegranate</option>
            <option value="1587">BBQ Fried Wings with Mixed Vegetables</option>
            <option value="1588">Broasted Chicken Caesar Salad</option>
            <option value="1589">Chicken Nuggets with Mashed Potato and Mixed Vegetables</option>
            <option value="1590">Onion Beef Burger</option>
            <option value="1591">Stir Fry chicken franks and mixed vegetables with corn</option>
            <option value="1592">Crunchy Sticks Skewers</option>
            <option value="1593">Garlic Butter Roasted Chicken With Green Beans</option>
        </select>
    </div> --}}

    <div class="form-group">
        <label class="subTitles">Occasion</label>
        <select class="form-select" id="occasionselect">
            <option value="">Select Occasion</option>
            <option value="1550">Ramadan</option>
            <option value="1551">Eid</option>
            <option value="1552">Back to School</option>
            <option value="1553">Diwali / Christmas</option>
            <option value="1554">TBC</option>
            <option value="1555">Special moments</option>
        </select>
    </div>

    <div class="form-group">
        <label class="subTitles">Product</label>
        <select class="form-select" id="productselect">
            <option value="">Select Product</option>
            <option value="1174">product 1</option>
            <option value="1353">product 2</option>

        </select>
    </div>

    <div class="btnSpace">
        <button class="btn resetBtn" id="resetButton">
            Reset <img src="./assets/images/icons/reset.svg" class="img-fluid" alt="img">
        </button>
        <button id="submit-button" data-api="https://brf-app-website-sadia-life-qas.azurewebsites.net/Umbraco/api/data/GetCookingHacks" data-offset="0" data-limit="1" class="btn resetBtn submit"> Submit</button>
    </div>
</section>
