<section class="productList searchList">
    <div class="container">
        <div class="row rowDiv" id="sections-container">
            
        </div>
        {{!-- <div class="btnSapce text-center">
            <a id="searchProductShowMore" class="btn btn-more btnBor">Show ALL</a>
        </div> --}}


        {{!-- <div class="recipies_list">
            <div class="titleWrap">
                <h2 class="mainTitle">Recipes</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/recipes_1.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Buttermilk fried chicken tenders to BBQ chicken</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/recipes_2.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Peruvian-style Roast Chicken With<br> Green Sauce</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/recipes_3.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Middle Eastern-style Grilled<br> Chicken Kabobs</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hideDives" id="recipessection">
                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/recipes_1.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Buttermilk fried chicken tenders to BBQ chicken</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/recipes_2.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Peruvian-style Roast Chicken With<br> Green Sauce</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="#"><img src="./assets/images/recipes/recipes_3.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 1"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>Middle Eastern-style Grilled<br> Chicken Kabobs</p>
                                </div>
                            </a>
                            <p class="card-text">By<span>Diana Disoza</span></p>
                            <div class="moreDtls">
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/clock.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>30 Mins</p>
                                </div>
                                <div class="icCont">
                                    <span class="icons"><img src="./assets/images/icons/people-group.svg" loading="lazy"
                                            class="img-fluid" alt="clock"></span>
                                    <p>2-4 Persons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btnSapce text-center">
                <a id="recipebtn" class="btn btn-more btnBor">Show ALL</a>
            </div>
        </div>

        <div class="cookingHacks searchPart">
            <div class="titleWrap">
                <h2 class="mainTitle">Cooking Hacks</h2>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <a href="#">
                            <div class="cardImg">
                                <img src="./assets/images/recipes/hacks_1.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                    <p>Season your chicken with a<br /> resealable bag</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <a href="#">
                            <div class="cardImg">
                                <img src="./assets/images/recipes/hacks_2.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                    <p>Shred chicken with a hand mixer</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <a href="#">
                            <div class="cardImg">
                                <img src="./assets/images/recipes/hacks_3.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                    <p>Marinate it in yogurt to make<br /> it more tender</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row hideDives" id="cookingsection">
                <div class="col-md-4">
                    <div class="card">
                        <a href="#">
                            <div class="cardImg">
                                <img src="./assets/images/recipes/hacks_1.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                    <p>Season your chicken with a<br /> resealable bag</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <a href="#">
                            <div class="cardImg">
                                <img src="./assets/images/recipes/hacks_2.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                    <p>Shred chicken with a hand mixer</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <a href="#">
                            <div class="cardImg">
                                <img src="./assets/images/recipes/hacks_3.png" loading="lazy" class="mainImg"
                                    alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                    <p>Marinate it in yogurt to make<br /> it more tender</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="btnSapce text-center">
                <a id="cookingbtn" class="btn btn-more btnBor">Show ALL</a>
            </div>
        </div> --}}

    </div>
</section>



{{!-- <section class="searchResults">
    <div class="container">
        <div class="listStyle bor-box">
            <div class="imgSpace">
                <img src="./assets/images/recipes/recipes_2.png" class="img-fluid listImg" alt="img">
            </div>
            <div class="contSpace">
                <h4 class="listitle">
                    Sadia Frozen Food, Chicken & Vegetables
                </h4>
                <div class="descp">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's <strong>Boneless Chicken Airfryer</strong> ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
        </div>
        <div class="listStyle bor-box">
            <div class="imgSpace">
                <img src="./assets/images/recipes/recipes_2.png" class="img-fluid listImg" alt="img">
            </div>
            <div class="contSpace">
                <h4 class="listitle">
                    Sadia Frozen Food, Chicken & Vegetables
                </h4>
                <div class="descp">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's <strong>Boneless Chicken Airfryer</strong> ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
        </div>

        <div class="listStyle bor-box">
            <div class="contSpace">
                <h4 class="listitle">
                    Sadia Frozen Food, Chicken & Vegetables
                </h4>
                <div class="descp">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of <strong>Boneless Chicken Airfryer</strong> make a type specimen book.Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book.
                    </p>
                </div>
            </div>
        </div>
        <div class="listStyle bor-box">
            <div class="contSpace">
                <h4 class="listitle">
                    Sadia Frozen Food, Chicken & Vegetables
                </h4>
                <div class="descp">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of <strong>Boneless Chicken Airfryer</strong> make a type specimen book.Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book.
                    </p>
                </div>
            </div>
        </div>

        <div id="lastsection" class="hideDives">
            <div class="listStyle bor-box">
                <div class="contSpace">
                    <h4 class="listitle">
                        Sadia Frozen Food, Chicken & Vegetables
                    </h4>
                    <div class="descp">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of <strong>Boneless Chicken Airfryer</strong> make a type specimen book.Lorem
                            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy
                            text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="listStyle bor-box">
                <div class="contSpace">
                    <h4 class="listitle">
                        Sadia Frozen Food, Chicken & Vegetables
                    </h4>
                    <div class="descp">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of <strong>Boneless Chicken Airfryer</strong> make a type specimen book.Lorem
                            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy
                            text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="btnSapce text-center">
            <a id="endlistshowmore" class="btn btn-more btnBor">Show ALL</a>
        </div>
    </div>
</section> --}}