<section class="serchFilter secSpace pt-0">
    <div class="container">

        <div class="filterSec">
            <div class="titleWrap text-center">
                <h2 class="mainTitle">Showing results for <span>Boneless Chicken Airfryer</span></h2>
            </div>

            {{!-- <div class="search-bar-container" id="search-bar-container">
                <div class="serWraper">
                    <div class="tag-container" id="tag-container">
                        <input type="search" class="tag-input" id="tag-input" placeholder=" ">

                        <button class="btn btn-outline serBtn" type="button">
                            <img src="./assets/images/icons/Search.svg" loading="lazy" alt="Search">
                        </button>
                    </div>
                </div>
            </div> --}}

            <!-- Search bar section Start -->
            <div class="search-bar-container" id="searchresults-searchinput">
                <form class="search-results-form">
                    <div class="tag-container" id="search-results-search">
                        <span class="searchValues">Sadia Product <img id="clsIcon" src="./assets/images/icons/s_close.svg" loading="lazy" alt="close"></span>
                        <input data-url="/en/search" type="search" class="tag-input" id="search-Bar" placeholder=" ">

                        <button class="btn btn-outline serBtn" type="submit">
                            <img src="./assets/images/icons/Search.svg" loading="lazy" alt="Search">
                        </button>
                    </div>
                </form>
            </div>
            <!-- Search bar section End-->

            <div class="filterWrap catgSpc">
                <div class="categ_filter">
                    <a href="#" data-umb-id="0" class="btn filBtn" data-toggle="portfilter">Where to buy?</a>
                    <a href="#" data-umb-id="1173" class="btn filBtn active" data-toggle="portfilter">Sadia Product</a>
                    <a href="#" data-umb-id="2" class="btn filBtn" data-toggle="portfilter">Meal Plan</a>
                    <a href="#" data-umb-id="3" class="btn filBtn" data-toggle="portfilter">Chicken Alfredo Recipe</a>
                </div>
            </div>
        </div>
        {{!-- FILTER-END --}}

    </div>
</section>