
<section  class="bannerSlider">
    <div class="container">
        
       <div id="fadeCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#fadeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#fadeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#fadeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button> <!-- Added this -->
                <button type="button" data-bs-target="#fadeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#fadeCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#fadeCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active viewCampaign" >
                    <img src="./assets/images/banner/slider_1.png" class="d-block slider-img" alt="Slide 1">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="titleStyle">
                            <p>Campaign <br/>TITLE goes <br/>here</p>
                        </div>
                        <a class="btn learnBtn" href="#">Learn more</a>
                    </div>
                </div>
                <div class="carousel-item viewCampaign" >
                    <img src="./assets/images/banner/slider_2.png" class="d-block slider-img" alt="Slide 2">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="titleStyle">
                            <p>Recipes <br/>TITLE goes <br/>here</p>
                        </div>
                        <a class="btn learnBtn"  href="#">Learn more</a>
                    </div>
                </div>
                <div class="carousel-item viewCampaign" >
                    <img src="./assets/images/banner/slider_3.png" class="d-block slider-img" alt="Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="titleStyle">
                            <p>Products <br/>TITLE goes <br/>here</p>
                        </div>
                        <a class="btn learnBtn"  href="#">Learn more</a>
                    </div>
                </div>
                <div class="carousel-item viewCampaign" >
                    <img src="./assets/images/banner/slider_4.png" class="d-block slider-img" alt="Slide 4">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="titleStyle">
                            <p>hacks <br/>TITLE goes <br/>here</p>
                        </div>
                        <a class="btn learnBtn"  href="#">Learn more</a>
                    </div>
                </div>
                <div class="carousel-item viewCampaign" >
                    <img src="./assets/images/banner/slider_5.png" class="d-block slider-img" alt="Slide 5">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="titleStyle">
                            <p>halal <br/>TITLE goes <br/>here</p>
                        </div>
                        <a class="btn learnBtn"  href="#">Learn more</a>
                    </div>
                </div>
                <div class="carousel-item viewCampaign" >
                    <img src="./assets/images/banner/slider_1.png" class="d-block slider-img" alt="Slide 6">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="titleStyle">
                            <p>Campaign <br/>TITLE goes <br/>here</p>
                        </div>
                        <a class="btn learnBtn"  href="#">Learn more</a>
                    </div>
                </div>
            </div>

            <!-- Carousel controls -->
            {{!-- <button class="carousel-control-prev" type="button" data-bs-target="#fadeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#fadeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> --}}
        </div>

    </div>
</section>

