<section class="cookingHacks secSpace">
    <div class="container">

         <div class="titleWrap text-center">
            <h2 class="mainTitle">Cooking Hacks</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <a href="#">
                        <div class="cardImg">
                            <img src="/assets/images/recipes/hacks_1.png" class="mainImg" alt="Popular Recipe 3">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Season your chicken with a<br/> resealable bag</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="#">
                        <div class="cardImg">
                            <img src="/assets/images/recipes/hacks_2.png" class="mainImg" alt="Popular Recipe 3">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Shred chicken with a hand mixer</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="#">
                        <div class="cardImg">
                            <img src="/assets/images/recipes/hacks_3.png" class="mainImg" alt="Popular Recipe 3">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Marinate it in yogurt to make<br/> it more tender</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="#" class="btn btn-more">View More Hacks</a> 
        </div>
    </div>
</section>