<section class="photo-gallery">
    <div class="container">
        <h2 class="gallery-header">Truly Farm to Table</h2>


        <div class="row">
            <div class="col-md-8">
				<!-- video.hbs -->
                <div class="video-container">
                    <video controls>
                        <source src="{{videoUrl}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="col-md-4">
                <div class="certBx blkBox p-0 text-center">
                    
                    <img class="img-fluid floar-right" src="/assets/images/others/egg.png" alt="img12"/>
                    <h5 class="halalTitle">LOOK FOR THE GOLDEN EGG</h5>
                </div>
            </div>

            
            <div class="col-md-4">
                <div class="certBx blkBox text-center">
                    <h5 class="halalTitle "><img class="img-fluid" src="/assets/images/fav/android-chrome-512x512.png" alt="img"/> Certified halal</h5>
                    <img class="Icons rotate-center img-fluid" src="/assets/images/others/rotate.png" alt="img12"/>
                </div>
            </div>

            <div class="content col-md-8">
				
				<div class="grid truBoxs">
					<figure class="effect-lily">
						<img src="/assets/images/others/hen.png" alt="img12"/>
						<figcaption>
							<div>
                                <div class="iconPart">
                                    <img class="firtImg imgSize" style="width: 20px;" src="/assets/images/others/arw.png" alt="img12"/>
                                    <img class="secdImg imgSize"  style="width: 20px;" src="/assets/images/others/eggs.png" alt="img12"/>
                                </div>
                                <div class="textPart">
                                    <h2>Freshness <br/>guaranteed</h2>
                                    <p>We freeze our chickens within 2 hours of slaughtering and transport them in temperature-controlled trucks to ensure food safety.</p>
							    </div>
                            </div>
							
						</figcaption>			
					</figure>
					
				</div>
            </div>
        </div>

    
    </div>
</section>
