<section class="trueFram_wraper secSpace">
    <div class="container">

         <div class="titleWrap text-center">
            <h2 class="mainTitle">Truly Farm<span class="animateIc"><img class="Icons animate" src="/assets/images/icons/farm.svg" alt="icon" /></span> to Table</h2>
        </div>

        <div class="row">
            <div class="col-md-8">
				<!-- video.hbs -->
                <div class="video-container">
                    <video autoplay muted loop playsinline>
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="col-md-4 rightBx">
                <div class="certBx blkBox p-0">
                    <div class="rightImg">
                        <img class="img-fluid" src="/assets/images/others/egg.png" alt="img12"/>
                    </div>
                    <h5 class="halalTitle">LOOK FOR THE<br/> GOLDEN EGG</h5>
                </div>
            </div>

            
            <div class="col-md-4 btmBx">
                <div class="certBx blkBox text-center">
                    <h5 class="halalTitle "><img class="img-fluid" src="/assets/images/fav/android-chrome-512x512.png" alt="img"/> Certified halal</h5>
                    <img class="Icons rotate-center img-fluid" src="/assets/images/others/rotate.png" alt="img12"/>
                </div>
            </div>

            <div class="content btmBx col-md-8">
				
				<div class="grid truBoxs">
					<figure class="effect-lily">
						<img class="bgImg" src="/assets/images/others/hen.png" alt="img12"/>
						<figcaption>
							<div class="linkStr">
                                <div class="iconPart">
                                    <img class="firtImg imgSize" src="/assets/images/others/arw.png" alt="img12"/>
                                    <img class="secdImg imgSize" src="/assets/images/others/eggs.png" alt="img12"/>
                                </div>
                                <div class="textPart">
                                    <h2>Freshness <br/>guaranteed</h2>
                                    <p>We freeze our chickens within 2 hours of slaughtering and transport them in temperature-controlled trucks to ensure food safety.</p>
							    </div>
                            </div>
							
						</figcaption>			
					</figure>
					
				</div>
            </div>
        </div>

    
    </div>
</section>
