<section class="whats-on-sadia">
    <div class="container">
        <div class="titleWrap text-center">
            <h2 class="mainTitle">What's<span class="animateIc"><img class="Icons animate" src="/assets/images/icons/whats.svg" alt="icon" /></span>on Sadia</h2>
        </div>
        <div class="scrollable-cards">
            <div class="card">
                <img src="/assets/images/recipes/hacks_1.png" alt="Sadia content 1">
                <div class="card-body">
                    <h5>Title 1</h5>
                    <p>Description for card 1</p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/images/recipes/hacks_1.png" alt="Sadia content 2">
                <div class="card-body">
                    <h5>Title 2</h5>
                    <p>Description for card 2</p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/images/recipes/hacks_1.png" alt="Sadia content 1">
                <div class="card-body">
                    <h5>Title 1</h5>
                    <p>Description for card 1</p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/images/recipes/hacks_1.png" alt="Sadia content 2">
                <div class="card-body">
                    <h5>Title 2</h5>
                    <p>Description for card 2</p>
                </div>
            </div>
            <!-- Repeat cards as needed -->
        </div>
    </div>
</section>
