<section class="contactWraper">
    <div class="container">
        <div class="row alignConts">
            <div class="col-md-4 contactSect">
                <h2 class="mainTitle">GET IN TOUCH</h2>
                <p class="descp">
                    If you have a query or concern, simply write to us, and we will get back to you regarding your
                    personal or business queries. We are all ears.
                </p>

                <ul class="contInfo">
                    <li>
                        <span class="icons"><img src="./assets/images/icons/mail.svg" class="cont-icon" alt="icon">
                        </span>
                        <p><a href="mailto:customercare@brf.com">customercare@brf.com</a></p>
                    </li>
                    <li>
                        <span class="icons"><img src="./assets/images/icons/phone.svg" class="cont-icon" alt="icon">
                        </span>
                        <p> <a href="tel:+80072342"><strong>(UAE)</strong> +800 723 42</a>
            &nbsp;|&nbsp;
            <a href="tel:+97143662177"><strong>(+971)</strong> 4 366 2177</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="contactForms">
                    <form id="contactForm" novalidate>
                        <div class="row">
                            <input type="hidden" id="formNodeId" value="1637">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Full Name</label>
                                    <input type="text" class="form-control" id="fullName" placeholder="Enter Full Name">
                                    <span class="error-message" id="nameError" style="display: none;">Full Name is
                                        required.</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Email Address</label>
                                    <input type="email" class="form-control" id="email"
                                        placeholder="yourname@email.com">
                                    <span class="error-message" id="emailError" style="display: none;">Please enter a
                                        valid email address.</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="phoneNumber" class="form-label">Phone Number</label>
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="phoneNumber"
                                        placeholder="xxx xxx xxx xxx">
                                    <span class="error-message" id="phoneError" style="display: none;">Please enter a
                                        valid phone number.</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Select Subject</label>
                                    <select class="form-control" id="subject">
                                        <option disabled selected value="">Select</option>
                                        <option value="1">Inquiry</option>
                                        <option value="2">Support</option>
                                    </select>
                                    <span class="error-message" id="subjectError" style="display: none;">Please select a
                                        subject.</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" id="message" placeholder="Leave a message.."
                                    minlength="10"></textarea>
                                <span class="error-message" id="messageError" style="display: none;">Please enter a
                                    message with at least 10 characters.</span>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group uploadSection">
                                    <label for="formFileLg" class="form-label">Got something to share?</label>
                                    <label class="custom-file-upload form-control form-control-lg" for="formFileLg">
                                        <img src="./assets/images/icons/paperclip.svg" loading="lazy" class="upIcon"
                                            alt="icon">
                                        <span class="fileNameText" id="fileNameText">Upload attachment</span>
                                    </label>
                                    <input class="form-control-file" id="formFileLg" type="file" style="display: none;">
                                    <span class="error-message" id="fileError" style="display: none;">Please upload a
                                        file.</span>
                                </div>
                            </div>

                            <div class="col-md-12 btmSpaces">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="info">
                                            <p>By submitting the form, I understand that Sadia will protect my data as
                                                outlined in the <a href="#">Privacy Notice.</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 text-end">
                                        <button type="submit" class="btn subBtn"
                                            data-url="https://sadialife-dev.azurewebsites.net/Umbraco/api/ContactForm/Submit">SUBMIT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="thanksWraper" style="display: none;">
                    <div class="contArea">
                        <span class="animateIc"><img class="Icons animate" src="./assets/images/icons/farm.svg"
                                loading="lazy" alt="icon" /></span>

                        <h1 class="titles">Thank you for contacting us</h1>

                        <div class="descp">
                            We will get back to you shortly.
                        </div>

                        {{!-- <div class="descp btm">
                            Click here if you are not redirected automatically.
                        </div> --}}

                    </div>
                    {{!-- <div class="btnSpace">
                        <a class="btn btn-more" href="#">click to redirect</a>
                    </div> --}}
                </div>



            </div>
        </div>
    </div>
</section>