
<section class="contactWraper">
    <div class="container">
        <div class="row alignConts">
            <div class="col-md-4 contactSect">
                <h2 class="mainTitle">GET IN TOUCH</h2>
                <p class="descp">
                    If you have a query or concern, simply write to us, and we will get back to you regarding your personal or business queries. We are all ears.
                </p>

                <ul class="contInfo">
                    <li>
                        <span class="icons"><img src="./assets/images/icons/mail.svg" class="cont-icon" alt="icon"> </span>
                        <p><a href="mailto:customercare@brf.com">customercare@brf.com</a></p>
                    </li>
                    <li>
                        <span class="icons"><img src="./assets/images/icons/phone.svg" class="cont-icon" alt="icon"> </span>
                        <p><strong>(UAE)</strong> +800 723 42 &nbsp;|&nbsp; <strong>(+971)</strong> 4 366 2177</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="contactForms">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Full Name</label>
                                <input type="text" class="form-control" placeholder="Enter Full Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Email Address</label>
                                <input type="email" class="form-control" placeholder="yourname@email.com">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="countryCode" class="form-label">Phone Number</label>
                                <div class="numberSect">
                                    <div class="dropdown countrCodes">
                                        <button
                                        class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center"
                                        type="button"
                                        id="countryDropdown"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                        >
                                            <img src="./assets/images/icons/flag.svg" alt="flag" class="me-2" width="20">
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="countryDropdown">
                                        <li>
                                            <a class="dropdown-item d-flex align-items-center" href="#" data-value="+1">
                                                <img src="./assets/images/icons/flag.svg" alt="flag" class="me-2" width="20">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item d-flex align-items-center" href="#" data-value="+44">
                                                <img src="./assets/images/icons/flag_ksa.svg" alt="flag" class="me-2" width="20">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item d-flex align-items-center" href="#" data-value="+50">
                                                <img src="./assets/images/icons/flag_qatar.svg" alt="flag" class="me-2" width="20">
                                            </a>
                                        </li>
                                        </ul>
                                    </div>
                                    <input type="tel" class="form-control mobileWidth" id="mobileNumber" placeholder="971 XXX XXX XXX">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Select Subject</label>
                                <select class="form-control">
                                    <option disabled selected>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Leave a message.."></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group uploadSection">
                                <label for="formFileLg" class="form-label">Got something to share?</label>
                                <label class="custom-file-upload form-control form-control-lg" for="formFileLg">
                                    <img src="./assets/images/icons/paperclip.svg" loading="lazy" class="upIcon" alt="icon"> Upload attachment
                                </label>
                                <input class="form-control-file" id="formFileLg" type="file" style="display: none;">
                            </div>

                        </div>
                        <div class="col-md-12 btmSpaces">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="info">
                                        <p>By submitting the form, I understand that Sadia will protect my data as outlined in the <a href="#">Privacy Notice.</a> </p>
                                    </div>
                                </div>
                                <div class="col-md-5 text-end">
                                    <button type="submit" class="btn subBtn">SUBMIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
