
<section class="campaignBxWraper">
    <div class="container">
        <div class="row align-items-center bxOuter">
            
            <div class="contBoxs col-md-6">
                <h3 class="subitle">Featured Product</h3>
                <p class="descp">
                    Transform a simple meal into a gastronomic experience with our high-quality products and easy recipes. 
                </p>
                <a href="#" class="btn btn-more">Learn More</a>

            </div>
            <div class="camp_bximg pr-0 col-md-6">
                <div class="img-box">
                    <img src="./assets/images/others/camp_3.png" loading="lazy" class="img-fluid bxImg" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>

