
<section class="featuredPrdct">
    <div class="container">
        <div class="row align-items-center bxOuter">
            
            <div class="contBoxs col-md-4">
                <h3 class="subitle">Featured Product</h3>
                <p class="descp">
                    Transform a simple meal into a gastronomic experience with our high-quality products and easy recipes. 
                </p>
                <a href="#" class="btn btn-more">Learn More</a>
            </div>
            <div class="prdct_bximg col-md-8">
                <div class="row d-flex flex-nowrap flex_col">
                        <div class="col-md-12 alignDiv"> 
                            <div class="row rowDiv">
                                <div class="col-md-8 partDiv">
                                    <div class="imgDiv firstBox">
                                        <img src="./assets/images/products/img1.png" class="img-fluid bxImg" alt="img">
                                    </div>
                                </div>  
                                <div class="col-md-4 partDiv">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="imgDiv secondBox">
                                                <img src="./assets/images/products/img2.png" class="img-fluid bxImg" alt="img">
                                            </div>
                                        </div> 
                                        <div class="col-md-12">
                                            <div class="imgDiv thirdBox">
                                                <img src="./assets/images/products/img3.png" class="img-fluid bxImg" alt="img">
                                            </div>
                                        </div> 
                                    </div> 
                                </div>  
                            </div>                             
                        </div> 
                        <div class="col-md-12 alignDiv secondRow"> 
                            <div class="row rowDiv">
                                <div class="col-md-8">
                                    <div class="row strRow">
                                        <div class="col-md-6 partDiv">
                                            <div class="imgDiv fourthBox">
                                                <img src="./assets/images/products/img4.png" class="img-fluid bxImg" alt="img">
                                            </div>
                                        </div> 
                                        <div class="col-md-6 partDiv">
                                            <div class="imgDiv fourthBox">
                                                <img src="./assets/images/products/img5.png" class="img-fluid bxImg" alt="img">
                                            </div>
                                        </div> 
                                    </div> 
                                </div>  
                                <div class="col-md-4 partDiv">
                                    <div class="imgDiv fourthBox">
                                        <img src="./assets/images/products/img6.png" class="img-fluid bxImg" alt="img">
                                    </div>
                                </div>  
                            </div> 
                       </div> 
                </div>
            </div>
        </div>
    </div>
</section>

