
<section class="ourPrdcts secSpace">
    <div class="container">
        <div class="titleWrap text-center">
            <h2 class="mainTitle">Our Products</h2>
        </div>

        <div class="row rowDiv">
            <div class="col-md-4 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">Whole Chicken</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_1_1.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-md-4 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">Chicken Parts</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_2.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div>  
            <div class="col-md-4 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">Breaded</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_1_3.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-md-8 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">Burger Patties</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_1_4.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-md-4 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">Vegetables</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_5.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div>  

            <div class="col-md-4 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">Fires</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_6.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-md-4 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">Franks & Shawerma</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_7.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">Kids</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_8.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div> 
        </div>  

    </div>
</section>
