
<section class="productFilter secSpace pt-0">
    <div class="container">

        <div class="filterSec">
            <div class="titleWrap text-center">
                <h2 class="mainTitle">Chicken Parts</h2>
            </div>

            <div class="filterWrap catgSpc">
                <div class="type_filter">
                    <a href="#" data-umb-id="0" class="btn filBtn typefilbtn" data-toggle="portfilter">All</a>
                    <a href="#" data-umb-id="9" class="btn filBtn typefilbtn" data-toggle="portfilter">Whole Chicken</a>
                    <a href="#" data-umb-id="2" class="btn filBtn typefilbtn" data-toggle="portfilter">Chicken Parts</a>
                    <a href="#" data-umb-id="3" class="btn filBtn typefilbtn" data-toggle="portfilter">Breaded</a>
                    <a href="#" data-umb-id="4" class="btn filBtn typefilbtn" data-toggle="portfilter">Burger Patties</a>
                    <a href="#" data-umb-id="5" class="btn filBtn typefilbtn" data-toggle="portfilter">Vegetables</a>
                    <a href="#" data-umb-id="6" class="btn filBtn typefilbtn active" data-toggle="portfilter">Fires</a>
                    <a href="#" data-umb-id="7" class="btn filBtn typefilbtn" data-toggle="portfilter">Franks & Shawerma</a>
                    <a href="#" data-umb-id="8" class="btn filBtn typefilbtn" data-toggle="portfilter">Kids</a>
                </div>
                <select id="productDropdown" class="form-select" >
                    <option value="">Select filter</option>
                    <option value="IsPopular">Popular</option>
                    <option value="IsNew">New</option>
                </select>
            </div>
        </div>
        {{!-- FILTER-END --}}


        {{!-- LIST-START --}}
        <div class="row">
            <div class="col-md-4 col-lg-3 Colapse_area">
                <div class="prdct_subFilter">
                    <div class="filterWrap catgSpc">
                        <div class="categ_filter">
                            <a href="#" data-umb-id="3" class="btn filBtn subfilbtn active" data-toggle="portfilter">All Products</a>
                            <a href="#" data-umb-id="11" class="btn filBtn subfilbtn" data-toggle="portfilter">Breast</a>
                            <a href="#" data-umb-id="12" class="btn filBtn subfilbtn" data-toggle="portfilter">Legs</a>
                            <a href="#" data-umb-id="13" class="btn filBtn subfilbtn" data-toggle="portfilter">Wings</a>
                            <a href="#" data-umb-id="14" class="btn filBtn subfilbtn" data-toggle="portfilter">Giblets</a>
                            <a href="#" data-umb-id="15" class="btn filBtn subfilbtn" data-toggle="portfilter">Marinated</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 contArea">
                <div class="productList">
                    <div class="row" id="cardcontainer">
                        {{!-- {{#each htmlWebpackPlugin.options.data }}
                        {{> ../mustache/loadmore}}
                        {{/each}} --}}
                </div>
                    </div>
                    <div class="btnSpace text-center">
                        <button id="productShowMore" data-api="https://sadialife-dev.azurewebsites.net/Umbraco/api/data/GetProductsPerCategory" data-limit="1" data-offset="0" class="btn btn-more">Show More Products</button>
                    </div>
                </div>
            </div>
        </div>
        {{!-- LIST-END --}}

    </div>
</section>
