
<section class=" bgGrey">
    <div class="container">
        <div class="row">
            
            <div class="col-md-8">

                <div class="slider-wrapper yearSlider">
                    <div class="wraper">
                    <div class="row rotSect">

                        <!-- Slider for images -->
                        <div class="imgWrapper">
                            <div class="image-slider">
                                <div class="slide">
                                    <div class="imgBox">
                                        <img  src="./assets/images/about/story.png" alt="Image 1">
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="imgBox">
                                        <img  src="./assets/images/about/story2.png" alt="Image 2">
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                    </div>

                    <!-- Thumbnail navigation -->
                    <div class="thumbnail-slider yearWidth">
                        <div class="thumbnail" data-slide="0">
                            <p class="title">1970</p>
                        </div>
                        <div class="thumbnail" data-slide="1">
                            <p class="title">1980</p>
                        </div>
                        
                    </div>

                    </div>

            </div>
            <div class="col-md-4">
                
            </div>

        </div>
    </div>
</section>

