
<section class="prdctDetailwrap bgGrey">
    <div class="container">
        <div class="row">

            <div class="col-md-6 mobVis">
                <div class="prdctInfo-wrap">
                    <div class="titleWrap">
                        <h1 class="mainTitle">Sadia Chicken Griller</h1>
                        <div class="tags">
                            <p>Whole Chicken</p>
                        </div>
                        <div class="descp">
                            <p>
                                Transform a simple meal into a gastronomic experience with our high-quality products and easy recipes. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 prdctSlider"> 
                <div id="carouselPrdcts" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="50000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./assets/images/products/Product-dtl1.png" data-key="b86f4191-cbea-47de-9c4b-3b256e2e659a" class="img-fluid sliderImg" alt="Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/images/products/Product-dtl2.png" data-key="9ed6a8a8-b662-47b9-83f9-06b7bfbf161b" class="img-fluid sliderImg" alt="Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/images/products/Product-dtl3.png" data-key="b01f3240-2d5d-4666-85bf-ac46653094ce" class="img-fluid sliderImg" alt="Image 3">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/images/products/Product-dtl4.png" data-key="5bc8231c-7b1c-4034-bc5b-b9efbb72b9d3" class="img-fluid sliderImg" alt="Image 4">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/images/products/Product-dtl5.png" data-key="e8514378-c513-431c-8d7c-25c2e8e45992" class="img-fluid sliderImg" alt="Image 5">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/images/products/Product-dtl6.png" data-key="49008d9f-18e7-47ac-a52c-6e168498f5f5" class="img-fluid sliderImg" alt="Image 6">
                        </div>
                    </div>

                    <div class="carousel-scroll">
                        <ol class="carousel-indicators thumbSect">
                            <li data-bs-target="#carouselPrdcts" data-key="b86f4191-cbea-47de-9c4b-3b256e2e659a" data-bs-slide-to="0" class="active">
                                <div class="thumbs">
                                    <img src="./assets/images/products/Product-dtl1.png" class="img-fluid thumbImg" alt="Image 1">
                                </div>
                                <p class="titles">600 g</p>
                            </li>
                            <li data-bs-target="#carouselPrdcts" data-key="9ed6a8a8-b662-47b9-83f9-06b7bfbf161b" data-bs-slide-to="1">
                                <div class="thumbs">
                                    <img src="./assets/images/products/Product-dtl2.png" class="img-fluid thumbImg" alt="Image 2">
                                </div>
                                <p class="titles">700 g</p>
                            </li>
                            <li data-bs-target="#carouselPrdcts" data-key="b01f3240-2d5d-4666-85bf-ac46653094ce" data-bs-slide-to="2">
                                <div class="thumbs">
                                    <img src="./assets/images/products/Product-dtl3.png" class="img-fluid thumbImg" alt="Image 3">
                                </div>
                                <p class="titles">800 g</p>
                            </li>
                            <li data-bs-target="#carouselPrdcts" data-key="5bc8231c-7b1c-4034-bc5b-b9efbb72b9d3" data-bs-slide-to="3">
                                <div class="thumbs">
                                    <img src="./assets/images/products/Product-dtl4.png" class="img-fluid thumbImg" alt="Image 4">
                                </div>
                                <p class="titles">900 g</p>
                            </li>
                            <li data-bs-target="#carouselPrdcts" data-key="e8514378-c513-431c-8d7c-25c2e8e45992" data-bs-slide-to="4">
                                <div class="thumbs">
                                    <img src="./assets/images/products/Product-dtl5.png" class="img-fluid thumbImg" alt="Image 5">
                                </div>
                                <p class="titles">1000 g</p>
                            </li>
                            <li data-bs-target="#carouselPrdcts" data-key="49008d9f-18e7-47ac-a52c-6e168498f5f5" data-bs-slide-to="5">
                                <div class="thumbs">
                                    <img src="./assets/images/products/Product-dtl6.png" class="img-fluid thumbImg" alt="Image 6">
                                </div>
                                <p class="titles">1100 g</p>
                            </li> 
                            <li data-bs-target="#carouselPrdcts" data-key="b86f4191-cbea-47de-9c4b-3b256e2e659a" data-bs-slide-to="0" class="active">
                                <div class="thumbs">
                                    <img src="./assets/images/products/Product-dtl1.png" class="img-fluid thumbImg" alt="Image 1">
                                </div>
                                <p class="titles">600 g</p>
                            </li>
                            <li data-bs-target="#carouselPrdcts" data-key="9ed6a8a8-b662-47b9-83f9-06b7bfbf161b" data-bs-slide-to="1">
                                <div class="thumbs">
                                    <img src="./assets/images/products/Product-dtl2.png" class="img-fluid thumbImg" alt="Image 2">
                                </div>
                                <p class="titles">700 g</p>
                            </li>
                            <li data-bs-target="#carouselPrdcts" data-key="b01f3240-2d5d-4666-85bf-ac46653094ce" data-bs-slide-to="2">
                                <div class="thumbs">
                                    <img src="./assets/images/products/Product-dtl3.png" class="img-fluid thumbImg" alt="Image 3">
                                </div>
                                <p class="titles">800 g</p>
                            </li>
                            <li data-bs-target="#carouselPrdcts" data-key="5bc8231c-7b1c-4034-bc5b-b9efbb72b9d3" data-bs-slide-to="3">
                                <div class="thumbs">
                                    <img src="./assets/images/products/Product-dtl4.png" class="img-fluid thumbImg" alt="Image 4">
                                </div>
                                <p class="titles">900 g</p>
                            </li>
                            <li data-bs-target="#carouselPrdcts" data-key="e8514378-c513-431c-8d7c-25c2e8e45992" data-bs-slide-to="4">
                                <div class="thumbs">
                                    <img src="./assets/images/products/Product-dtl5.png" class="img-fluid thumbImg" alt="Image 5">
                                </div>
                                <p class="titles">1000 g</p>
                            </li>
                            <li data-bs-target="#carouselPrdcts" data-key="b01f3240-2d5d-4666-85bf-ac46653094ce" data-bs-slide-to="5">
                                <div class="thumbs">
                                    <img src="./assets/images/products/Product-dtl6.png" class="img-fluid thumbImg" alt="Image 6">
                                </div>
                                <p class="titles">1100 g</p>
                            </li>     
                        </ol>
                    </div>

                </div>
            </div>

            

            <div class="col-md-6">
                <div class="prdctInfo-wrap">
                    <div class="titleWrap mobHide">
                        <div class="tags">
                            <p>Whole Chicken</p>
                        </div>

                        <h1 class="mainTitle">Featured Product</h1>

                        <div class="descp">
                            <p>
                                Transform a simple meal into a gastronomic experience with our high-quality products and easy recipes. 
                            </p>
                        </div>
                    </div>
                    
                    <div class="dtlsWraper">
                        <h3 class="subTitles">Preparation Methods</h3>
                        <div class="boxGrids row">
                            <div class="col-md-6 divSect">
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_1.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">Grilling</p>
                                </div>
                            </div>
                            <div class="col-md-6 divSect">
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_2.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">Boiling</p>
                                </div>
                            </div>
                            <div class="col-md-6 divSect">
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_3.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">Oven</p>
                                </div>
                            </div>
                            <div class="col-md-6 divSect">
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_4.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">Pan Fry</p>
                                </div>
                            </div>
                        </div>

                        <div class="boxGrids row">
                            <div class="col-md-6 divSect">
                                <h3 class="subTitles">Shelf Life</h3>
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_5.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">10 Days</p>
                                </div>
                            </div>
                            <div class="col-md-6 divSect">
                                <h3 class="subTitles">Storage</h3>
                                <div class="gridBox">
                                    <div class="icImg">
                                        <img src="./assets/images/icons/pdctI-ic_6.svg" class="img-fluid icons" alt="icons">
                                    </div>
                                    <p class="titles">Fridge</p>
                                </div>
                            </div>
                        </div>

                        <h3 class="subTitles benifts-tit">Product Benefits</h3>
                        <ul class="benefits">
                            <li>
                                <span class="iconSpc"><img src="./assets/images/icons/benifitIc-1.svg" class="img-fluid" alt="icons"></span>
                                <p class="titles">Free from Hormones and Preservatives</p>
                            </li>
                            <li>
                                <span class="iconSpc"><img src="./assets/images/icons/benifitIc-2.svg" class="img-fluid" alt="icons"></span>
                                <p class="titles">Freshly Frozen to Preserve Nutrients</p>
                            </li>
                        </ul>

                        <div class="nutritionWtraper">
                            <h3 class="titles">Nutrition Facts</h3>
                            <div class="contSect">
                                <div class="descp qty">
                                    <p>Average Quantities per 100G</p>
                                </div>

                                <table class="tableStyle">
                                    <thead>
                                        <th>Total Calories</th>
                                        <th>203</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Total Fat</td>
                                            <td>15G</td>
                                        </tr>
                                        <tr>
                                            <td>Sodium</td>
                                            <td>393mg</td>
                                        </tr>
                                        <tr>
                                            <td>Total Carbohydrates</td>
                                            <td>0g</td>
                                        </tr>
                                        <tr>
                                            <td>Protein</td>
                                            <td>18g</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="descp mt-4 mb-1">
                                    <p>The % Daily Value (DV) Tells you how much a nutrient in a serving of food contributes to a daily diet 2000 calories a day is used for general nutrition advice</p>
                                </div>
                                <div class="descp info mt-4">
                                    <p>The Product Sheilf Life is 12 Months and adviced to be stored in tempreture -18C degrees</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

