
<section class="productFilter secSpace pt-0">
    <div class="container">

        <div class="filterSec">
            <div class="titleWrap text-center">
                <h2 class="mainTitle">Chicken Parts</h2>
            </div>

            <div class="filterWrap catgSpc">
                <div class="categ_filter">
                    <button class="btn filBtn" data-toggle="portfilter">All</button>
                    <button class="btn filBtn" data-toggle="portfilter">Whole Chicken</button>
                    <button class="btn filBtn active" data-toggle="portfilter">Chicken Parts</button>
                    <button class="btn filBtn" data-toggle="portfilter">Breaded</button>
                    <button class="btn filBtn" data-toggle="portfilter">Burger Patties</button>
                    <button class="btn filBtn" data-toggle="portfilter">Vegetables</button>
                    <button class="btn filBtn" data-toggle="portfilter">Fires</button>
                    <button class="btn filBtn" data-toggle="portfilter">Franks & Shawerma</button>
                    <button class="btn filBtn" data-toggle="portfilter">Kids</button>
                </div>

                <select class="form-select">
                    <option>Latest</option>
                    <option>Latest</option>
                    <option>Latest</option>
                </select>
            </div>
        </div>
        {{!-- FILTER-END --}}

        <div class="productList">
            <div class="row">
                <div class="col-md-4">
                    <div class="list_prdct text-center">
                        <div class="pdctImg">
                            <img src="./assets/images/products/list1.png" class="img-fluid prdctImg" alt="img">
                        </div>
                        <div class="prdctCont">
                            <h4 class="titles">Chicken Griller</h4>
                            <p class="dtls">203 Calories</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list_prdct text-center">
                        <div class="pdctImg">
                            <img src="./assets/images/products/list1.png" class="img-fluid prdctImg" alt="img">
                        </div>
                        <div class="prdctCont">
                            <h4 class="titles">Chicken Griller</h4>
                            <p class="dtls">203 Calories</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list_prdct text-center">
                        <div class="pdctImg">
                            <img src="./assets/images/products/list2.png" class="img-fluid prdctImg" alt="img">
                        </div>
                        <div class="prdctCont">
                            <h4 class="titles">Chicken Griller</h4>
                            <p class="dtls">203 Calories</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list_prdct text-center">
                        <div class="pdctImg">
                            <img src="./assets/images/products/list3.png" class="img-fluid prdctImg" alt="img">
                        </div>
                        <div class="prdctCont">
                            <h4 class="titles">Chicken Griller</h4>
                            <p class="dtls">203 Calories</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list_prdct text-center">
                        <div class="pdctImg">
                            <img src="./assets/images/products/list3.png" class="img-fluid prdctImg" alt="img">
                        </div>
                        <div class="prdctCont">
                            <h4 class="titles">Chicken Griller</h4>
                            <p class="dtls">203 Calories</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list_prdct text-center">
                        <div class="pdctImg">
                            <img src="./assets/images/products/list4.png" class="img-fluid prdctImg" alt="img">
                        </div>
                        <div class="prdctCont">
                            <h4 class="titles">Chicken Griller</h4>
                            <p class="dtls">203 Calories</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list_prdct text-center">
                        <div class="pdctImg">
                            <img src="./assets/images/products/list3.png" class="img-fluid prdctImg" alt="img">
                        </div>
                        <div class="prdctCont">
                            <h4 class="titles">Chicken Griller</h4>
                            <p class="dtls">203 Calories</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list_prdct text-center">
                        <div class="pdctImg">
                            <img src="./assets/images/products/list5.png" class="img-fluid prdctImg" alt="img">
                        </div>
                        <div class="prdctCont">
                            <h4 class="titles">Chicken Griller</h4>
                            <p class="dtls">203 Calories</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list_prdct text-center">
                        <div class="pdctImg">
                            <img src="./assets/images/products/list6.png" class="img-fluid prdctImg" alt="img">
                        </div>
                        <div class="prdctCont">
                            <h4 class="titles">Chicken Griller</h4>
                            <p class="dtls">203 Calories</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="btnSpace text-center">
                <button class="btn btn-more">Show More Products</button>
            </div>

        </div>


    </div>
</section>
