<section class="whats-on-sadia secSpace d-flex rldPrdct-slider">
    <div class="container">
        <div class="titleWrap text-center">
            <h2 class="mainTitle">Similar Products</h2>
        </div>
        <div class="scrl_cards productList whatSlider">
            <div class="card">
                <div class="list_prdct text-center">
                    <div class="cardImg pdctImg">
                        <img src="./assets/images/products/list1.png" class="img-fluid prdctImg" alt="img">
                    </div>
                    <div class="card-body prdctCont">
                        <h4 class="titles">Chicken Drumsticks</h4>
                        <p class="dtls">203 Calories</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="list_prdct text-center">
                    <div class="cardImg pdctImg">
                        <img src="./assets/images/products/list6.png" class="img-fluid prdctImg" alt="img">
                    </div>
                    <div class="card-body prdctCont">
                        <h4 class="titles">Boneless Chicken</h4>
                        <p class="dtls">203 Calories</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="list_prdct text-center">
                    <div class="cardImg pdctImg">
                        <img src="./assets/images/products/list4.png" class="img-fluid prdctImg" alt="img">
                    </div>
                    <div class="card-body prdctCont">
                        <h4 class="titles">Chicken Whole Legs</h4>
                        <p class="dtls">203 Calories</p>
                    </div>
                </div>
            </div>

            <div class="card" id="productdetails">
                <div class="list_prdct text-center" >
                    <div class="cardImg pdctImg">
                        <img src="./assets/images/products/list7.png" class="img-fluid prdctImg" alt="img">
                    </div>
                    <div class="card-body prdctCont">
                        <h4 class="titles">Chicken Griller</h4>
                        <p class="dtls">203 Calories</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Repeat cards as needed -->
       
    </div>
</section>

