<script id="hack-template" type="text/x-handlebars-template">
        <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="\{{url}}"><img src="\{{imageUrl}}" loading="lazy" class="mainImg" alt="\{{imageAlt}}"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title">
                                    <p>\{{heading}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
        </div>
</script>