<script id="hack-template" type="text/x-handlebars-template">
        <div class="col-md-4">
                    <div class="card">
                        <div class="cardImg">
                            <a href="\{{url}}"><img src="" loading="lazy" class="mainImg" alt="\{{imageAlt}}"></a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <div class="card-title mb-3">
                                    <p>\{{heading}}</p>
                                </div>
                            </a>
                            <a href="#"><p class="card-text text-truncate">For<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quas vel sint commodi repudiandae</span></p></a>
                        </div>
                    </div>
        </div>
</script>