<script id="productlist-template" type="text/x-handlebars-template">
        <div class="col-md-4">
            <div class="list_prdct text-center">
                <div class="pdctImg">
                    <a href="\{{url}}">
                    <img src="\{{productThumbnailUrl}}" class="img-fluid prdctImg" alt="img">
                    </a>
                </div>
                <div class="prdctCont">
                    <h4 class="titles">\{{productTitle}}</h4>
                    <p class="dtls">\{{productCalories}}</p>
                </div>
            </div>
        </div>
</script>