<script id="online-template" type="text/x-handlebars-template">
        <div class="card col-md-3">
        <div class="logo-box">
          <a href="\{{onlineBuyUrl}}">
            <img src="https://brf-app-website-sadia-life-qas.azurewebsites.net\{{storeLogoUrl}}" class="img-fluid bxImg" alt="image">
          </a>
        </div>
      </div>
</script>