<script id="searchlist-template" type="text/x-handlebars-template">
       <div class="col-md-4 partDiv">
                <div class="card">
                    <a href="\{{redirectUrl}}">
                        <div class="list_prdct text-center">
                            <div class="cardImg pdctImg">
                                <img src="\{{imageUrl}}" alt="img">
                            </div>
                            <div class="card-body prdctCont">
                                <h5 class="titles">
                                    \{{title}}
                                </h5>
                                <p class="dtls">\{{Calories}}</p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
</script>