<section  class="campaignBanners secSpace campaignSlider bannerSlider">
    <div class="container">

        <div class="carousel-inner">
            <img src="./assets/images/banner/BannerUpdated.png" loading="lazy" class="d-block slider-img webvisible" alt="Slide 1">
            <img src="./assets/images/banner/banner_camp.jpg" loading="lazy" class="d-block slider-img mobvisible" alt="Slide 1">
           
            <div class="carousel-caption d-md-block">
                <div class="titleStyle">
                    <p>PROMOTION</p>
                </div>
                <a class="btn learnBtn" href="#">Learn more</a>
            </div>
            
        </div>         
        
    </div> 
</section>