
<section class="ourPrdcts secSpace campPrdcts">
    <div class="container">
        <div class="titleWrap text-center">
            <h2 class="mainTitle">RAMADAN Recipes</h2>
        </div>

        <div class="row rowDiv">

            <div class="col-md-8 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">IFTAR</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_1_4.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-md-4 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">SUHOOR</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_5.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div>

                <div class="col-md-4 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">SNACKS</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_1_1.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-md-4 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">SOUPS</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_2.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 partDiv">
                <div class="imgDiv">
                    <a href="#">
                        <h6 class="titles">quick & easy</h6>
                        <div class="imgWraper">
                            <img src="./assets/images/products/Products_1_3.png" class="img-fluid bxImg" alt="img">
                        </div>
                    </a>
                </div>
            </div> 


            <div class="text-center mt-4">
                <a href="#" class="btn btn-more" id="viewMoreHack">View More Hacks</a>
            </div>

        </div>  

    </div>
</section>
