<section class="productList campList">
    <div class="container">
        <div class="titleWrap">
            <h2 class="mainTitle">Products</h2>
        </div>

        <div class="row rowDiv">
            <div class="col-md-4 partDiv">
                <div class="card" style="cursor: pointer;">
                    <a href="#">
                        <div class="list_prdct text-center">
                            <div class="cardImg pdctImg">
                                <img src="./assets/images/products/list1.png" class="img-fluid prdctImg" alt="img">
                            </div>
                            <div class="card-body prdctCont">
                                <div class="titles">
                                    <p>Chicken Griller</p>
                                </div>
                                <p class="dtls">203 Calories</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 partDiv">
                <div class="card" style="cursor: pointer;">
                    <a href="#">
                        <div class="list_prdct text-center">
                            <div class="cardImg pdctImg">
                                <img src="./assets/images/products/list1.png" class="img-fluid prdctImg" alt="img">
                            </div>
                            <div class="card-body prdctCont">
                                <div class="titles">
                                    <p>Chicken Breasts</p>
                                </div>
                                <p class="dtls">203 Calories</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 partDiv">
                <div class="card" style="cursor: pointer;">
                    <a href="#">
                        <div class="list_prdct text-center">
                            <div class="cardImg pdctImg">
                                <img src="./assets/images/products/list2.png" class="img-fluid prdctImg" alt="img">
                            </div>
                            <div class="card-body prdctCont">
                                <div class="titles">
                                    <p>Chicken Drumsticks</p>
                                </div>
                                <p class="dtls">203 Calories</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
     
            <div class="col-md-4 partDiv">
                <div class="card" style="cursor: pointer;">
                    <a href="#">
                        <div class="list_prdct text-center">
                            <div class="cardImg pdctImg">
                                <img src="./assets/images/products/list3.png" class="img-fluid prdctImg" alt="img">
                            </div>
                            <div class="card-body prdctCont">
                                <div class="titles">
                                    <p>Chicken Thighs</p>
                                </div>
                                <p class="dtls">203 Calories</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 partDiv">
                <div class="card" style="cursor: pointer;">
                    <a href="#">
                        <div class="list_prdct text-center">
                            <div class="cardImg pdctImg">
                                <img src="./assets/images/products/list3.png" class="img-fluid prdctImg" alt="img">
                            </div>
                            <div class="card-body prdctCont">
                                <div class="titles">
                                    <p>Boneless Chicken</p>
                                </div>
                                <p class="dtls">203 Calories</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 partDiv">
                <div class="card" style="cursor: pointer;">
                    <a href="#">
                        <div class="list_prdct text-center">
                            <div class="cardImg pdctImg">
                                <img src="./assets/images/products/list4.png" class="img-fluid prdctImg" alt="img">
                            </div>
                            <div class="card-body prdctCont">
                                <div class="titles">
                                    <p>Chicken Whole Legs</p>
                                </div>
                                <p class="dtls">203 Calories</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="btnSapce text-center">
            <button data-index="1" class="btn btn-more btnBor">View All Products</button>
        </div>

    </div>
</section>
