<!-- src/partials/footer.hbs -->
<footer>
        <div class="footer-container container">
          <div class="footer-grid">
              <div class="row">
 
                  <div class="col-md-4 ftrLogoWrap order-1">
                    <img class="footer-logo" src="./assets/images/logos/footer_logo.svg" loading="lazy" alt="Footer Logo" />
                  </div>
                
                  <div class="footer-pages col-md-4 order-2">
                      <div class="ftrLinks">
                        <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#" id="abtLink">About Us</a></li>
                          <li><a href="#">Our Recipes</a></li>
                          <li><a href="#">FAQ’s</a></li>
                          <li><a href="#">Our Products</a></li>
                          <li><a href="#">Contact Us</a></li>
                        </ul>
                      </div>
                  </div>

                  <div class="footer-socials col-md-4 order-3">
                      {{!-- <span class="animateIc"><img class="Icons animate" src="./assets/images/icons/follow.svg" loading="lazy" alt="icon" /></span> --}}
                      <h6 class="footer-grid-title col order-1">Follow Us</h6>
                      <ul>
                        <li><a href="#"><img class="social_cons img-fluid" src="./assets/images/icons/fb.svg" loading="lazy" alt="icon" /></a></li>
                        <li><a href="#"><img class="social_cons img-fluid" src="./assets/images/icons/insta.svg" loading="lazy" alt="icon" /></a></li>
                        <li><a href="#"><img class="social_cons img-fluid" src="./assets/images/icons/youtube.svg" loading="lazy" alt="icon" /></a></li>
                        <li><a href="#"><img class="social_cons img-fluid" src="./assets/images/icons/ticktok.svg" loading="lazy" alt="icon" /></a></li>
                      </ul>
                  </div>

                  {{!-- <div class="col-md-12 ftrNewsletter m-0">
                        <h4 class="newsTitle text-center">stay informed</h4>
                        <form>
                            <div class="formGrp">
                              <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                            </div>
                            <button type="submit" class="btn btn-signup">SIGN UP</button>
                        </form> 
                  </div>--}}
             
                  <div class="footer-end col-md-12 order-5">
                      <div class="row">
                        <div class="footer-copyright col-md-7">
                            <span>Copyright® &nbsp;<a href="#">Sadia</a> - All rights reserved</span>
                        </div>

                        <ul class="ftr_links col-md-5">
                          <li><a href="#">Terms & Conditions</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                        </ul>
                      </div>
                  </div>

              </div>
          </div>
        </div>
</footer>