<!-- src/partials/footer.hbs -->
<footer>
        <div class="footer-container container">
          <div class="footer-grid">
              <div class="row">

                  <div class="col-md-12 ftrLogoWrap">
                    <img class="footer-logo" src="/assets/images/logos/footer_logo.png" alt="Footer Logo" />
                  </div>
                 
                  <div class="footer-socials col-md-7 order-2">
                      <h6 class="footer-grid-title col order-1">Follow <span class="animateIc"><img class="Icons animate" src="/assets/images/icons/follow.svg" alt="icon" /></span>  Us</h6>
                      <ul>
                        <li><a href="#"><img class="social_cons img-fluid" src="/assets/images/icons/fb.svg" alt="icon" /></a></li>
                        <li><a href="#"><img class="social_cons img-fluid" src="/assets/images/icons/insta.svg" alt="icon" /></a></li>
                        <li><a href="#"><img class="social_cons img-fluid" src="/assets/images/icons/youtube.svg" alt="icon" /></a></li>
                        {{!-- <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> --}}
                      </ul>
                  </div>
                
                  <div class="footer-pages col-md-5 order-4">
                      <div class="row">
                        <div class="col-md-6 ftrLinks">
                          <ul>
                              <li><a href="#">HOME</a></li>
                              <li><a href="#">OUR RECIPES</a></li>
                              <li><a href="#">CONTACT US</a></li>
                          </ul>
                        </div>
                        <div class="col-md-6 ftrLinks">
                          <ul>
                              <li><a href="#">OUR PRODUCTS</a></li>
                              <li><a href="#">ABOUT US</a></li>
                              <li><a href="#">FAQ’s</a></li>
                          </ul>
                        </div>
                      </div>
                  </div>
             
                  <div class="footer-end col-md-12 order-5">
                      <div class="row">
                        <div class="footer-copyright col-md-7">
                            <span>Copyright® &nbsp;<a href="#">Sadia</a> - All rights reserved</span>
                        </div>

                        <ul class="ftr_links col-md-5">
                          <li><a href="#">Terms & Conditions</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                        </ul>
                      </div>
                  </div>

              </div>
          </div>
        </div>
</footer>