

<section class="errorWraper">
    <div class="container">

        <div class="contArea">
            <h1 class="titles">Uh-Oh</h1>
            <div class="descp">
                We can't find the page you're looking for.
            </div>
        </div> 
        <div class="imgSection">
             <img src="./assets/images/others/404.svg" class="bgImg" alt="404">
        </div>

    </div>
</section>