<section class="thanksWraper">
    <div class="container">

        <div class="contArea">
            <span class="animateIc"><img class="Icons animate" src="./assets/images/icons/farm.svg" loading="lazy" alt="icon" /></span>
            
            <h1 class="titles">Thank you for contacting us</h1>
            
            <div class="descp">
                We will get back to you shortly.
            </div>

            <div class="descp btm">
                Click here if you are not redirected automatically.
            </div>

        </div> 
        <div class="btnSpace">
             <a class="btn btn-more" href="#">click to redirect</a>
        </div>

    </div>
</section>