
<section class="whiteLogo">
    <a class="navbar-brand headerLogo" href="/"><img src="./assets/images/logos/logo.svg" loading="lazy" alt="icon"></a>
</section>

<section  class="bannerSlider">    
    <div class="container">
        
       <div id="fadeCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#fadeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#fadeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#fadeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button> <!-- Added this -->
                <button type="button" data-bs-target="#fadeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#fadeCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#fadeCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>

            <div class="carousel-inner">
                <a href="link_for_slide_1">
                    <div class="carousel-item active" >
                    <img src="./assets/images/banner/slider_1.png" class="slider-img webvisible" alt="Slide 1">
                    <img src="./assets/images/banner/mobile.png" class="slider-img mobvisible" alt="Slide 1">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="titleStyle">
                            <p>Campaign <br/>TITLE goes <br/>here</p>
                        </div>
                        <a class="btn learnBtn" href="#">Learn more</a>
                    </div>
                </div>
                </a>
                <a href="link_for_slide_2">
                    <div class="carousel-item" >
                    <img src="./assets/images/banner/slider_2.png" class="slider-img webvisible" alt="Slide 2">
                    <img src="./assets/images/banner/mobile.png" class="slider-img mobvisible" alt="Slide 2">

                    <div class="carousel-caption d-none d-md-block">
                        <div class="titleStyle">
                            <p>Recipes <br/>TITLE goes <br/>here</p>
                        </div>
                        <a class="btn learnBtn"  href="#">Learn more</a>
                    </div>
                </div>
                </a>
                <a href="link_for_slide_3">
                    <div class="carousel-item" >
                    <img src="./assets/images/banner/slider_3.png" class="slider-img webvisible" alt="Slide 3">
                    <img src="./assets/images/banner/mobile.png" class="slider-img mobvisible" alt="Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="titleStyle">
                            <p>Products <br/>TITLE goes <br/>here</p>
                        </div>
                        <a class="btn learnBtn"  href="#">Learn more</a>
                    </div>
                </div>
                </a>
                <a href="link_for_slide_4">
                    <div class="carousel-item" >
                    <img src="./assets/images/banner/slider_4.png" class="slider-img webvisible" alt="Slide 4">
                    <img src="./assets/images/banner/mobile.png" class="slider-img mobvisible" alt="Slide 4">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="titleStyle">
                            <p>hacks <br/>TITLE goes <br/>here</p>
                        </div>
                        <a class="btn learnBtn"  href="#">Learn more</a>
                    </div>
                </div>
                </a>
                <a href="link_for_slide_5">
                    <div class="carousel-item" >
                    <img src="./assets/images/banner/slider_5.png" class="slider-img webvisible" alt="Slide 5">
                    <img src="./assets/images/banner/mobile.png" class="slider-img mobvisible" alt="Slide 5">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="titleStyle">
                            <p>halal <br/>TITLE goes <br/>here</p>
                        </div>
                        <a class="btn learnBtn"  href="#">Learn more</a>
                    </div>
                </div>
                </a>
                <a href="link_for_slide_6">
                    <div class="carousel-item" >
                    <img src="./assets/images/banner/slider_1.png" class="slider-img webvisible" alt="Slide 6">
                    <img src="./assets/images/banner/mobile.png" class="slider-img mobvisible" alt="Slide 6">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="titleStyle">
                            <p>Campaign <br/>TITLE goes <br/>here</p>
                        </div>
                        <a class="btn learnBtn"  href="#">Learn more</a>
                    </div>
                </div>
                </a>
            </div>

            <!-- Carousel controls -->
            {{!-- <button class="carousel-control-prev" type="button" data-bs-target="#fadeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#fadeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> --}}
       </div>

    </div>
</section>

