<section class="find-us secSpace">
  <div class="container">
    <div class="titleWrap text-center">
      <h2 class="mainTitle">FIND<span class="animateIc"><img class="Icons animate"
            src="./assets/images/icons/location.svg" loading="lazy" alt="icon" /></span> US</h2>
    </div>
    <div class="row">
      <!-- First column: Map image -->
      <div class="col-lg-6 mapWrap">
        <div id="mapContainer">
          <div id="mapFrame"></div>
        </div>
      </div>

      <!-- Second column: Description, dropdown, and button -->
      <div class="col-lg-6">
        <div class="mapBox">
          <h3 class="title">Across the Middle East</h3>
          <p>Find us at a supermarket near you or shop online for even greater convenience.</p>

          <!-- Placeholder for dropdown that will be filled by JS -->
          <div class="dropdown-container">
            <select class="form-select countryDrops" id="countrySelect" aria-label="Select Country">
              <option data-id="1288" data="Dubai-55.271891, 25.214535 | Sharjah-55.422320, 25.357778" value="UAE">UAE
              </option>
              <option data-id="1289" data="Doha-51.520008, 25.276987" value="Qatar">Qatar</option>
              <option data-id="1290" data="Kuwait City-47.9774, 29.3759" value="Kuwait">Kuwait</option>
              <option data-id="1291" data="Muscat-58.3829, 23.588" value="Oman">Oman</option>
              <option data-id="1287" data="Riyadh-46.6753, 24.7136" value="KSA">KSA</option>
            </select>
          </div>
          <div class="button-container">
            <a class="btn btn-more mt-3" href="/en/where-to-buy/" id="whereToBuy">Where to Buy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>