<section class="trueFram_wraper secSpace">
    <div class="container">

         <div class="titleWrap text-center">
            <h2 class="mainTitle">Truly Farm<span class="animateIc"><img class="Icons animate" src="./assets/images/icons/farm.svg" loading="lazy" alt="icon" /></span> to Table</h2>
        </div>

        <div class="horizontal-scroll">
            <div class="d-flex flex-nowrap">
                <div class="row">
                    <div class="col-md-8 videoBx scr_box">
                        <!-- video.hbs -->
                        <div class="video-container">
                            <video autoplay muted loop playsinline poster="./assets/images/others/video.png" loading="lazy">
                                {{!-- <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" loading="lazy" type="video/mp4"> --}}
                                <source src="./assets/videos/video.mp4" type="video/mp4"> 
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>

                    <div class="col-md-4 rightBx scr_box">
                        <div class="certBx blkBox changeBx p-0">

                            <div class="hvrBox firstBox">
                                <div class="rightImg">
                                    <img class="img-fluid" src="./assets/images/others/egg.png" loading="lazy" alt="img"/>
                                </div>
                                <div class="halalTitle">LOOK FOR THE<br/> GOLDEN EGG</div>
                            </div>

                            {{!-- Hover-box Start --}}
                            <div class="hvrBox secondtBox">
                                    
                                <div class="boxVideo">
                                    <video autoplay muted loop playsinline poster="./assets/images/others/bread.png" loading="lazy">
                                        <source src="./assets/videos/video.mp4" loading="lazy" type="video/mp4">                                
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                
                                <div class="contSec">
                                    <div class="halalTitle">Exceptional quality <span class="animateIc"><img class="Icons animate" src="./assets/images/icons/tick.svg" loading="lazy" alt="icon" /></span></div>
                                    
                                    <div class="descp">
                                        At Sadia, goodness starts with the way we care for our chickens, ensuring only the best quality, taste and nutrition.
                                    </div>
                                </div>
                            </div>
                            {{!-- Hover-box End --}}
                        </div>
                    </div>
                    
                    <div class="col-md-4 btmBx scr_box">
                        <div class="certBx blkBox text-center">
                            <h5 class="halalTitle "><img class="img-fluid logHalal" src="./assets/images/fav/android-chrome-512x512.png" loading="lazy" alt="img"/> Certified halal</h5>
                            <img class="Icons rotate-center img-fluid" src="./assets/images/others/rotate.png" loading="lazy" alt="img"/>
                        </div>
                    </div>

                    <div class="col-md-8 content btmBx scr_box">
                        <div class="grid truBoxs">
                            <figure class="effect-lily">
                               
                                    <img class="bgImg" src="./assets/images/others/hen.png" loading="lazy" alt="img12"/>
                                    
                                    <figcaption>
                                        <div class="linkStr">
                                            <div class="iconPart">
                                                <img class="firtImg imgSize" src="./assets/images/others/arw.png" loading="lazy" alt="img12"/>
                                                <img class="secdImg imgSize" src="./assets/images/others/eggs.png" loading="lazy" alt="img12"/>
                                            </div>
                                            <div class="textPart">
                                                <div class="gridTitle">Freshness <br/>guaranteed</div>
                                                <div class="descp">We freeze our chickens within 2 hours of slaughtering and transport them in temperature-controlled trucks to ensure food safety.</div>
                                            
                                            </div>
                                        </div>
                                        
                                    </figcaption>	
                                		
                            </figure>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>
