<section class="whats-on-sadia secSpace d-flex" >
    <div class="container">

        <div class="titleWrap text-center">
            <h2 class="mainTitle">What's<span class="animateIc"><img class="Icons animate" src="./assets/images/icons/whats.svg" loading="lazy" alt="icon" /></span>on Sadia</h2>
        </div>

        <div class="social-scroll">            
            <div class="juicer-feed" data-feed-id="sadia"></div>
            {{!-- <iframe src="https://www.juicer.io/api/feeds/sadia/iframe" frameborder="0" width="100%" height="2000" style="display:block;margin:0 auto;"></iframe> --}}
        </div>

        {{!-- <div class="scrl_cards whatSlider">
            <div class="card">
                <div class="cardImg">
                    <span class="fbicon"><img src="./assets/images/news/fb.svg" loading="lazy" alt="icon"></span>
                    <img class="mainImg" src="./assets/images/news/news1.png" loading="lazy" alt="news">
                </div>
                <div class="card-body">
                    <div class="moreDtls">
                        <div class="icCont">
                            <span class="icons"><img src="./assets/images/news/comment.svg" loading="lazy" class="img-fluid" alt="comment"></span>
                            2,103
                        </div>
                        <div class="icCont">
                            <span class="icons"><img src="./assets/images/news/share.svg" loading="lazy" class="img-fluid" alt="share"></span>
                            Share
                        </div>
                    </div>
                    <p>Join us in our exciting Breaded Maze Challenge, featuring a variety of delicious options from our Breaded range. Test your skills and let the snacking fun begin!</p>
                </div>
            </div>

            <div class="card">
                <div class="cardImg">
                    <span class="fbicon"><img src="./assets/images/news/fb.svg" loading="lazy" alt="icon"></span>
                    <img class="mainImg" src="./assets/images/news/news2.png" loading="lazy" alt="news">
                </div>
                <div class="card-body">
                    <div class="moreDtls">
                        <div class="icCont">
                            <span class="icons"><img src="./assets/images/news/comment.svg" loading="lazy" class="img-fluid" alt="comment"></span>
                            2,103
                        </div>
                        <div class="icCont">
                            <span class="icons"><img src="./assets/images/news/share.svg" loading="lazy" class="img-fluid" alt="share"></span>
                            Share
                        </div>
                    </div>
                    <p>Join us in our exciting Breaded Maze Challenge, featuring a variety of delicious options from our Breaded range. Test your skills and let the snacking fun begin!</p>
                </div>
            </div>

            <div class="card">
                <div class="cardImg">
                    <span class="fbicon"><img src="./assets/images/news/fb.svg" loading="lazy" alt="icon"></span>
                    <img class="mainImg" src="./assets/images/news/news3.png" loading="lazy" alt="news">
                </div>
                <div class="card-body">
                    <div class="moreDtls">
                        <div class="icCont">
                            <span class="icons"><img src="./assets/images/news/comment.svg" loading="lazy" class="img-fluid" alt="comment"></span>
                            2,103
                        </div>
                        <div class="icCont">
                            <span class="icons"><img src="./assets/images/news/share.svg" loading="lazy" class="img-fluid" alt="share"></span>
                            Share
                        </div>
                    </div>
                    <p>Join us in our exciting Breaded Maze Challenge, featuring a variety of delicious options from our Breaded range. Test your skills and let the snacking fun begin!</p>
                </div>
            </div>

            <div class="card">
                <div class="cardImg">
                    <span class="fbicon"><img src="./assets/images/news/fb.svg" loading="lazy" alt="icon"></span>
                    <img class="mainImg" src="./assets/images/news/news4.png" loading="lazy" alt="news">
                </div>
                <div class="card-body">
                    <div class="moreDtls">
                        <div class="icCont">
                            <span class="icons"><img src="./assets/images/news/comment.svg" loading="lazy" class="img-fluid" alt="comment"></span>
                            2,103
                        </div>
                        <div class="icCont">
                            <span class="icons"><img src="./assets/images/news/share.svg" loading="lazy" class="img-fluid" alt="share"></span>
                            Share
                        </div>
                    </div>
                    <p>Join us in our exciting Breaded Maze Challenge, featuring a variety of delicious options from our Breaded range. Test your skills and let the snacking fun begin!</p>
                </div>
            </div>
        </div> --}}

    </div>
</section>

