<section class="your-favorite secSpace">
  <div class="container">

    <div class="slider-wrapper">
      <div class="row">
        <div class="col-lg-4">
          <h2 class="mainTitle">What <br/> is your <br/> favorite?</h2>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <!-- Slider for images -->
            <div class="col-lg-6">
              <div class="image-slider">
                <div class="slide">
                  <img  src="./assets/images/others/breaded_L.png" loading="lazy" alt="Image 1">
                </div>
                <div class="slide">
                  <img  src="./assets/images/others/whole_L.png" loading="lazy" alt="Image 2">
                </div>
                <div class="slide">
                  <img src="./assets/images/others/patties.png" loading="lazy" alt="Image 3">
                </div>
                <div class="slide">
                  <img  src="./assets/images/others/fries.png" loading="lazy" alt="Image 4">
                </div>
              </div>
            </div>
          
            <!-- Slider for content (show/hide) -->
            <div class="content-section col-lg-6">

              <div class="content-item" data-slide="0">
                <ul class="lists">
                  <li>
                    100% <br/>CHICKEN BREAST
                  </li>
                  <li>
                    10 + <br/>PRODUCTS
                  </li>
                  <li>
                    5 + <br/>RECIPES
                  </li>
                </ul>
                <h3 class="title">BREADED CHICKEN</h3>
                <p>Id cursus metus aliquam eleifend mi in nulla posuere. Lorem faucibus vitae aliquet nec ullamcorper sit. </p>
                <a class="btn-more" href="#" id="viewProduct">VIEW PRODUCTS</a>
              </div>

              <div class="content-item" data-slide="1">
                 <ul class="lists">
                  <li>
                    100% <br/>CHICKEN BREAST
                  </li>
                  <li>
                    10 + <br/>PRODUCTS
                  </li>
                  <li>
                    5 + <br/>RECIPES
                  </li>
                </ul>
                <h3 class="title">
                  WHOLE CHICKEN
                  & CHICKEN PARTS
                </h3>
                <p>Id cursus metus aliquam eleifend mi in nulla posuere. Lorem faucibus vitae aliquet nec ullamcorper sit. </p>
                <a class="btn-more" href="#" id="viewProduct">VIEW PRODUCTS</a>
              </div>

              <div class="content-item" data-slide="2">
                <ul class="lists">
                  <li>
                    100% <br/>CHICKEN BREAST
                  </li>
                  <li>
                    7 + <br/>PRODUCTS
                  </li>
                  <li>
                    3 + <br/>RECIPES
                  </li>
                </ul>
                <h3 class="title">
                  Patties, Franks<br/> & Shawerma
                </h3>
                <p>Id cursus metus aliquam eleifend mi in nulla posuere. Lorem faucibus vitae aliquet nec ullamcorper sit. </p>
                <a class="btn-more" href="#" id="viewProduct">VIEW PRODUCTS</a>
              </div>

              <div class="content-item" data-slide="3">
                <ul class="lists">
                  <li>
                    100% <br/>CHICKEN BREAST
                  </li>
                  <li>
                    20 + <br/>PRODUCTS
                  </li>
                  <li>
                    10 + <br/>RECIPES
                  </li>
                </ul>
                
                <h3 class="title">
                  Fries & FROZEN<br/>Vegetables
                </h3>
                <p>Id cursus metus aliquam eleifend mi in nulla posuere. Lorem faucibus vitae aliquet nec ullamcorper sit. </p>
                <a class="btn-more" href="#" id="viewProduct">VIEW PRODUCTS</a>
              </div>
          

            </div>
          </div>
        </div>

      </div>

      <!-- Thumbnail navigation -->
      <div class="thumbnail-slider">
        <div class="thumbnail" data-slide="0">
          <div class="imgSpc">
            <div class="imgThumb"><img src="./assets/images/others/breaded.png" loading="lazy" alt="Thumbnail 1"></div>
          </div>
          <p class="title">BREADED<br/> CHICKEN</p>
        </div>
        <div class="thumbnail" data-slide="1">
          <div class="imgSpc">
            <div class="imgThumb"><img src="./assets/images/others/whole.png" loading="lazy" alt="Thumbnail 2"></div>
          </div>
          <p class="title">WHOLE CHICKEN<br/> & CHICKEN PARTS</p>
        </div>
        <div class="thumbnail" data-slide="2">
          <div class="imgSpc">
            <div class="imgThumb"><img  src="./assets/images/others/patties.png" loading="lazy" alt="Thumbnail 3"></div>
          </div>
          <p class="title">Patties, Franks<br/> & Shawerma</p>
        </div>
        <div class="thumbnail" data-slide="3">
          <div class="imgSpc">
            <div class="imgThumb"><img src="./assets/images/others/fries.png" loading="lazy" alt="Thumbnail 2"></div>
          </div>
          <p class="title">Fries & FROZEN<br/>Vegetables</p>
        </div>
         
      </div>
    </div>
  </div>
</section> 
