


<section class="your-favorite secSpace">
  <div class="container">

    
 <div class="slider-wrapper">
    
        <div class="">
          <h2 class="mainTitle">What <br/> is your <br/> favorite?</h2>
        </div>
        
       
            <!-- Slider for images -->
            <div class="yearSlider">
              <div class="image-slider">
                <div class="slide">
                  <div class="row">
                    <div class="contWrapper col-md-6">
                        <div class="spaceBx">
                            <h3 class="title">
                                1970
                            </h3>
                            <p>Sadia was founded in Brazil, where the journey of great taste and quality began. </p>
                        </div>
                    </div>
                    <div class="imgWrapper col-md-6">
                        <img  src="./assets/images/about/slider1.png" alt="Image 1">
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="row">
                    <div class="contWrapper col-md-6">
                        <div class="spaceBx">
                            <h3 class="title">
                                1970
                            </h3>
                            <p>Sadia was founded in Brazil, where the journey of great taste and quality began. </p>
                        </div>
                    </div>
                    <div class="imgWrapper col-md-6">
                        <img  src="./assets/images/about/slider1.png" alt="Image 1">
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="row">
                    <div class="contWrapper col-md-6">
                        <div class="spaceBx">
                            <h3 class="title">
                                1970
                            </h3>
                            <p>Sadia was founded in Brazil, where the journey of great taste and quality began. </p>
                        </div>
                    </div>
                    <div class="imgWrapper col-md-6">
                        <img  src="./assets/images/about/slider1.png" alt="Image 1">
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="row">
                    <div class="contWrapper col-md-6">
                        <div class="spaceBx">
                            <h3 class="title">
                                1970
                            </h3>
                            <p>Sadia was founded in Brazil, where the journey of great taste and quality began. </p>
                        </div>
                    </div>
                    <div class="imgWrapper col-md-6">
                        <img  src="./assets/images/about/slider1.png" alt="Image 1">
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="row">
                    <div class="contWrapper col-md-6">
                        <div class="spaceBx">
                            <h3 class="title">
                                1970
                            </h3>
                            <p>Sadia was founded in Brazil, where the journey of great taste and quality began. </p>
                        </div>
                    </div>
                    <div class="imgWrapper col-md-6">
                        <img  src="./assets/images/about/slider1.png" alt="Image 1">
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="row">
                    <div class="contWrapper col-md-6">
                        <div class="spaceBx">
                            <h3 class="title">
                                1970
                            </h3>
                            <p>Sadia was founded in Brazil, where the journey of great taste and quality began. </p>
                        </div>
                    </div>
                    <div class="imgWrapper col-md-6">
                        <img  src="./assets/images/about/slider1.png" alt="Image 1">
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="row">
                    <div class="contWrapper col-md-6">
                        <div class="spaceBx">
                            <h3 class="title">
                                1970
                            </h3>
                            <p>Sadia was founded in Brazil, where the journey of great taste and quality began. </p>
                        </div>
                    </div>
                    <div class="imgWrapper col-md-6">
                        <img  src="./assets/images/about/slider1.png" alt="Image 1">
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="row">
                    <div class="contWrapper col-md-6">
                        <div class="spaceBx">
                            <h3 class="title">
                                1970
                            </h3>
                            <p>Sadia was founded in Brazil, where the journey of great taste and quality began. </p>
                        </div>
                    </div>
                    <div class="imgWrapper col-md-6">
                        <img  src="./assets/images/about/slider1.png" alt="Image 1">
                    </div>
                  </div>
                </div>
            </div>
      
         
       

      </div>

      <!-- Thumbnail navigation -->
      <div class="thumbnail-slider">
        <div class="thumbnail" data-slide="0">
          <p class="title">1970</p>
        </div>
        <div class="thumbnail" data-slide="1">
          <p class="title">1980</p>
        </div>
        <div class="thumbnail" data-slide="2">
          <p class="title">1990</p>
        </div>
        <div class="thumbnail" data-slide="3">
          <p class="title">1995</p>
        </div>
        <div class="thumbnail" data-slide="4">
          <p class="title">2000</p>
        </div>
        <div class="thumbnail" data-slide="5">
          <p class="title">2005</p>
        </div>
        <div class="thumbnail" data-slide="6">
          <p class="title">2010</p>
        </div>
        <div class="thumbnail" data-slide="7">
          <p class="title">2010</p>
        </div>
         
      </div>
   

  </div>
</section> 
