
<section class="storyWraper secSpace pb-0">
  <div class="container">

    

    <div class="slider-wrapper yearSlider">
        <div class="wraper">
          <div class="row rotSect">
          
            <!-- Slider for content (show/hide) -->
            <div class="content-section col-lg-6">

              <div class="content-item contWrapper" data-slide="0">
                <div class="spaceBx">
                    <h2 class="sliderTitle">our story</h2>

                    <h3 class="title">1970</h3>
                    <div class="descp">
                        <p>Sadia was founded in Brazil,<br> where the journey of great taste and quality began. </p>
                    </div>
                </div>
              </div>

              <div class="content-item contWrapper" data-slide="1">
                <div class="spaceBx">
                    <h2 class="sliderTitle">our story</h2>
                    
                    <h3 class="title">1980</h3>
                    
                    <div class="descp">
                        <p>Sadia entered the Middle East with the Frozen Whole Poultry range.</p>
                    </div>
                </div>
              </div>

              <div class="content-item contWrapper" data-slide="2">
                <div class="spaceBx">
                    <h2 class="sliderTitle">our story</h2>

                    <h3 class="title">1990</h3>
                    <div class="descp">
                        <p>A decade later Sadia proudly<br> introduced its first-ever ready-to-eat product range in the Middle East</p>
                    </div>
                </div>
              </div>

              <div class="content-item contWrapper" data-slide="3">
                <div class="spaceBx">
                    <h2 class="sliderTitle">our story</h2>

                    <h3 class="title">2009</h3>
                    <div class="descp">
                        <p>Sadia started operating with a fully owned<br> distribution in KSA</p>
                    </div>
                </div>
              </div>
              <div class="content-item contWrapper" data-slide="4">
                <div class="spaceBx">
                    <h2 class="sliderTitle">our story</h2>

                    <h3 class="title">2013</h3>
                    <div class="descp">
                        <p>Sadia started operating with a fully owned<br> distribution in KSA</p>
                    </div>
                </div>
              </div>

            </div>

            <!-- Slider for images -->
            <div class="col-lg-6 imgWrapper">
              <div class="image-slider">
                <div class="slide">
                    <div class="imgBox">
                        <img  src="./assets/images/about/story.png" alt="Image 1">
                    </div>
                </div>
                <div class="slide">
                    <div class="imgBox">
                        <img  src="./assets/images/about/story2.png" alt="Image 2">
                    </div>
                </div>
                <div class="slide">
                    <div class="imgBox">
                        <img  src="./assets/images/about/story3.png" alt="Image 3">
                    </div>
                </div>
                <div class="slide">
                    <div class="imgBox">
                        <img  src="./assets/images/about/story.png" alt="Image 4">
                    </div>
                </div>
                <div class="slide">
                    <div class="imgBox">
                        <img  src="./assets/images/about/story2.png" alt="Image 5">
                    </div>
                </div>
              </div>
            </div>

          </div>
        </div>

       <!-- Thumbnail navigation -->
      <div class="thumbnail-slider yearWidth">
        <div class="thumbnail" data-slide="0">
          <p class="title">1970</p>
        </div>
        <div class="thumbnail" data-slide="1">
          <p class="title">1980</p>
        </div>
        <div class="thumbnail" data-slide="2">
          <p class="title">1990</p>
        </div>
        <div class="thumbnail" data-slide="3">
          <p class="title">2009</p>
        </div>
        <div class="thumbnail" data-slide="4">
          <p class="title">2013</p>
        </div>
      </div>

    </div>
    
  </div>
</section> 
