
<section class="campaignBxWraper abtBox pb-1">
    <div class="container">
        <div class="row align-items-center bxOuter">

            <div class="camp_bximg col-md-6">
                <div class="img-box">
                    <img src="/assets/images/about/history.png" class="img-fluid bxImg" alt="img">
                </div>
            </div>

            <div class="contBoxs col-md-6">
                <h3 class="subitle">Long History Of Excellence</h3>
                <div class="descp">
                    <p>
                        We’ve been in the Middle East since the 1970s. Today, we are proud to be the market leader in the chicken category, as well as the preferred brand of consumers in the region. Since the beginning, we have been happily providing high-quality food with the highest safety standards as our number one priority. Our vertically integrated supply chain gives us full control of every step of the process ensuring high quality products reach safely all the way to the supermarket shelf.
                        <br><br>At Sadia, any product baring Halal seal sold anywhere in the world, is in respect to the Halal principles established by the Islamic law. Our product range is diverse and delicious, comprising whole chicken, chicken parts, ready to prepare products, fries and now, frozen vegetables. For us, innovation and quality go hand in hand, as we provide nothing but the best quality and tasty products to every home.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</section>
