
<section class="storyWraper secSpace pb-0">
  <div class="container">

        {{!-- <div class="slider-wrapper yearSlider"> --}}
            {{!-- <div class="wraper">
              <div class="row rotSect"> --}}
              
                <!-- Slider for content (show/hide) -->
                {{!-- <div class="content-section col-lg-6">
                  <div class="content-slider">
                    
                    <div class="content-item contWrapper" data-slide="0">
                      <div class="spaceBx">
                          <h2 class="sliderTitle">our story</h2>

                          <h3 class="title">1970</h3>
                          <div class="descp">
                              <p>Sadia was founded in Brazil,<br> where the journey of great taste and quality began. </p>
                          </div>
                      </div>
                    </div>

                    <div class="content-item contWrapper" data-slide="1">
                      <div class="spaceBx">
                          <h2 class="sliderTitle">our story</h2>
                          
                          <h3 class="title">1980</h3>
                          
                          <div class="descp">
                              <p>Sadia entered the Middle East with the Frozen Whole Poultry range.</p>
                          </div>
                      </div>
                    </div>

                    <div class="content-item contWrapper" data-slide="2">
                      <div class="spaceBx">
                          <h2 class="sliderTitle">our story</h2>

                          <h3 class="title">1990</h3>
                          <div class="descp">
                              <p>A decade later Sadia proudly<br> introduced its first-ever ready-to-eat product range in the Middle East</p>
                          </div>
                      </div>
                    </div>

                    <div class="content-item contWrapper" data-slide="3">
                      <div class="spaceBx">
                          <h2 class="sliderTitle">our story</h2>

                          <h3 class="title">2009</h3>
                          <div class="descp">
                              <p>Sadia started operating with a fully owned<br> distribution in KSA</p>
                          </div>
                      </div>
                    </div>

                    <div class="content-item contWrapper" data-slide="4">
                      <div class="spaceBx">
                          <h2 class="sliderTitle">our story</h2>

                          <h3 class="title">2013</h3>
                          <div class="descp">
                              <p>Sadia started operating with a fully owned<br> distribution in KSA</p>
                          </div>
                      </div>
                    </div>

                  </div>
                </div> --}}

                <!-- Slider for images -->
                {{!-- <div class="col-lg-6 imgWrapper">
                  <div class="image-slider">
                    <div class="slide">
                        <div class="imgBox">
                            <img  src="./assets/images/about/story.png" alt="Image 1">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="imgBox">
                            <img  src="./assets/images/about/story2.png" alt="Image 2">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="imgBox">
                            <img  src="./assets/images/about/story3.png" alt="Image 3">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="imgBox">
                            <img  src="./assets/images/about/story.png" alt="Image 4">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="imgBox">
                            <img  src="./assets/images/about/story2.png" alt="Image 5">
                        </div>
                    </div>
                  </div>
                </div> --}}

              {{!-- </div>
            </div> --}}

          <!-- Thumbnail navigation -->
          {{!-- <div class="thumbnail-slider yearWidth">
            <div class="thumbnail" data-slide="0">
              <p class="title">1970</p>
            </div>
            <div class="thumbnail" data-slide="1">
              <p class="title">1980</p>
            </div>
            <div class="thumbnail" data-slide="2">
              <p class="title">1990</p>
            </div>
            <div class="thumbnail" data-slide="3">
              <p class="title">2009</p>
            </div>
            <div class="thumbnail" data-slide="4">
              <p class="title">2013</p>
            </div>
          </div> --}}

        {{!-- </div> --}}



        <h2 class="sliderTitle">Our Story</h2>

        <div class="slider-wrapper yearSlider">       
          <div class="imgWrapper wraper">
              <div class="sliderBoxs" id="new-image-slider">
                <div class="slide">
                    <div class="storyBox">
                      <div class="contWrapper">
                        <div class="spaceBx">
                          <h3 class="title">1944</h3>
                          <div class="descp">
                              <p>Sadia was founded in Brazil, where the journey of great taste and quality began.</p>
                          </div>
                        </div>
                      </div>
                      <div class="imgBox">
                          <img  src="./assets/images/about/story.png" alt="Image 1">
                      </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="storyBox">
                      <div class="contWrapper">
                        <div class="spaceBx">
                          <h3 class="title">1970</h3>
                          <div class="descp">
                              <p> Sadia entered the Middle East with the Frozen Whole Poultry range.</p>
                          </div>
                        </div>
                      </div>
                       <div class="imgBox">
                          <img  src="./assets/images/about/story2.png" alt="Image 2">
                      </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="storyBox">
                      <div class="contWrapper">
                        <div class="spaceBx">
                          <h3 class="title">1980</h3>
                          <div class="descp">
                              <p>10 years later, Sadia revolutionized the industry, launching Frozen Poultry Parts in the Middle East.</p>
                          </div>
                        </div>
                      </div>
                      <div class="imgBox">
                          <img  src="./assets/images/about/story3.png" alt="Image 3">
                      </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="storyBox">
                      <div class="contWrapper">
                        <div class="spaceBx">
                          <h3 class="title">1990</h3>
                          <div class="descp">
                              <p>A decade later Sadia proudly introduced its first-ever ready-to-eat product range in the Middle East.</p>
                          </div>
                        </div>
                      </div>
                      <div class="imgBox">
                          <img  src="./assets/images/about/story4.png" alt="Image 4">
                      </div>
                    </div>
                </div>
                 <div class="slide">
                    <div class="storyBox">
                      <div class="contWrapper">
                        <div class="spaceBx">
                          <h3 class="title">2009</h3>
                          <div class="descp">
                              <p>Sadia started operating with a fully owned distribution in KSA.</p>
                          </div>
                        </div>
                      </div>
                      <div class="imgBox">
                          <img  src="./assets/images/about/guide3.png" alt="Image 5">
                      </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="storyBox">
                      <div class="contWrapper">
                        <div class="spaceBx">
                          <h3 class="title">2013</h3>
                          <div class="descp">
                              <p>Soon after, Sadia started operating with a fully owned distribution in UAE.</p>
                          </div>
                        </div>
                      </div>
                      <div class="imgBox">
                          <img  src="./assets/images/about/guide2.png" alt="Image 6">
                      </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="storyBox">
                      <div class="contWrapper">
                        <div class="spaceBx">
                          <h3 class="title">2014</h3>
                          <div class="descp">
                              <p>After a year, Sadia opened  the very first factory in UAE - Abu Dhabi.</p>
                          </div>
                        </div>
                      </div>
                      <div class="imgBox">
                          <img  src="./assets/images/recipes/cook2.png" alt="Image 7">
                      </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="storyBox">
                      <div class="contWrapper">
                        <div class="spaceBx">
                          <h3 class="title">2014 - 2016</h3>
                          <div class="descp">
                              <p>Sadia then continued acquisition of the own distributions in Kuwait, Oman and Qatar.</p>
                          </div>
                        </div>
                      </div>
                      <div class="imgBox">
                          <img  src="./assets/images/recipes/cook4.png" alt="Image 8">
                      </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="storyBox">
                      <div class="contWrapper">
                        <div class="spaceBx">
                          <h3 class="title">2020</h3>
                          <div class="descp">
                              <p>
                                Very recently, Sadia acquired its second food processing factory in Dammam - KSA.
                              </p>
                          </div>
                        </div>
                      </div>
                      <div class="imgBox">
                          <img  src="./assets/images/recipes/cook8.png" alt="Image 9">
                      </div>
                    </div>
                </div>
              </div>
          </div>

          <!-- Thumbnail navigation -->
          <div class="yearWidth" id="new-thumbnail-slider">
            <div class="thumbnail" data-slide="0">
              <p class="title">1944</p>
            </div>
            <div class="thumbnail" data-slide="1">
              <p class="title">1970</p>
            </div>
            <div class="thumbnail" data-slide="2">
              <p class="title">1980</p>
            </div>
            <div class="thumbnail" data-slide="3">
              <p class="title">1990</p>
            </div>
            <div class="thumbnail" data-slide="4">
              <p class="title">2009</p>
            </div>
            <div class="thumbnail" data-slide="5">
              <p class="title">2013</p>
            </div>
            <div class="thumbnail" data-slide="6">
              <p class="title">2014</p>
            </div>
            <div class="thumbnail" data-slide="7">
              <p class="title">2014-2016</p>
            </div>
            <div class="thumbnail" data-slide="8">
              <p class="title">2020</p>
            </div>
          </div>
        </div>
    
  </div>
</section> 
