
<section class="campaignBxWraper abtBox secSpace py-0">
    <div class="container">
        <div class="row align-items-center bxOuter">

            <div class="contBoxs col-md-6">
                <h3 class="subitle newSpc">Food safety & quality</h3>
                <div class="descp">
                    <p>
                        ​Sadia has full control over the quality and hygiene of its chicken,  from the moment we freeze it to the moment you pick it up from the  store.
                        <br><br>
                        Sadia ensures the highest standards of quality, integrity and food safety of its products from slaughtering chickens up until the final packaging and distribution of the product.
                        <br><br>
                        Our Halal Chicken is freshly frozen and delivered in hygienic temperature-controlled conditions to ensure safety and high quality.
                        <br><br>
                        The company follows thorough testing and quality control across factories, warehouses, and distribution. All our plants are certified against international food safety standards like HACCP, BRC, IFS, FSSC, ISO, etc.
                        <br><br>
                        Our products are produced with utmost care and quality standards, ensuring the food safety of our products until it reaches our customers.  
                       
                    </p>                   
                </div>
            </div>

            <div class="camp_bximg certImg col-md-6">
                <div class="img-box">
                    <img src="./assets/images/about/cert.png" class="img-fluid bxImg" alt="img">
                </div>
            </div>
            
        </div>
    </div>
</section>
