


<section class="cookingHacks secSpace how_weSect">
    <div class="container">

        <div class="titleWrap text-center">
            <h2 class="mainTitle">Our Guidelines</h2>
        </div>

        <!-- Add a wrapper with overflow-x for horizontal scrolling -->
        <div class="row horizontal-scroll">
            <div class="col-12">
                <div class="d-flex flex-nowrap">
                    <div class="card me-4">
                        <div class="cardBox">
                            <div class="cardImg">
                                <img src="./assets/images/about/guide1.png" class="mainImg" alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                   Halal Certified products
                                </h5>
                                <div class="descp">
                                    <p>
                                        At Sadia, any product baring the Halal seal, sold worldwide, is in  respect to the Halal principles established by the Islamic law.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="card me-4">
                        <div class="cardBox">
                            <div class="cardImg">
                                <img src="./assets/images/about/guide2.png" class="mainImg" alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                   Only the best
                                </h5>
                                <div class="descp">
                                    <p>
                                        We raise our chickens on a healthy balanced diet, and and prepared them for you according to Islamic law.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="card me-4">
                        <div class="cardBox">
                            <div class="cardImg">
                                <img src="./assets/images/about/guide3.png" class="mainImg" alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                   Farm to table
                                </h5>
                                <div class="descp">
                                    <p>
                                        We freeze our chickens within 2 hours of slaughtering and transport them in temperature-controlled trucks to ensure food safety.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
