


<section class="cookingHacks secSpace how_weSect">
    <div class="container">

         <div class="titleWrap text-center">
            <h2 class="mainTitle">HOW WE ABIDE</h2>
        </div>

        <!-- Add a wrapper with overflow-x for horizontal scrolling -->
        <div class="row horizontal-scroll">
            <div class="col-12">
                <div class="d-flex flex-nowrap">
                    <div class="card me-4">
                        <div class="cardBox">
                            <div class="cardImg">
                                <img src="./assets/images/about/slider1.png" class="mainImg" alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                   <p>Exceptional quality</p>
                                </div>
                                <div class="descp">
                                    <p>
                                        At Sadia, goodness starts with the way we care for our chickens, ensuring only the best quality, taste and nutrition.  
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="card me-4">
                        <div class="cardBox">
                            <div class="cardImg">
                                <img src="./assets/images/about/slider2.png" class="mainImg" alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                   <p>Certified halal</p>
                                </div>
                                <div class="descp">
                                    <p>
                                        We raise our chickens on a healthy balanced diet, and and prepared them for you according to Islamic law.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="card me-4">
                        <div class="cardBox">
                            <div class="cardImg">
                                <img src="./assets/images/about/slider3.png" class="mainImg" alt="Popular Recipe 3">
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                   <p>Freshness guaranteed</p>
                                </div>
                                <div class="descp">
                                    <p>
                                        We freeze our chickens within 2 hours of slaughtering and transport them in temperature-controlled trucks to ensure food safety.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
