
<section class="campaignBxWraper abtBox secSpace buyBoxs">
    <div class="container">
        <div class="row align-items-center bxOuter">

            <div class="contBoxs col-md-6">
                <h3 class="subitle">Where to buy?</h3>
                <div class="descp">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                    </p>
                </div>
                <div class="button-container weObly">
                    <a href="#" class="btn btn-more mt-3">view all stores</a>
                </div>
            </div>

            <div class="shop_logos col-md-6">
                <!-- Add a wrapper with overflow-x for horizontal scrolling -->
                <div class="horizontal-scroll">
                    <div class="row d-flex flex-nowrap flex_col">
                        <div class="col-md-12 boxDivs">
                            <div class="card pad-L">
                                <div class="logo-box" >
                                    <a class="where-to-buy"><img src="./assets/images/about/logo1.png" class="img-fluid bxImg" alt="img"></a>
                                </div>
                            </div>
                            <div class="card pad-L">
                                <div class="logo-box">
                                    <a class="where-to-buy"><img src="./assets/images/about/logo2.png" class="img-fluid bxImg" alt="img"></a>
                                </div>
                            </div>
                            <div class="card pad-L">
                                <div class="logo-box">
                                    <a class="where-to-buy"><img src="./assets/images/about/logo3.png" class="img-fluid icImg" alt="img"></a>
                                </div>
                            </div>
                        {{!-- </div>  
                        <div class="col-md-12 boxDivs">  --}}
                            <div class="card pad-L">
                                <div class="logo-box">
                                    <a class="where-to-buy"><img src="./assets/images/about/logo4.png" class="img-fluid icImg" alt="img"></a>
                                </div>
                            </div>
                            <div class="card pad-L">
                                <div class="logo-box">
                                    <a class="where-to-buy"><img src="./assets/images/about/logo5.png" class="img-fluid icImg" alt="img"></a>
                                </div>
                            </div>
                            <div class="card pad-L">
                                <div class="logo-box">
                                    <a class="where-to-buy"><img src="./assets/images/about/logo6.png" class="img-fluid icImg" alt="img"></a>
                                </div>
                            </div>
                       </div> 
                    </div>
                </div>

                <div class="button-container mobOnly">
                    <a class="where-to-buy btn btn-more mt-3">view all stores</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
