@use '../../src/scss/custom.scss' as *;


/* ICON-ANIMATION START */
.Icons.animate {
	animation: 4s ease-out infinite swing;
  transform-origin: right bottom;
}



@keyframes swing {
	0%,
	100% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(15deg);
	}
}
/* ICON-ANIMATION END */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */

 .rotate-center {
	-webkit-animation: rotate-center 25.6s linear infinite ;
	        animation: rotate-center 25.6s linear infinite ;
}


 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}



/* CIRCLE-ANIAMTION END */



/* Keyframes for swinging and size increase Start */
@keyframes swing-size {
  0% {
      transform: scale(1) rotate(0deg); /* Start with original size and rotation */
  }
  25% {
      transform: scale(1.5) rotate(-10deg); /* Increase size and slightly rotate */
  }
  50% {
      transform: scale(1) rotate(10deg); /* Back to original size with opposite rotation */
  }
  75% {
      transform: scale(1.5) rotate(-10deg); /* Increase size and slightly rotate again */
  }
  100% {
      transform: scale(1) rotate(0deg); /* End back at original size and rotation */
  }
}
/* Keyframes for swinging and size increase Enb */