@use '../../src/scss/custom.scss' as *;


/* ICON-ANIMATION START */
.Icons.animate {
  animation: swing-move 8s ease-out infinite; 
  transform-origin: center center; 
}



// @keyframes swing {
// 	0%,
// 	100% {
// 		transform: rotate(0deg);
// 	}
// 	50% {
// 		transform: rotate(15deg);
// 	}
// }
/* ICON-ANIMATION END */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */

 .rotate-center {
	-webkit-animation: rotate-center 25.6s linear infinite ;
	        animation: rotate-center 25.6s linear infinite ;
}


 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}



/* CIRCLE-ANIAMTION END */



/* Keyframes for swinging Start */

@keyframes swing-move {
  0% {
    transform: rotate(0deg); /* Start at the original position */
  }
  10% {
    transform: rotate(-30deg); /* First swing to the left */
  }
  20% {
    transform: rotate(0deg); /* Swing back to the right */
  }
  30% {
    transform: rotate(-15deg); /* Second swing to the left */
  }
  40% {
    transform: rotate(0deg); /* Return to the original position */
  }
  50% {
    transform: rotate(0deg); /* Pause for 2 seconds */
  }
  60% {
    transform: rotate(30deg); /* First swing to the right */
  }
  70% {
    transform: rotate(0deg); /* Swing back to the left */
  }
  80% {
    transform: rotate(15deg); /* Second swing to the right */
  }
  90% {
    transform: rotate(0deg); /* Return to the original position */
  }
  100% {
    transform: rotate(0deg); /* Pause for 2 seconds */
  }
}

// FOOTER-SWING START

@keyframes swing-footer {
  0% {
    transform: rotate(0deg); 
  }
  10% {
    transform: rotate(-35deg); 
  }
  20% {
    transform: rotate(0deg); 
  }
  30% {
    transform: rotate(-35deg); 
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg); 
  }
  60% {
    transform: rotate(60deg); 
  }
  70% {
    transform: rotate(35deg); 
  }
  80% {
    transform: rotate(60deg); 
  }
  90% {
    transform: rotate(35deg); 
  }
  95% {
    transform: rotate(35deg); 
  }
  100% {
    transform: rotate(0deg); 
  }
}

/* Keyframes for swinging End */