@use '../../src/scss/custom.scss' as *;




html[dir="rtl"]{
    font-size:14px;


    dt {
        font-weight: 600;
    }
    .me-4 {
        margin-left: 1.5rem !important;
        margin-right: 0 !important;
    }
    .ms-auto {
        margin-right: auto !important;
        margin-left: inherit !important;
    }
    .card{
        .card-body{
            .moreDtls{
                justify-content: right;
            }
        }
    } 
    .carousel-inner {
        display: block;
    }

    .contInfo{
        ul{
            li{

                .cont-icon {
                    transform: scaleX(-1);
                }
            }
        }
    }
    .navBox {
        justify-content: flex-start !important;
    }
    .reverse-cl {
        flex-direction: row !important;
    }
    input{
        &#phoneNumber {
            text-align: right !important;
            padding-right: 45px;
        }
    }

    header{
        .navbar{
            &.bg-primary{
                .headerLogo{
                    margin: 0 0 0 65px;
                }
            }
            .nav-link{
                &.spaceR{
                    padding-left: 0 !important;
                    padding-right: 15px !important;
                    border-radius: 0px 4px 4px 0px !important;
                }
                &.spaceL{
                    padding-right: 0 !important;
                    padding-left: 15px !important;
                    border-radius: 4px 0px 0px 4px !important;
                }
                &.dropdown-toggle{
                    &::after{
                        margin: 0 10px 0 0;
                    }
                }
            }
            .megamenu{
                .menuTitle{
                    .titleText{
                        text-align: right;
                    }
                }
            }
        }

         

        .navbar-nav{
            &.navRights{
                li.nav-item{
                    margin: 0 12px 0 0;
                    &.search_nav{
                        margin-left: 10px;
                    }
                }
            } 
        }
        .search-bar-container{
            .btn-outline{
                &.close-button{
                    right: inherit;
                    left: 0;
                }
            }
        } 
    } 

    .bannerSlider{
        &.campaignBanners {
            .carousel-caption{
                text-align: right;
            }
        }

        .carousel{
            .carousel-caption{
                text-align: right;
            }
            .carousel-indicators{
                right: 0px;
                left: 70px;
            }
        }
    }
    .popular-section{
        .horizontal-scroll{
            .card{
                &.me-4{
                    &:last-child {
                        margin-left: 0 !important;
                    } 
                }
            }
        }
    }
    .card{
        .card-body{
            .moreDtls{
                .icCont {
                    margin-left: 24px;
                    margin-right: 0;
                    .icons{
                        margin-right: 0px;
                        margin-left: 6px;
                    }
                    &:last-child{
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .your-favorite{
        .slider-wrapper{
            .mainTitle {
                text-align: right;
            }
            .content-section{
                .content-item{
                    .lists{
                        li{
                            border-left: 1px solid;
                            border-right: 0;
                            padding-right: 0px;
                            margin-right: 0px;
                            padding-left: 15px;
                            margin-left: 15px;

                            &:last-child{
                                border-left: 0;
                                padding-left: 0;
                                margin-left: 0;
                            }
                        }
                    }
                }
            } 
            .thumbnail-slider{
                .slick-arrow{
                    &.slick-prev{
                        transform: scaleX(-1);
                        right: 0;
                        left: inherit;
                        top: 30%;
                    }
                    &.slick-next{
                        transform: scaleX(-1);
                        left: 0;
                        right: inherit;
                        top: 30%;
                    }
                }
            }
        }
    }
    .trueFram_wraper{
        .blkBox{
            .halalTitle{
                img.logHalal{
                    margin: 0 0 0 10px;
                }
            }
        } 
        .rightBx{
            .rightImg {
                text-align: right;
            }
           
            .changeBx{
                &.blkBox{
                    .firstBox{
                        .halalTitle {
                            padding: 0px 48px 48px;
                            width: 100%;
                            justify-content: right;
                        }
                    } 
                }
                .secondtBox{
                    .contSec{
                        .halalTitle{
                            justify-content: right;
                            .animateIc{
                                right: inherit;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }

        .grid{
            &.truBoxs{
                figure{
                    .textPart{
                        .gridTitle{
                            text-align: right;
                        }
                    }
                    &.effect-lily{
                        figcaption{
                            .descp{
                                text-align: right; 
                            }
                        }
                    }
                }
                  
            }
        }
        

          
    } 
    .find-us{
        .mapBox{
            .dropdown-container{
                select{
                    &.countryDrops{
                        padding: 5px 0px 5px 25px;
                        background: url(../assets/images/icons/drop-down.svg);
                        background-repeat: no-repeat;
                        background-position: 0% center;
                        background-size: 16px;
                    }
                }
            }   
        }
    }
    .whats-on-sadia{
        .social-scroll{
            .juicer-feed{
                &.slider{
                    .slick-track{
                        li.feed-item{
                            margin: 0 20px 0 0;
                        }
                        .j-text{
                            p{
                                text-align: right; 
                            }
                            .j-message{
                                text-align: right;
                            }
                        } 
                        .j-meta{
                            text-align: right;
                            a{
                                display: flex;
                                flex-direction: row;
                                &:before{
                                    margin: 0 0 0 5px;
                                }
                            }
                           
                            nav{
                                left: inherit;
                                right: 7px;
                                a:before{
                                    margin: 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }  
    footer{
        .ftr_links{
            li{
                margin: 0 0 0 40px;
                &:last-child{
                    margin-left: 0;
                }
            }
        }
    } 


    .campaignBxWraper{
        .contBoxs{
            .descp{
                padding-right: 0;
                padding-left: 3%;
            }
        }
    }
    .breadcrumb{
        .breadcrumb-item{
            padding-right: var(--bs-breadcrumb-item-padding-x);
            &::before {
                float: right;
                padding-left: var(--bs-breadcrumb-item-padding-x);
                padding-right: 0;
            }
        }
    }

    .contactWraper{
        .contactForms{
            float: left;
            .numberSect{
                .mobileWidth{
                    text-align: end;
                }
                .countrCodes{
                    .dropdown-toggle{
                        background-position: 3px center;
                        .me-2 {
                            margin-left: .5rem !important;
                            margin-right: 0 !important;
                        }
                    }
                } 
            }
            .btmSpaces{
                .text-end {
                    text-align: left !important;
                }
            }
            select{
                background-position: 10px center;
            }
            .custom-file-upload{
                img.upIcon{
                    margin: 0 0 0 12px;
                }
            } 
            
        }
        .contactSect{
            padding-right: 5% !important;
        }
    }
    .faqWraper{
        .acrdDesg{
            .accordion-item{
                .accordion-button{
                    &::after{
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    } 
    .whereWrapper{
        .tabWraper{
            .tab-pane{
                .postDiv{
                    float: left;
                }
            }
        }
    }   
    .filterSection{
        .search-bar-container {
            margin: 0 10px 0 0;
            .locatSearch{
                .cl_ser{
                    right: inherit;
                    left: 0;
                }
            } 
        }
        .countryDrops,  .form-select{
            padding: .375rem 0.7rem .375rem 2.25rem;
            background-position: 10px center;
        }
        
    }
    .storyWraper {
        .slick-arrow{
            &.slick-prev{
                right: -35px;
                left: inherit;
                top: 11px;
                transform: scaleX(-1);
            }
            &.slick-next{
                right: inherit;
                left: -35px;
                transform: scaleX(-1);
                top: 11px;
            }
        }
        
    }
    .trendingWraper{
        .card{
            .card-body{
                .card-title{
                    padding-left: 5%;
                    padding-right: 0;
                }
                .card-text{
                    display: flex;
                    flex-direction: inherit;
                    span{
                        padding: 0 5px 0 0;
                    }
                }
            }
        } 
    }

    .popular-section{
        .card{
            .card-body{
                .card-text{
                    display: flex;
                    flex-direction: inherit;
                    span{
                        padding: 0 5px 0 0;
                    }
                }
            }
        } 
    } 
    
    .sideFilter{
        .btnSpace{
            .resetBtn{
                &.submit{
                     margin: 0 10px 0 0 ;
                }
            }
        }
        .form-select{
            background-position: 10px center;
            padding: .375rem .75rem .375rem 2.25rem;
        }
    }
    .filToggle{
        margin: 5px 0px 5px 8px;
        p {
            margin: 0 15px 0 0;
        }
        &.active{
            p{
                margin: 0 15px;
            }
            img.icons{
                &.arwIcon {
                    transform: scaleX(-1);
                }
            }
        }
    }
    .productFilter{
        .filterWrap{
            .categ_filter{
                margin-left: 25px;
                margin-right: 0px;
            }
        }
    }  
    .ourPrdcts{
        .imgDiv{
            .titles{
                right: 40px;
                left: inherit;
            }
        }
    }
    .filterWrap{
        &.catgSpc{
            .type_filter {
                margin-left: 25px;
                margin-right: 0;
            }
            .categ_filter{
                .filBtn{
                    margin: 5px 0px 5px 8px;
                }
            } 
        } 
        .form-select{
            background-position: 10px center;
            padding: .375rem .75rem .375rem 2.25rem;
        }
    }
    
    .prdctDetailwrap{
        .prdctInfo-wrap{
            ol.custom-list{
                li{
                    padding-right: 50px;
                    padding-left: 0px;
                    &::before{
                        left: inherit;
                        right: 0;
                    }
                }
            } 
            .titleWrap{
                .mainTitle{
                    text-align: right;
                }
            }
            .dtlsWraper{
                .benefits{
                    li{
                        .iconSpc{
                            margin: 0 0 0 15px;
                        }
                    }
                }
            }  
            .nutritionWtraper{
                .contSect{
                    .tableStyle{
                        th, td{
                            border-left: 1px solid #adadad;
                            border-right: 0;
                            &:last-child{
                                padding-right: 20px;
                                padding-left: 0px;
                                border-left: 0;
                            }
                        }
                        
                    }
                }
            }
        }   

        .prdctSlider{
            .carousel{
                .carousel-inner{
                    flex-direction: row-reverse;
                }
            }
            
            .carousel-indicators{
                &.thumbSect{
                    display: flex;
                    li{
                        margin: 20px 0px 20px 20px;
                    }
                }
            }
            .carousel-scroll{
                justify-content: right;
                display: flex;
            }
        }
    }

  
    // .scrl_cards{
    //     &.productList{
    //         float: left;
    //     }
    // }


    
    .rldPrdct-slider{
        .scrl_cards{
            .slick-slide{
                margin-left: 20px;
                margin-right: 0;
            }
            
        }
        .container {
            margin: 0 50px;
            overflow: hidden;
            position: relative;
            padding: 0;
        }
    }
    .contArea {
        padding-right: 30px;
        padding-left: calc(var(--bs-gutter-x)*.5);
    }
    .searchResults{
        .listStyle{
            .imgSpace{
                float: right;
                margin-left: 30px;
                margin-right: 0px;
            }
            .listitle{
                text-align: center;
            }
        }
    } 
    .cookingHacks{
        .card{
            .card-body{
                .card-title{
                    padding-left: 10px;
                    padding-right: 0px;
                }
            }
        }
    }
    .searchList{
        .recipies_list{
            .card{
                .card-body{
                    .card-text{
                        display: flex;
                        flex-direction: row;
                        span{
                            padding-right: 5px;
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
        .titleWrap{
            .mainTitle{
                text-align: right;
            }
        } 
    }

    .yearSlider{
        .sliderBoxs{
            .slick-slide{
                &:last-child{
                    margin-right: 25px;
                }
                &:first-child{
                    margin-right: 0;
                }
            }
            .slick-list{
                .slick-track{
                    display: flex;
                    flex-direction: row;
                }
            }
        }
      
    }
   
    .iti__flag-container{
        right: 0;
        left: inherit;
        .iti__arrow {
            margin-right: 6px;
            margin-left: 0;
        }
        .iti__country {
            text-align: right;
            .iti__flag-box{
                margin-left: 6px;
                margin-right: 0;
            }
        }
    }


}














@media screen and (max-width: 767px) {

    html[dir="rtl"]{

        .contArea {
            padding-right: calc(var(--bs-gutter-x)*.5);
            padding-left: calc(var(--bs-gutter-x)*.5);
        }

        .productFilter{
            &.recpFilt{
                .filterSec{
                    .filterWrap{
                        &.spRmv{
                            .categ_filter{
                                margin-left: 0;
                            }
                        }
                    }
                }
            } 
        }

        .searchList{
            .titleWrap{
                .mainTitle{
                    text-align: center;
                }
            }
        }  

        .serchFilter{
            .filterWrap{
                .categ_filter{
                    justify-content: right;
                }
            }
            .tag-container{
                .searchValues{
                    padding: 5px 16px 5px 30px;
                    #clsIcon {
                        left: 7px;
                        right: inherit;
                    }
                }
            } 
        } 

        .campaignBxWraper{
            .contBoxs{
                .descp{
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
        .your-favorite{
            .slider-wrapper{
                .mainTitle {
                    text-align: center;
                }
            }
        }

        .mobileMenu{
            .langSect{
                ul.langMenu{
                    li{
                        &:first-child{
                            padding-left: 8px;
                            padding-right: 0;
                        }
                        &:nth-child(2){
                            padding-right: 8px;
                            padding-left: 0;
                        }
                    }
                }
            }
            .navbar{
                .navbar-nav{
                    .nav-item{
                        .nav-link {
                            justify-content: space-between;
                            &.spaceL{
                                right: inherit;
                                left: 0;
                                padding-left: 20px !important;
                                padding-right: 20px !important;
                                justify-content: flex-end;
                            }
                            &.spaceR{
                                justify-content: right;
                                padding-right: 20px !important;
                                padding-left: 0 !important;
                            }
                            &.dropdown-toggle{
                                &::after{
                                    margin: 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }

      
        .faqWraper{
            .tabDesign{
                .faq_filter {
                    justify-content: right !important;
                }  
            } 
            .acrdDesg{
                .accordion-item{
                    .accordion-button {
                        padding: 15px 0 15px 35px;
                        text-align: right;
                    }
                }
            }
        } 
        .contactWraper{
            .error-message {
                text-align: right;
            }
            .contactForms{
                .btmSpaces{
                    .info{
                        text-align: right;
                    }
                } 
                .form-group{
                    text-align: right;
                }
                label.form-label {
                    text-align: right;
                    width: 100%;
                }
                .iti--allow-dropdown{
                    .form-control{
                        padding-right: 60px;
                        padding-left: 15px;
                        text-align: right;
                    }
                    .iti__flag-container{
                        right: 0;
                        left: inherit;
                    }
                }
            }
           
        }
        .iti--container{
            .iti__country {
                text-align: right;
            }
        }
        .iti__flag-box{
            margin-left: 6px;
            margin-right: 0;
        }
        .iti__arrow{
            margin-right: 6px;
            margin-left: 0;
        } 
        .ourPrdcts{
            .imgDiv{
                .titles {
                    right: 0;
                    left: inherit;
                } 
            } 
        }
        .rldPrdct-slider{
            .container {
                margin: 0 20px;
                padding: 0;
            }
        }
        .storyWraper {
            .slick-arrow{
                &.slick-prev{
                    top: 0;
                }
                &.slick-next{
                    top: 0;
                }
            }
            
        }
        .footer-socials.col-md-4.col-lg-3.order-3 ul {
            display: flex;
            gap: 30px;
          
            li {
              margin: 0;
            }
          }
          

    }
    


}