
@use '../../src/scss/custom.scss' as *;

.campTitles{
    margin: 120px 0 140px;
    .titleWrap{
        margin: 0;
        padding: 0;
        .mainTitle{
            margin: 0 0 24px 0;
            line-height: 47px;
        }
        .descp{
            margin: 0 auto;
            font-size: 16px;
            line-height: 22px;
            color: $black-color;
            max-width: 520px;
        }
    }
    
}

.bannerSlider{
    .campaignSlider{
        margin-top: 0;
    }
} 


.campaignSlider{
    .carousel-caption{
        bottom: 32px;
        .titleStyle{
            margin: 0;
        }
        .learnBtn{
            margin: 48px 0 0 0;
        }
    }
}
.campaignBxWraper{
    &.btmSpace{
        margin-bottom: 70px;
    }
    .pr-0{
        padding-right: 0;
    }
    .pl-0{
        padding-left: 0;
    }
    .bannerSlider{
        &.campagin{
            .carousel{
                .carousel-indicators {
                    justify-content: start;
                    right: inherit;
                    bottom: 14px;
                    left: 24px;
                }
                .carousel-item{
                    img.slider-img{
                        height: 496px;
                    }

                }
            }
            
        }
    }
    .camp_bximg{
        .img-box{
            height: 496px;
            overflow: hidden;
            border-radius: 8px;
            &:hover{
                img.bxImg{
                    transform: scale(1.1);
                }
            }
            img.bxImg{
                height: 496px;
                object-fit: cover;
                width: 100%;
                transition: 1s ease;
            }
        }
        

    }
    .contBoxs {
        padding: 0 80px;
        .subitle{
            color: $secondary-color;
            font-size: 27px;
            line-height: 27px;
            font-family: $title-font;
            font-weight: 600;
            text-transform: uppercase;
            margin: 20px 0;
            padding: 0;
        }
        .descp{
            font-size: 16px;
            line-height: 27px;
            margin: 0;
            padding: 0;
            color: $black-color;
            font-family: $primary-font;
            font-weight: 500;
            padding-right: 3%;
        }
        .btn-more{
            margin: 24px 0;
        }

    }
    
       

}

.onlymob{
    display: none;
}

@media (max-width: 991px) {

    .campaignBxWraper{
        .contBoxs {
            padding: 0 40px;
        }
    } 


}
@media (max-width: 767px) {

    .onlymob{
        display: block;
        width: fit-content;
        margin: 0 auto;
    }

    .bannerSlider{
        &.campaignSlider{
            .carousel{
                .carousel-item{
                    img.slider-img{
                        height: 755px;
                    }

                }
            }
            
        }
    }

    .reverBx{
        .bxOuter{
            flex-direction: column-reverse;
        }
       
    }

    .campTitles{
        margin: 80px 0 48px;
        .titleWrap{
            font-size: 47px;
            line-height: 47px;
        }
    }
    .campaignBxWraper{
        margin: 0 0 48px;
        &.btmSpace {
            margin-bottom: 0px;
        }
        .contBoxs {
            padding: 0 15px;
            .btn-more{
                margin: 16px 0 0;
            }
            .descp{
                padding-right: 0;
            }
            .subitle {
                font-size: 47px;
                line-height: 47px;
                margin: 24px 0 16px;
            }
        }
        .pl-0 {
            padding-left: 15px;
        }
        .pr-0 {
            padding-right: 15px;
        }
        .camp_bximg{
            .img-box{
                height: 380px;
                img.bxImg {
                    height: 380px;
                }
            }
        }
    } 
 

}


.campaignBanners{
    &.secSpace{
        padding: 114px 0 144px;
        margin: 0;
    }
    .slider-img{
        height: 755px;
        object-fit: cover;
        width: 100%;
        border-radius: 8px;
    }
}


.ourPrdcts{
    &.campPrdcts{ 
        &.secSpace{
            padding: 70px 0 74px;
        }
    }
}

.productList{
    &.campList{
        .btnSapce{
            margin: 40px 0 0;
            padding: 0;
        }
    }
    
}




@media (max-width: 991px) {

    .campaignBanners{
        &.secSpace{
            padding: 90px 0;
        }
    }


}
@media (max-width: 767px) {

    .ourPrdcts{
        &.campPrdcts{ 
            &.secSpace{
                padding: 90px 0 30px;
            }
            .rowDiv {
                padding: 0 6px;
            }
            .partDiv{
                padding: 0 6px;
            }
            .col-md-8.partDiv {
                width: 50%;
            }
            .col-md-4{
                &.partDiv:nth-child(5){
                    width: 100%;
                }
            }
            .imgDiv{
                .titles{
                    font-size: 21px;
                    line-height: 21px;
                    // font-family: 'gilroyregular';
                    // font-family: 'gilroysemibold';
                    font-weight: 400;
                }
                .imgWraper{
                    height: 189px;
                    border-radius: 8px;
                    margin-bottom: 12px;
                    padding: 0px;
                    .bxImg{
                        min-height: 189px;
                    }
                }
            } 
            .titleWrap{
                .mainTitle{
                    max-width: 350px;
                    margin: 0 auto;
                    justify-content: center;
                    display: flex;
                }
            } 
            
        }
    }

    .campaignBanners{
        .carousel-inner{
            position: relative;
            &::after{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .22);
                content: " ";
                z-index: 1;
                display: block;
            }
        }
            
    }

    .productList{
        &.campList{
            .btnSapce {
                margin: 20px 0 0;
                padding: 0;
            }
        }
    } 
    
    .campaignBxWraper{
        .contBoxs{
            &.newSpc{
                .subitle{
                    font-size: 36px;
                    line-height: 38px;
                }
            }
        } 
    }

    .campaignBanners{
        &.campaignSlider{
            .carousel-caption{
                bottom: 32px;
                .titleStyle {
                    font-size: 47px;
                    line-height: 47px;
                    font-family: 'gilroyregular';
                    font-weight: 700;
                }
                .learnBtn{
                    margin: 40px 0 0 0;
                }
            }
        }
    }

}