
// Font variables
$primary-font: "gilroyregular", serif;
$title-font: "gilroybold", serif;


// OLD-FONTS START
$text-font: "Nunito", serif;
$sub-title-font: "Bebas Neue", serif;
// OLD-FONTS END



// Primary font sizes
$font-size-primary: 14px;
$font-size-title: 61px;

// Primary color variables
$primary-color: #D7282F;
$hover-color:#AC2026;
$secondary-color: #1D1D1B;
$bg-color: #252523;
$black-light: #3F3F3A;
$black-color: #0D0D0D;
$white-color: #FFF;
$greyL-color: #F7F7F7;
$grey-color: #DDD;
$border-color: #EBEBEB;








