
// Font variables
$primary-font: "Nunito", serif;
$title-font: "Bebas Neue", serif;

// Primary font sizes
$font-size-primary: 14px;
$font-size-title: 61px;

// Primary color variables
$primary-color: #D7282F;
$secondary-color: #1D1D1B;
$bg-color: #252523;
$black-color: #0D0D0D;
$white-color: #FFF;
$greyL-color: #F7F7F7;
$grey-color: #DDD;