
@use '../../src/scss/custom.scss' as *;



footer {
    background: #171716;
    color: #fff;
    padding: 80px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 70px;
    .footer-container{
        padding: 0 150px;
    }
    .ftrNewsletter{
        display: none;
    }
    .animateIc {
        .Icons.animate {
            animation: swing-footer 8s ease-out infinite; 
            transform-origin: center center; 
        }
        margin: 0 -12px 0 -11px;
    }
    
    ul{
        li{
            list-style: none;
        }
    }
    .ftrLogoWrap{

    }
    .footer-end{
        margin-top: 15px;
        padding: 45px 0 0;
        border-top: 1px solid #3C3C3C;
        .ftr_links{
            justify-content: end;
        }
    }
    .footer-copyright{
        color: #5E5E5E;
        font-size: 14px;
        a{
            color: #5E5E5E;
            text-decoration: none;
        }
        
        
    }
    .ftr_links {
        font-size: 14px;
        display: flex;
        margin: 0;
        padding: 0;
        li{
            margin-right: 40px;
            
            &:last-child{
                margin-right: 0;
            }
            a{
                color: #5E5E5E;
                text-decoration: none;
                &:hover{
                    // color: $primary-color;
                    color: #5E5E5E;
                }
                
            }
        }
        
    }
    .footer-socials{
        padding-left: 5%;
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            li{
                margin-right: 30px;
            }
            a{
                &:hover{
                    img{
                        transition: all ease 0.3s;
                    }
                    i{
                        color: $white-color;
                    }
                }
                img{
                    max-height: 24px;
                }

            }
        }
        &.mobOnly{
            display: none;
        }
       
    }
    
    .footer-grid-title{
        color: $grey-color;
        font-size: 18px;
        line-height: 18px;
        font-family: $title-font;
        margin: 0 0 30px;
        text-transform: uppercase;
    }

    .ftrLinks ul{
        color: $grey-color;
        font-size: 16px;
        line-height: 22px;
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            margin-bottom: 24px;
            display: inline-block;
            width: 49%;
            text-transform: uppercase;
            a{
                color: $grey-color;
                text-decoration: none; 
                &:hover{
                    // color: $primary-color;
                    color: $grey-color;
                }
            }
        }
        
    }
    nav {
        ul {
            margin-top: 10px;

            li {
                display: inline;
                margin-right: 20px;

                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .ftrNewsletter{
        margin: 70px 0 0px;
        .newsTitle{
            font-family: $title-font;
            color: $white-color;
            font-size: 61px;
            line-height: 64px;
            font-weight: 500;
        }
        .form-control{
            color: $white-color;
            background: transparent;
            outline: 0;
            box-shadow: inherit;
            width: 100%;
            height: 50px;
            border-radius: 4px;
            font-size: 16px;
            padding: 5px 15px;
            text-align: center;
            border: 0;
            border-bottom: 1px solid $black-light;
            margin: 20px 0;
            &::placeholder{
                color: #D6D6D6;
            }
        }
        .btn-signup{
            width: 100%;
            background: $primary-color;
            color: $white-color;
            font-size: 21px;
            height: 50px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $title-font;
            &:hover{
                background: $hover-color;
                color: $white-color;
            }
        }
       
    }
}




@media (max-width: 991px) {
    footer{
        margin-top: 120px;
        .footer-container {
            padding: 0 50px;
        }
    }

}
@media (max-width: 767px) {

    footer{
        margin-top: 110px;
        padding: 64px 0px 96px;
        .footer-end {
            margin-top: 45px;
            .ftr_links {
                justify-content: center;
            }
        }
        .footer-container {
            padding: 0 20px;
        }
        .ftrNewsletter{
            display: none;
        }
        .ftrLogoWrap{
            text-align: center;
            margin: 0 0 60px;
            .footer-logo{
                max-height: 96px;
                width: auto;
                max-width: 100%;
                
            }
        }
        .footer-socials{
            padding-left: 0;
            &.webOnly{
                display: none;
            }
            &.mobOnly{
                display: block;
                margin: 45px 0 0;
            }
            .footer-grid-title{
                display: none;
            }
            ul{
                justify-content: center;
                li{
                    .social_cons{
                        max-width: 50px;
                    }
                    
                }
            }
        }
        .ftrLinks{
            margin: 0 0 65px;
            ul{
                li{
                    display: inline-block;
                    width: 49%;
                    text-align: center;
                    text-transform: inherit;
                    margin: 15px 0;
                    padding: 0;
                }
            }
        }
        .footer-copyright{
            text-align: center;
        }
        .ftr_links{
            justify-content: center;
            margin: 15px 0;
        }
       
        
    }






}