
@use '../../src/scss/custom.scss' as *;




.featuredPrdct{
    .partDiv{
        padding: 0 10px;
    }
    .rowDiv{
        padding: 0 2px;
    }
    .contBoxs {
        padding-right: 40px;
        .subitle {
            color: $secondary-color;
            font-size: 61px;
            line-height: 61px;
            font-family: $title-font;
            margin: 20px 0;
            padding: 0;
        }
        .descp{
            color: $black-color;
            font-size: 16px;
            line-height: 22px;
        }
        .btn-more {
            margin: 40px 0 20px;
        }
    }
    .flex_col{
        flex-direction: column;
    
    }
    .prdct_bximg{
        .imgDiv{
            border-radius: 8px;
            overflow: hidden;
            width: 100%;
            margin-bottom: 20px;
            &.firstBox{
                height: 410px;
            }
            &.secondBox{
                height: 235px;
            }
            &.thirdBox{
                height: 155px;
            }
            &.fourthBox{
                height: 250px;
            }
            .bxImg{
                width: 100%;
                object-fit: cover;
                min-height: 100%;
                transition: 1s ease;
            }
            &:hover{
                .bxImg{
                    transform: scale(1.1);
                }
            }
        }
        
    }
}
@media (max-width: 767px) {

    .featuredPrdct{
        .prdct_bximg{
            .imgDiv{
                &.firstBox {
                    height: 300px;
                }
                &.secondBox{
                    height: 190px;
                }
                &.thirdBox{
                    height: 100px;
                }
                &.fourthBox {
                    height: 200px;
                }
            }
            
        } 
        .flex_col{
            flex-direction: column;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
          
            .alignDiv{
                display: flex;
                .imgDiv{
                    margin-bottom: 10px;  
                }
                .rowDiv{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap !important;
                    .partDiv{
                        padding-right: 0;
                    }
                }
                &.secondRow{
                    .strRow{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap !important;
                        .partDiv{
                            width: 50%;
                        }
                    }
                }
            }
        }
        
        .contBoxs{
            .btn-more {
                margin: 40px 0 40px;
                min-height: 50px;
            }

            text-align: center;
            padding-right: 15px;
            .subitle{
                font-size: 47px;
                line-height: 47px;
            }
        }
    }
    

}





.ourPrdcts{
    .partDiv{
        padding: 0 10px;
    }
    .rowDiv{
        padding: 0 2px;
    }
    .imgDiv{
        position: relative;
        .titles{
            font-size: 47px;
            line-height: 50px;
            font-family: $title-font;
            position: absolute;
            left: 40px;
            bottom: 35px;
            z-index: 10;
            color: $white-color;
            margin: 0;
            padding: 0;
        }
        .imgWraper{
            border-radius: 8px;
            overflow: hidden;
            height: 425px;
            position: relative;
            margin-bottom: 20px;
            &::before{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgb(0 0 0 / 22%);
                content: ' ';
                z-index: 1;
                display: block;
            }
            .bxImg{
                width: 100%;
                height: 100%;
                transition: 1s ease;
                object-fit: cover;
            }
        }
        &:hover{
            .bxImg{
                transform: scale(1.1);
            }
           
        }

    }
}


@media (max-width: 767px) {

    .ourPrdcts{
        .rowDiv{
            padding: 0 5px;
        }
        .partDiv{
            width: 50%;
            padding: 0 5px;
        }
        .imgDiv{
            .titles {
                font-size: 36px;
                line-height: 38px;
                left: 15px;
                bottom: 15px;
            }
            .imgWraper{
                height: 185px;
                margin-bottom: 10px;
            }
        }
    }  
}






.trendingWraper{
    .card{
        .card-body{
            .card-title{
                margin: 0 0 5px;
            }
            .card-text{
                color: #adadad;
                font-size: 14px;
                font-weight: 400
                span{
                    color: #d7282f;
                    padding-left: 5px
                }
            }
        }
    }  

}



@media (max-width: 767px) {

    .trendingWraper{
        .row.horizontal-scroll{
            margin: 0;
            .scrlWidth{
                padding: 0;
            }
        }
        .btn-more {
            min-height: 50px;
        }
        .horizontal-scroll{
            padding-bottom: 0;
        }
    }


}




// PRODUCT-FILTER START

.filterWrap{
    &.catgSpc{
        margin-bottom: 45px;
        .categ_filter{
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            &::-webkit-scrollbar {
                height: 0.2em;
                background-color: transparent;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inherit
            }
            &::-webkit-scrollbar-thumb {
                background-color: #a2a0a0;
            }
              
            .filBtn{
                margin: 5px 8px 5px 0;
                height: 52px;
                display: inline-flex;
                align-items: center;
            }
        }
    }
    .form-select{
        border-radius: 4px;
        box-shadow: inherit !important;
        outline: 0;
        height: 52px;
        width: auto;
        max-width: 100%;
        font-size: 16px;
        border: 1px solid #ADADAD;
        min-width: 115px;
        color: $black-color;
        margin: 5px 0;
    }
}

.productFilter{
    .filterWrap{
        height: auto;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .filterSec{
        .titleWrap{
            margin-bottom: 50px;
        }
    }
}



// PRODUCT-FILTER END




// PRODUCT-LIST START
.productList{
    .list_prdct{
        background-color: $greyL-color;
        color: $secondary-color;
        border-radius: 8px;
        margin: 0 0 22px 0;
        padding: 20px 20px 0;
        transition: all ease .5s;
        &:hover{
            background-color: $border-color;
        }
        .pdctImg{
            min-height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                object-fit: cover;
                max-height: 300px;
            }
        }
        .prdctCont{
            min-height: 100px;
            margin: 5px 0 0 0;
            padding-bottom: 20px;
            .titles{
                font-size: 18px;
                line-height: 24px;
                font-weight: 600;
                margin: 5px 0;
                padding: 0;
            }
            .dtls{
                font-size: 16px;
                line-height: 22px;
                margin: 5px 0;
                padding: 0;
                font-weight: 500;
            }

        }

    }

    .btnSpace{
        margin: 60px 0 0;
        .btn-more {
            background-color: $white-color;
            border-color: $primary-color;
            color: $black-color;
        }
    } 
}


@media (max-width: 767px) {

    .productFilter{
        .filterSec{
            .filterWrap {
                display: flex;
                align-items: inherit;
                justify-content: inherit;
                flex-direction: column;
                
                .categ_filter{
                    display: flex;
                    flex-wrap: nowrap;
    
                    overflow-x: auto;
                    overflow-y: hidden;
                    white-space: nowrap;
                    padding: 0 0 5px;
                    margin: 0 0 10px;
                }
            }
            margin: 0 0 35px;
        }
        .productList{
            .list_prdct{
                padding: 20px 10px 0;
                .prdctCont .titles {
                    font-size: 16px;
                    line-height: 22px;
                }
                
            } 
            .btnSpace{
                margin: 20px 0 0;
                .btn-more {
                    height: 50px;
                }
            }
        }  
    } 


}

// PRODUCT-LIST END




// PRODUCT-DETAIL START

.prdctDetailwrap{
    .carousel-indicators img {
        width: 60px; 
        height: auto;
        border-radius: 5px;
        object-fit: cover;
    }
    .carousel-indicators [data-bs-target] {
        width: 60px;
        height: 60px;
        padding: 0;
        background-color: transparent;
        text-indent: inherit;
    }
}

// PRODUCT-DETAIL END