
@use '../../src/scss/custom.scss' as *;




.featuredPrdct{
    .partDiv{
        padding: 0 10px;
    }
    .rowDiv{
        padding: 0 2px;
    }
    .contBoxs {
        padding-right: 40px;
        .subitle {
            color: $secondary-color;
            font-size: 47px;
            line-height: 50px;
            font-family: $title-font;
            text-transform: uppercase;
            margin: 20px 0;
            padding: 0;
        }
        .descp{
            color: $black-color;
            font-size: 16px;
            line-height: 22px;
        }
        .btn-more {
            margin: 40px 0 20px;
        }
    }
    .flex_col{
        flex-direction: column;
    
    }
    .prdct_bximg{
        .imgDiv{
            border-radius: 8px;
            overflow: hidden;
            width: 100%;
            margin-bottom: 20px;
            &.firstBox{
                height: 410px;
            }
            &.secondBox{
                height: 235px;
            }
            &.thirdBox{
                height: 155px;
            }
            &.fourthBox{
                height: 250px;
            }
            .bxImg{
                width: 100%;
                object-fit: cover;
                min-height: 100%;
                transition: 1s ease;
            }
            &:hover{
                .bxImg{
                    transform: scale(1.1);
                }
            }
        }
        
    }
}
@media (max-width: 767px) {

    .featuredPrdct{
        .partDiv {
            padding: 0 10px;
        }
        .prdct_bximg{
            .imgDiv{
                &.firstBox {
                    height: 300px;
                }
                &.secondBox{
                    height: 190px;
                }
                &.thirdBox{
                    height: 100px;
                }
                &.fourthBox {
                    height: 200px;
                }
            }
            
        } 
        .flex_col{
            flex-direction: column;
            // overflow-x: auto;
            // white-space: nowrap;
            overflow: hidden;
            
          
            .alignDiv{
                display: flex;
                .imgDiv{
                    margin-bottom: 10px;  
                }
                .rowDiv{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap !important;
                    .partDiv{
                        padding-right: 10px;
                    }
                }
                &.secondRow{
                    .strRow{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap !important;
                        padding: 0 5px;
                        .partDiv{
                            width: 50%;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
        
        .contBoxs{
            .btn-more {
                margin: 40px 0 40px;
                min-height: 50px;
            }

            text-align: center;
            padding-right: 15px;
            .subitle{
                font-size: 47px;
                line-height: 47px;
            }
        }
    }
    

}





.ourPrdcts{
    .partDiv{
        padding: 0 10px;
    }
    .rowDiv{
        padding: 0 2px;
    }
    .imgDiv{
        position: relative;
        .titles{
            font-size: 27px;
            line-height: 27px;
            font-family: $title-font;
            font-weight: 600;
            text-transform: uppercase;
            position: absolute;
            left: 40px;
            bottom: 35px;
            z-index: 10;
            color: $white-color;
            margin: 0;
            padding: 0;
        }
        .imgWraper{
            border-radius: 8px;
            overflow: hidden;
            height: 425px;
            position: relative;
            margin-bottom: 20px;
            &::before{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgb(0 0 0 / 22%);
                content: ' ';
                z-index: 1;
                display: block;
            }
            .bxImg{
                width: 100%;
                height: 100%;
                transition: 1s ease;
                object-fit: cover;
            }
        }
        &:hover{
            .bxImg{
                transform: scale(1.1);
            }
           
        }

    }
}


@media (max-width: 767px) {

    .ourPrdcts{
        .rowDiv{
            padding: 0 5px;
        }
        .partDiv{
            width: 50%;
            padding: 0 5px;
        }
        .imgDiv{
            .titles {
                font-size: 36px;
                line-height: 38px;
                padding: 0 15px;
                left: 0;
                bottom: 15px;
            }
            .imgWraper{
                height: 185px;
                margin-bottom: 10px;
            }
        }
    }  
}
@media (max-width: 580px) {
    .ourPrdcts{
        .imgDiv{
            .titles {
                max-width: 162px;
            }
        }
    }

}





.trendingWraper{
    .prdctDtl{
        padding-top: 0;
    }
    .card{
        &.me-4:last-child{
            margin-right: 0 !important;
        }
        .card-body{
            .card-title{
                margin: 0 0 5px;
                padding-right: 5%;
                min-height: 52px;
                display: flex;
            }
            .card-text{
                color: #adadad;
                font-size: 14px;
                font-weight: 400;
                span{
                    color: #d7282f;
                    padding-left: 5px
                }
            }
        }
    }  

}



@media (max-width: 767px) {

    .trendingWraper{
        .card{
            .card-body{
                .card-title{
                    padding-right: 0;
                    min-height: 52px;
                    align-items: center;
                    display: flex;
                }
            }
        }
        
        .row.horizontal-scroll{
            margin: 0;
            .scrlWidth{
                padding: 0;
            }
        }
        .btn-more {
            min-height: 50px;
        }
        .horizontal-scroll{
            padding-bottom: 0;
        }
    }


}




// PRODUCT-FILTER START

.filterWrap{
    &.catgSpc{
        margin-bottom: 45px;
        .categ_filter{
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            &::-webkit-scrollbar {
                height: 0.2em;
                background-color: transparent;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inherit
            }
            &::-webkit-scrollbar-thumb {
                background-color: #a2a0a0;
            }
              
            .filBtn{
                margin: 5px 8px 5px 0;
                height: 52px;
                display: inline-flex;
                align-items: center;
            }
        }
    }
    .form-select{
        border-radius: 4px;
        box-shadow: inherit !important;
        outline: 0;
        height: 52px;
        width: auto;
        max-width: 100%;
        font-size: 16px;
        border: 1px solid #ADADAD;
        min-width: 115px;
        color: $black-color;
        margin: 5px 0;
    }
}

.productFilter{
    .filterWrap{
        height: auto;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .categ_filter{
            margin-right: 25px;
        }
    }
    .filterSec{
        .titleWrap{
            margin-bottom: 50px;
        }
    }
}



// PRODUCT-FILTER END




// PRODUCT-LIST START
.productList{
    .list_prdct{
        background-color: $greyL-color;
        color: $secondary-color;
        border-radius: 8px;
        margin: 0 0 22px 0;
        padding: 20px 20px 0;
        transition: all ease .5s;
        &:hover{
            background-color: $border-color;
        }
        .pdctImg{
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                object-fit: cover;
                max-height: 300px;
            }
        }
        .prdctCont{
            min-height: 100px;
            margin: 5px 0 0 0;
            padding-bottom: 20px;
            .titles{
                font-size: 18px;
                line-height: 24px;
                font-weight: 600;
                margin: 5px 0;
                padding: 0;

                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            .dtls{
                font-size: 16px;
                line-height: 22px;
                margin: 5px 0;
                padding: 0;
                font-weight: 500;
            }

        }

    }

    .btnSpace{
        margin: 60px 0 0;
        .btn-more {
            background-color: $white-color;
            border-color: $primary-color;
            color: $black-color;
        }
    } 
}


@media (max-width: 767px) {

    .productFilter{
        .filterSec{
            .filterWrap {
                display: flex;
                align-items: inherit;
                justify-content: inherit;
                flex-direction: column;
                
                .categ_filter{
                    display: flex;
                    flex-wrap: nowrap;
    
                    overflow-x: auto;
                    overflow-y: hidden;
                    white-space: nowrap;
                    padding: 0 0 5px;
                    margin: 0 0 10px;
                }
            }
            margin: 0 0 35px;
        }
        .productList{
            .list_prdct{
                padding: 20px 10px 0;
                .prdctCont{
                    .titles {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            } 
            .btnSpace{
                margin: 20px 0 0;
                .btn-more {
                    height: 50px;
                }
            }
        }  
    }
    .rldPrdct-slider{
        .productList{
            .prdctCont{
                min-height: 113px;
            }
        }
    }
   


}

// PRODUCT-LIST END




// PRODUCT-DETAIL START

.prdctDetailwrap{
    .mobVis{
        display: none;
    }
    .prdctSlider {
        .carousel {
            position: relative;
            overflow: hidden;
            width: 100%;
            .carousel-inner{
                width: 100%;
            }
        }
        .carousel-item {
            height: 506px;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white-color;
            .sliderImg {
                max-height: 506px;
                height: auto;
                object-fit: cover;
                max-width: 100%;
                width: auto;
                margin: 0 auto;
            }
        }
        .carousel-scroll{
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            scroll-snap-type: x mandatory; 
            scroll-padding-left: 20px;
            float: left;
            width: 100%;
            flex-wrap: nowrap;
            &::-webkit-scrollbar {
                height: 0.2em;
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #a2a0a0;
            }
        }
        .carousel-indicators {
            &.thumbSect {
                position: relative !important;
                left: 0 !important;
                right: inherit !important;
                margin: 0 !important;
                padding: 0;
                display: flex;
                float: left;
               
                
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin: 20px 20px 20px 0;
                    scroll-snap-align: start; // Aligns each thumbnail at the start of the scroll
                    
                    &:last-child {
                        margin-right: 0;
                    }
    
                    .titles {
                        font-size: 14px;
                        line-height: 16px;
                        color: $black-color;
                        margin: 10px 0;
                        padding: 0;
                        font-weight: 600;
                        font-family: $primary-font;
                    }
    
                    &.active {
                        opacity: 1;
                        .thumbs {
                            border: 2px solid $primary-color;
                            box-shadow: 0px 25px 25px 0px #00000012;
                        }
                    }
                }
    
                .thumbs {
                    height: 92px;
                    width: 92px;
                    border-radius: 8px;
                    background-color: $white-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid transparent;
                    position: relative;
                    
                    img.thumbImg {
                        width: 60px;
                        height: auto;
                        border-radius: 5px;
                        object-fit: cover;
                    }
                }
    
                [data-bs-target] {
                    width: auto;
                    height: auto;
                    padding: 0;
                    background-color: transparent;
                    text-indent: inherit;
                    border: 0;
                    opacity: .3;
                }
            }
        }
    }
    
    

    .prdctInfo-wrap{
        max-height: 706px;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 70px;
        padding-right:  10%;
        &::-webkit-scrollbar {
            width: 0;
            background-color: transparent;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inherit
        }
        &::-webkit-scrollbar-thumb {
            background-color: #a2a0a0;
        }
        .titleWrap{
            margin: 0 0 45px;
            padding: 0;
            .mainTitle{
                text-align: left;
                margin: 0px 0 20px;
                padding: 0;
                color: $secondary-color;
            }
            .descp {
                font-size: 16px;
                line-height: 22px;
                color: $black-color;
                font-weight: 500;
                margin: 0;
                padding: 0;
                a{
                    color: $primary-color;
                    text-decoration: underline;
                }
                p{
                    margin: 0;
                    padding: 0;
                }
            }
            .tags{
                font-size: 14px;
                line-height: 16px;
                font-weight: 600;
                color: $primary-color;
                font-family: $primary-font;
                min-height: 48px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 10px 15px;
                background-color: $white-color;
                margin: 0 8px 8px 0;
                border-radius: 4px;
            }
        }
        .dtlsWraper{
            border-top: 1px solid $border-color;
            .subTitles{
                font-size: 21px;
                line-height: 21px;
                font-family: $title-font;
                text-transform: uppercase;
                color: $secondary-color;
                margin: 25px 0 35px;
                padding: 0;
            }
            .boxGrids{
                padding: 0 0;
                margin: 0 -8px;
                .divSect{
                    padding: 0 8px;
                    .gridBox{
                        border-radius: 16px;
                        background-color: $white-color;
                        height: 140px;
                        color: $black-color;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        margin-bottom: 15px;
                        .icons{
                            max-height: 22px;
                            width: auto;
                        }
                        .titles{
                            font-size: 16px;
                            line-height: 22px;
                            color: $black-color;
                            font-weight: 600;
                            margin: 10px 0 0;
                            font-family: $primary-font;
                            padding: 0;
                        }
                        .subtitles{
                            font-size: 16px;
                            font-weight: 400;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
            .benifts-tit{
                margin-top: 35px;
            }
            .benefits{
                list-style: none;
                display: block;
                width: 100%;
                font-size: 16px;
                margin: 0;
                padding: 0;
                color: $black-color;
                li{
                    border-bottom: 1px solid $border-color;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    padding: 15px 5px;
                    margin: 0;
                    .iconSpc{
                        width: 25px;
                        margin-right: 15px;
                        text-align: center;
                    }
                }
            }
        }
        .nutritionWtraper{
            border-radius: 20px;
            overflow: hidden;
            background-color: $white-color;
            color: $black-color;
            margin: 40px 0;
            .titles{
                font-size: 21px;
                line-height: 21px;
                background-color: $primary-color;
                color: $white-color;
                min-height: 85px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-family: $title-font;
                padding: 30px 30px 25px;
                margin: 0;
            }
            .contSect{
                padding: 30px;
                .tableStyle{
                    border-bottom: 1px solid #ADADAD;
                    border-left: 0;
                    border-right: 0;
                    border-top: 0;
                    width: 100%;
                    color: $black-color;
                    margin: 20px 0;
                    padding: 0;
     
                    th{
                        font-weight: 600;
                        font-size: 18px;
                        border-bottom: 1px solid #ADADAD;
                        border-right: 1px solid #ADADAD;
                        padding: 10px 0;
                        &:last-child{
                            border-right: 0; 
                            padding-left: 20px;
                        }
                    }
                    td{
                        border-right: 1px solid #D6D6D6;
                        padding: 10px 0;
                        font-weight: 600;
                        font-size: 14px;
                        &:last-child{
                            border-right: 0; 
                            padding-left: 20px;
                        }
                    }
                    tr{
                      &:first-child{
                        td{
                            padding-top: 30px;
                        }
                      } 
                      &:last-child{
                        td{
                            padding-bottom: 30px;
                        }
                      }  
                    }
                }
                .descp{
                    font-size: 14px;
                    line-height: 18px;
                    color: $black-color;
                    &.qty{
                        font-size: 18px;
                        line-height: 24px;
                    }
                    &.info{
                        color: #D7282F;
                    }
                }
            }
           
        }
        
    }
    .carousel-indicators.thumbSect > * {
        flex: 0 0 auto;
        scroll-snap-align: start; 
        margin-right: 10px; 
    }
}

.rldPrdct-slider{
    .scrl_cards{
        .slick-slide {
            max-width: 28.3vw !important;
            width: 28.3vw;
            margin-right: 20px;
        }
    }
 
}

.rldPrdct-slider{
    padding-top: 90px;
}

.reverse-cl{
    display: flex;
    flex-direction: row-reverse;
}


.campaignBxWraper{
    .reverse-cl{
        .subitle{
            font-size: 47px;
            line-height: 50px;
        }
    }
}





@media (max-width: 767px) {
    .trendingWraper{
        &.prdctDtl{
            .card{
                .cardImg{
                    height: 256px;
                    img.mainImg{
                        min-height: 256px;
                    }
                }
            } 
        }
    }

    .prdctDetailwrap{
        padding-top: 45px;
        .titleWrap{
            text-align: center;
            .mainTitle{
                text-align: center !important;
            }
        }
        .mobVis {
            display: block;
        }
        .mobHide{
            display: none;
        }
        .prdctInfo-wrap{
            padding-left: 0;
            padding-right: 0;
            max-height: inherit;
            overflow: inherit;
            .dtlsWraper{
                margin-top: 15px;
                .subTitles{
                    font-size: 36px;
                    line-height: 38px;
                    text-align: center;
                }
                .boxGrids{
                    .divSect {
                        width: 50%;
                        .gridBox{
                            padding: 5px 10px;
                        }
                    } 
                } 
            } 
            .nutritionWtraper{
                .titles {
                    font-size: 21px;
                    line-height: 21px;
                    min-height: 60px;
                    padding: 20px 30px 15px;
                }
                .contSect{
                    .tableStyle{
                        th, td{
                            font-size: 16px;
                        }
                    }
                } 
            } 

        }
        
        .prdctSlider{
            .carousel-item, .recp_detailImg {
                height: 390px;
                .sliderImg{
                    min-height: 390px;
                }
            }
            .carousel-indicators{
                &.thumbSect{
                    .thumbs {
                        height: 120px;
                        width: 120px;
                    }
                }
            }
        } 
        
    } 
    .rldPrdct-slider{
        .scrl_cards{
            .slick-slide {
                max-width: 82vw !important;
                width: 100%;
            }
        }
    } 

}





// PRODUCT-DETAIL END