
@use '../../src/scss/custom.scss' as *;



.campaignBnr{
    margin: 0 0 40px;
    .sliderBox{
        position: relative;
        height: 317px;
        border-radius: 8px;
        overflow: hidden;
       
        .imgDiv{
            position: relative;
            img{
                width: 100%;
                min-height: 317px;
                object-fit: cover;
            }
            .mobImg{
                display: none;
            }
            &::after{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                content: ' ';
                display: block;
                background-color: rgb(0 0 0 / 30%);
            }
        }
       
        .titleStyle, .subitle{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            text-align: center;
            font-family: $title-font;
            font-size: 40px;
            line-height: 50px;
            text-transform: uppercase;
            z-index: 1;
            color: $white-color;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            margin: 0;
        }
    }
}

.recpFilt{
    .catgSpc{
        margin-bottom: 60px;
        &.spRmv{
            margin-bottom: 15px;
        }
        .search-bar-container{
            .locatSearch{
                .serLoc{
                    border: 1px solid #ADADAD;
                }
            }
        } 
    }
}
.filToggle{
    background: $bg-color;
    color: $white-color;
    font-size: 14px;
    line-height: 20px;

    margin: 5px 8px 5px 0;
    height: 52px;
    padding: 5px 20px;
    display: inline-flex;
    align-items: center;
    border: 1px solid $bg-color;
    outline: 0;
    box-shadow: inherit;
    &.active{
        border: 1px solid $primary-color;
        background: $bg-color;
        color: $white-color;
        outline: 0;
        box-shadow: inherit;
    }
    &:hover{
        background: $bg-color !important;
        color: $white-color !important;
        border: 1px solid $primary-color;
    }
    p{
        margin: 0 0 0 15px;
        padding: 0;
    }
    img{
        &.icons.arwIcon{
            display: none;
        }
    }
    &.active{
        p{
            margin: 0 15px;
        }
        img{
            &.icons.arwIcon{
                display: block;
            }
        }
    }

    @media (max-width: 767px) {
        padding: 5px 12px;
    }


}

.contArea{
    padding-left: 30px;
}

.cont_full{
    padding-left: calc(var(--bs-gutter-x)* .5) !important;
    width: 100% !important;
}

.rptBoxs-des{
    margin-bottom: 15px;
    .titleSpace{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .titleWrap{
        margin: 0 0 40px;
        .mainTitle {
            font-size: 24px;
            letter-spacing: 0px;
            font-family: $title-font;
            line-height: 27px;
            margin: 3px 0 0px;
            text-transform: uppercase;
        }
        .btn-more{
            background-color: $white-color;
            border-color: $primary-color;
            color: $black-color;
            font-family: $title-font;
            font-weight: 600;
            letter-spacing: 0;
            font-size: 16px;
            min-height: 42px;
            min-width: 100px;
        }
    }
    .listSpace{
        margin-bottom: 0px;
    }
    .card{
        width: 100%;
        height: 100%;
        .cardImg{
            height: 258px;
            img.mainImg{
                width: 100%;
                height: 258px !important;
                min-height: auto;
                max-height: inherit;
            }
        }
    }
    

}


.Colapse_area{
    transition: all 0.3s ease;
    .sideFilter{
        .filterWrap{
            &.catgSpc {
                margin-bottom: 40px;
                .filBtn{
                    margin-top: 0;
                    margin-left: 0;
                }
            }
        }
        
        .spDivs{
            border-bottom: 1px solid $border-color;
            padding: 0 0 15px;
            margin: 0 0 35px;
        }

        .btnSpace{
            margin: 30px 0;
            .resetBtn{
                width: 105px;
                min-height: 48px;
                &.submit{
                    width: calc(100% - 120px);
                    margin: 0 0 0 10px;
                }
            }
        }
        
     
        .resetBtn{
            min-height: 42px;
            color: $secondary-color;
            border: 1px solid $secondary-color;
            font-size: 16px;
            padding: 7px 10px 5px;
            line-height: 16px;
            letter-spacing: 0.3px;
            border-radius: 4px;
            outline: 0;
            box-shadow: inherit;
            background: transparent;
            text-transform: uppercase;
            font-family: $primary-font;
            font-weight: 600;
            img{
                max-width: 14px;
                margin: 0 0 0 5px;
            }
            &.submit{
                background-color: $primary-color;
                color: $white-color;
                border-color: $primary-color;
            }
        }
        .topArea {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $border-color;
            padding: 0 0 15px;
            margin: 0 0 35px;
            .filTxt{
                font-family: $primary-font;
                font-size: 14px;
                font-weight: 600;
                margin: 0;
                padding: 0;
            }
            .resetBtn{
                min-height: 32px;
                font-size: 13px;
                img{
                    max-width: 14px;
                    margin: 0 0 0 5px;
                }
            }
        }
        
        .subTitles {
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
            margin: 0 0 15px;
            width: 100%;
            display: block;
        }
        .form-select{
            border: 1px solid #ADADAD;
            border-radius: 8px;
            height: 54px;
            width: 100%;
            color: #ADADAD;
            font-family: $primary-font;
            font-size: 16px;
            line-height: 18px;
            outline: 0;
            box-shadow: inherit;

            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url(../assets/images/icons/drop-down.svg);
            background-repeat: no-repeat;
            background-position: 96% center;
            background-size: 13px;
            &::placeholder {
                color: #ADADAD;
            }
            option{
                &:first-child {
                    color: #ADADAD;
                    font-style: italic;
                }
            }
        }
        .form-group{
            margin: 0 0 30px;
        }
        .cookBox{
            border-radius: 8px;
            color: $white-color;
            background-color: $primary-color;
            font-size: 14px;
            padding: 20px 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 120px;
            .imgIcon{
                width: 50px;
                img{
                    max-width: 26px;
                }
            }
            .contPart{
                width: calc(100% - 50px);
                h5{
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 500;
                    letter-spacing: 0.3px;
                }
                p{
                    line-height: 20px;
                    font-family: $primary-font;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        
        }
    }
 
} 

.hideSidebar{
    .Colapse_area{
        display: none;
    }
    .contArea {
        padding-left: calc(var(--bs-gutter-x)* .5);
        transition: transform 0.3s ease;
        width: 100%;
    }
}


.range-filter{
    position: relative;
    margin: 0 0 30px;
    .price-range-slider{
        width:100%;
        padding: 0px 0 0 9px;
        .range-labels {
            margin: 10px 0 0 -8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $secondary-color;
            font-size: 14px;
            font-weight: 500;
            font-family: $primary-font;
            .names{
                position: relative;
                &::before{
                    background: #ADADAD;
                    border: 0px !important;
                    height: 8px;
                    width: 8px;
                    display: inline-block;
                    border-radius: 100%;
                    content: ' ';
                    position: absolute;
                    top: -15px;
                    left: 43%;
                    z-index: 0;
                }
                &:nth-child(1){
                    &::before{
                        background: $primary-color;
                        left: 0;
                    }
                }
                &:nth-child(2){
                    margin: 0 0 0 -12px;
                   
                }
                &:nth-last-child(1){
                    &::before{
                        right: 0;
                        left: inherit;
                    }
                }
            }
           
         
           
        }
        .range-value{
            margin: -37px 0 0 0;
            color: $primary-color;
            display: inline-flex;
            align-items: center;
            justify-content: end;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            float: right;
            font-family: $primary-font;
            input{
                width: 45px;
                background: transparent !important;
                color: $primary-color;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                box-shadow: inherit !important;
                border: 0 !important;
                margin: 0;
                max-width: 100%;
                padding: 0 5px 0 0 !important;
                outline: 0 !important;
                font-family: $primary-font;
                text-align: end;
            }
        }
        .noUi-connect {
            background: $primary-color;
        }
        .noUi-horizontal{
            .noUi-origin{
                .noUi-handle{
                    border-radius: 60px;
                    background: $primary-color;
                    border: 0px !important;
                    height: 8px;
                    width: 8px;
                    padding: 0;
                    margin: 0;
                    opacity: 1 !important;
                    left: inherit;
                    right: 0 !important;
                    box-shadow: inherit;
                    top: -3px;
                    cursor: pointer;
                    &::after, &::before{
                        display: none;
                    }
                }
            }
           
        } 
        .range-bar {
            border: none;
            background: #ADADAD;
            height: 2px;	
            width: 100%;
            margin: 0px;
        }
    }
    &.no-dot{
        .price-range-slider{
            .range-labels{
                .names{
                    &::before{
                        display: none;
                    }
                    &:nth-last-child(1){
                        &::before {
                           display: inline-block;
                        }
                    }
                    &:nth-child(1){
                        &::before{
                            display: inline-block;
                        }
                    }
                  
                }
            }
        } 

    }
}

.centerpoints{
    &::before{
        left: 60% !important;
    }
} 

.centerpoints2{
    &::before{
        left: 70% !important;
    }
} 

.centerdifficulty{
    &::before{
        left: 57% !important;
    }
}



.recipies{
    .range-filter{
        .titles{
            margin: 10px 0;
        }
        .price-range-slider{
            padding: 15px 0 0;
            .range-bar{
                height: 5px;
                border-radius: 100px;
            }
            .range-labels{
                .names{
                    &::before,  &::after{
                        display: none;
                    }
                }
            } 
            .noUi-handle{
                background: url(../assets/images/icons/picker.svg);
                background-repeat: no-repeat;
                background-position: center center;
                height: 18px;
                width: 10px;
                top: -8px;
            }
            .range-bar{
                background: linear-gradient(90deg, #478D01 0%, #F00000 100%);
            
            }
        }
        
    } 
    
}


@media (max-width: 767px) {

    .listSpace{
        .cookingHackCard{
            .card{
                .card-body{
                    padding: 12px 0 0;
                    .card-title{
                        padding-right: 0;
                    }
                    
                }
            }  

        }
    }


    .campaignBnr{
        margin-bottom: 25px;
        .sliderBox{
            overflow: inherit;
            height: auto;
            .imgDiv{
                height: 380px;
                border-radius: 8px;
                overflow: hidden;
                &::after{
                    display: none;
                }
                .mobImg{
                    display: block;
                }
                .webImg{
                    display: none;
                }
                img{
                    min-height: 380px;
                }
            }
            .titleStyle{
                position: relative;
                height: auto;
                background: transparent;
                padding: 0;
                color: $black-color;
                font-size: 47px;
                line-height: 47px;
                margin: 45px 0;
                .subitle{
                    position: relative;
                    color: $black-color;
                }
            }
        }
    } 

    .recpFilt{
        .filterWrap{
            &.catgSpc{
                flex-direction: column-reverse;
                margin-bottom: 0;
            }
            .form-select{
                width: 100%;
            }
        }
    }
    .contArea{
        padding-left: calc(var(--bs-gutter-x)* .5);
    }
    .sideFilter{
        margin-bottom: 50px;
        .topArea, .spDivs{
            margin: 0 0 20px;
        }
        .subTitles {
            font-size: 16px;
            line-height: 22px;
            margin: 0 0 10px;
        }
        .form-select{
            height: 52px;
        }
    }

    .rptBoxs-des{
        &:last-child{
            margin-bottom: 0;
            .listSpace{
                margin-bottom: 0;
            }
            .col-md-4{
                &:last-child{
                    .card{
                        margin-bottom: 0px;
                    }
                }
            }
        }
        &.cookingHacks{
            &:last-child{
                .col-md-4{
                    .card{
                        margin-bottom: 35px;
                    }
                }
            }
        }
        
        .listSpace{
            margin-bottom: 25px;
            .col-md-4{
                .card{
                    margin-bottom: 35px;
                }
            }
            
        }
        .card{
            .card-body{
                .card-title{
                    min-height: inherit;
                }
            }
        }  
        .titleWrap{
            .btn-more{
                background: $primary-color;
                color: $white-color;
            }
            .mainTitle{ 
                margin: 4px 0 0px;
            }
        }
    }  

}


.categList{
    &.btnSpc {
        margin: 30px 0 0;
        text-align: center;
    }
    .btn-more{
        background-color: $white-color;
        border-color:  $primary-color;
        color: $black-color;

        @media (max-width: 767px) {
            background-color: $hover-color !important;
            color: $white-color !important;
            border: 1px solid $hover-color !important;
        }
    }
}



ul {
    &.ct_dropdown {
      border: 1px solid #ADADAD;
      border-radius: 8px;
      height: 54px;
      width: 100%;
      color: #ADADAD;
      font-family: $primary-font;
      font-size: 16px;
      line-height: 18px;
      padding-right: 35px;
      outline: 0;
      box-shadow: inherit;
  
      background: url(../assets/images/icons/drop-down.svg);
      background-repeat: no-repeat;
      background-position: 96% center;
      background-size: 13px;
  
      li {
        padding: 5px 10px;
        z-index: 2;
        width: calc(100% + 35px) !important;
        border-left: 1px solid #adadad;
        border-right: 1px solid #adadad;
  
        &:last-child {
          border-bottom: 1px solid #adadad;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
  
        &:nth-child(2) {
          border-top: 1px solid #adadad !important;
        }
  
        &:not(.init) {
          float: left;
          width: 100%;
          display: flex;
          flex-direction: column;
          display: none;
          background: $white-color;
          color: #adadad;
  
          &:hover {
            background: #3297FD;
            color: $white-color;
          }
        }
  
        &.selected:not(.init) {
          background: #3297FD;
          color: $white-color;
        }
  
        &.init {
          cursor: pointer;
          height: 100%;
          width: 100% !important;
          align-items: center;
          display: flex;
          white-space: nowrap;
          overflow: hidden;
          border: 0;
          text-overflow: ellipsis;
        }
      }
    }
  }
  










// DETAIL-PAGE START

.prdctDetailwrap{
    .directions{
        margin: 10px 0 20px;
        float: left;
        width: 100%;
       
        .subTitles{
            border-bottom: 1px solid #D6D6D6;
            padding: 0px 0 40px !important;
            margin: 0 0 30px !important;
        }
          
        .descp{
            font-size: 16px;
            font-weight: 500;
            color: $black-color;
            line-height: 22px;
        }
    }
    .recp_detailImg{
        height: 650px;
        overflow: hidden;
        border-radius: 8px;
        img{
            &.sliderImg{
                min-height: 650px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .range-filter{
        .titles{
            text-align: center;
            display: block;
            width: 100%;
            margin: 10px 0;
        }
    }
 
    .prdctInfo-wrap{
        ol.custom-list {
            list-style-type: none; 
            counter-reset: list-counter;
            padding: 0;
            float: left;
            width: 100%;
            margin: 40px 0 20px;
            li{
                position: relative;
                margin: 15px 0; 
                float: left;
                width: 100%;
                padding-left: 50px; 
                counter-increment: list-counter; 
                font-size: 16px;
                font-weight: 500;
                color: $black-color;
                line-height: 22px;
                a{
                    color: $primary-color;
                    text-decoration: underline;
                }
                &::before{
                    content: counter(list-counter) " ";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 25px; 
                    height: 25px; 
                    background-color: $primary-color; 
                    color: #fff; 
                    font-weight: 400;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%; 
                }
            }
        }
        
        &.recipies{
            .dtlsWraper{
                padding-top: 45px;
            }
            .nutritionWtraper{
                .contSect{
                    .tableStyle{
                        margin: 0;
                        a{
                            color: $primary-color;
                            text-decoration: underline;
                        }
                        td{
                            border-bottom: 1px solid #D6D6D6;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            &:last-child{
                                white-space: nowrap;
                            }
                        }
                        tr{
                            &:last-child{
                                td{
                                    border-bottom: 0 !important;
                                    padding-bottom: 15px;
                                }
                            }
                            &:first-child{
                                td{
                                    padding-top: 15px; 
                                }
                            }

                        }
                    }
                } 
            }
        }
    }
    
    

}

.videoWraper{
    margin: 50px 0;
    .videoFrame{
        width: 100%;
        padding: 0;
        margin: 0;
        height: 650px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        video, iframe{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            min-height: 650px;
        }
         
        .playBtn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 110px;
            height: 110px;
            background-color: rgb(168 170 165);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &::before{
                content: '';
                border-style: solid;
                border-width: 13px 0 13px 20px;
                border-color: transparent transparent transparent $black-color;
            }
        }

    }
}


@media (max-width: 767px) {

    .prdctDetailwrap{
        .directions{
            .subTitles{
                padding: 0px 0 20px !important;
                margin: 0 0 20px !important;
                text-align: left !important;
            }
        }
        .prdctInfo-wrap{
            &.recipies{
                .dtlsWraper{
                    border-top: 0;
                    .boxGrids{
                        .divSect {
                            width: 33.2%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .videoWraper{
        .videoFrame{
            height: 390px;
            video, iframe{
                min-height: 390px;
            }
        }
    } 

}
@media (max-width: 380px) {
    .prdctDetailwrap{
        .prdctInfo-wrap{
            &.recipies{
                .dtlsWraper{
                    .boxGrids{
                        .divSect {
                            width: 50%;
                        }
                    }
                }
            }
        }
    } 

}

// DETAIL-PAGE END



// COOKING-PAGE START
.cookingHacks{
    .card{
        margin-bottom: 40px;
        .card-body{
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
    }
    &.rptBoxs-des{
        .btnSpc{
            margin-top: 0;
        }
    }
    
    .cookingHackCard{
        .card{
            .card-body{
                padding-bottom: 20px;
            }
        } 
    }

}

.cookingHackCard{
    .card{
        .card-body{
            .card-text{
                &.text-truncate{
                    margin: 3px 0 0;
                    padding: 0;
                }
            }
        }
        // margin: 0;
    }
    
}

.hacksDtl-title{
    &.campTitles{
        margin: 15px 0 70px;
        padding: 0;
        .mainTitle{
            padding: 0;
            margin: 0;
        }
    }

}
.hacksDtl{
    &.campaignBxWraper{
        .contBoxs{
            .subitle{
                font-size: 21px;
                line-height: 21px;
                font-weight: 500;
            }
        }
    } 
    .numCount{
        font-size: 14px;
        line-height: 16px;
        font-family: $primary-font;
        font-weight: 600;
        p{
            background-color: #F7F7F7;
            border-radius: 4px;
            min-width: 50px;
            min-height: 48px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: $primary-color;
            font-weight: 600;
        }
    }
}
.relatedHacks-dtl{
    padding-top: 140px;
    .card{
        .cardImg{
            height: 258px;
            img.mainImg{
                height: 258px;
            }
        }
    } 
}



@media (max-width: 767px) {

    .cookingHacks{
        .card{
            .cardImg{
                height: 258px;
                img.mainImg{
                    height: 258px;
                }
            }
            .card-body{
                .card-title{
                    padding-right: 20px;
                }

            }
        }
        .cookingHackCard{
            .card{
                .card-body{
                    padding-bottom: 12px;
                }
            } 
        }

    }

    .hacksDtl{
        &.campaignBxWraper{
            .contBoxs{
                .subitle{
                    font-size: 36px;
                    line-height: 38px;
                }
            }
        }
        .numCount{
            margin: 20px 0 0;
            padding: 0;
        }
    }
    .relatedHacks-dtl{
        padding-top: 75px;
        .card{
            margin-bottom: 0;
        }
    }


}





@media (max-width: 480px) {

    .cookingHacks{
        .card{
            .card-body{
                .card-title{
                    padding-right: 0px;
                }

            }
        }
    }

}


// COOKING-PAGE END