
@import 'header';
@import 'footer';
@import 'home';
// @import 'custom';
@import 'animation';

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';




/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@font-face {
    font-family: 'secondary-font';
    src: url('../assets/fonts/corsa_grotesk/typedepot_-_corsa_grotesk_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/corsa_grotesk/typedepot_-_corsa_grotesk_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
    font-family: 'secondary-font', sans-serif;
    margin: 0;
    padding: 0;
}


header, footer, section{
  float: left;
  width: 100%;
}