@use '../../src/scss/custom.scss' as *;



.whereWrapper{
    #mapContainer{
        height: 100%;
        position: relative;
        width: 100%;
        min-height: 750px;
    }
    .mapboxgl-popup-tip{
        display: none;
    }
    .mapboxgl-map{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute !important;
    }
    
    .mapboxgl-canvas{
        width: 100% !important;
        height: 100% !important;
    }
    .mapboxgl-popup{
        max-width: 100% !important;
        .mapboxgl-popup-content {
            background: transparent;
            border-radius: inherit;
            box-shadow: inherit;
            padding: 0;
            p{
                font-size: 16px;
                line-height: 22px;
                font-family: 'secondary-font';
            }
            div > img{
                margin-bottom: 20px;
                padding: 0;
            }
            button{
                background: $primary-color !important;
                font-family: $primary-font !important;
                border-radius: 4px !important;
                font-size: 18px;
                margin: 15px 0;
            }
            .mapboxgl-popup-close-button{
                background: transparent !important;
                margin: 0 !important;
                display: none;
            }
        } 
    }


    .locationTabs{
        margin: 0 0 45px 0;
        .categ_filter{
            .filBtn{
                margin: 0 10px 0  0;
            }

        }
    }
    .tabWraper{
        .tab-pane{
            position: relative;
            .postDiv{
                float: right;
                margin: -98px 0 0 0;
            }
        }

    }
 


    .buyBoxs{
        
        .btnSpace{
            margin-top: 50px;
            .btn-more{
                background-color: $white-color;
                border-color: $primary-color;
                color: $secondary-color;
            }
        }
        .shop_logos{
            padding: 0;
            margin: 0 -10px;
            .card{
               padding: 0 10px;
               .logo-box{
                height: 195px;
                margin-bottom: 20px;
                .bxImg{
                    max-height: 195px;
                }
            }
            }
            
        }
    }
    .mapWraper{
        border-radius: 8px;
        overflow: hidden;
    }  

}

.locTitles{
    .titleWrap{
        margin: 20px 0 50px;
        padding: 0;
    }
}


.filterSection{
    display: flex;
    align-items: center;
    justify-content: end;

    .countryDrops, .form-select {
        border-radius: 4px;
        box-shadow: inherit !important;
        outline: 0;
        height: 52px;
        width: auto;
        max-width: 100%;
        font-size: 16px;
        border: 1px solid $border-color;
        font-family: $primary-font;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(../assets/images/icons/drop-down.svg);
        background-repeat: no-repeat;
        background-position: 93% center;
        background-size: 13px;
    }
    .search-bar-container{
        max-width: 100%;
        margin: 0 0 0 10px;

        .locatSearch{
            &.expanded{
                .search-bar{
                    display: block;
                    height: 52px;
                    width: 320px;        
                    opacity: 1;    
                    @media (max-width: 580px) {
                        width: 220px;
                    }
                }
            }
            .search-bar{
                display: none;
            }
            .serLoc{
                border-radius: 4px;
                box-shadow: inherit !important;
                outline: 0;
                height: 52px;
                width: 58px;
                border: 1px solid $border-color;
                background: transparent;
            }
            .cl_ser{
                height: 100%;
                margin-left: 0px;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 10;
            }

        }
        
        
    }
}










@media (max-width: 767px) {

    .mapboxgl-popup-content > div {
        width: 170px !important;
    }
    .mapboxgl-popup-content img {
        width: 100px !important;
    }

    .locTitles{
        .titleWrap {
            margin: 60px 0;
        }
    } 
    .whereWrapper{
        #mapContainer{
            min-height: 500px;
        }
        .buyBoxs{
            .shop_logos{
                .card{
                    padding: 0 7px;
                    width: calc(100% / 2);
                    .logo-box{
                        height: 190px;
                        margin-bottom: 15px;
                        width: 100% !important;
                        .bxImg{
                            max-height: 190px;
                        }
                    }
                }
            }
            .btnSpace {
                margin-top: 40px;
            }
        } 
        .locationTabs{
           .categ_filter{
                display: flex;
                justify-content: space-between;
                li.nav-item{
                    width: 49%;
                    .filBtn{
                        margin: 0;
                        width: 100%;
                    }
                }
                
            }
        }
        .filterSection{
            .countryDrops, .form-select{
                width: 100%;
                font-family: $primary-font;
                
            }
            .dropdown-container {
                width: calc(100% - 68px);
                font-family: $primary-font;
            }
        }
        
        .tabWraper{
            .tab-pane{
                .postDiv{
                    float: inherit;
                    margin: 0 0 35px;
                    width: 100%;;
                }

            }
        }
    }  
    
    .filterSection{
        gap: 10px;
        .search-bar-container{
            margin: 5px 0;
            flex: 1;
    
            .locatSearch{
                &.expanded{
                    .search-bar{
                        width: 100%;
                    }
                }
            }
    
        }
    }

    
}
@media (max-width: 420px) {

    .whereWrapper{
        .locationTabs{
            margin: 0 0 15px 0;
           .categ_filter{
                li.nav-item{
                    width: 48%;
                    
                }
            }
        }
        
    }  


    
}